/* Colors */
@green: #37df97;

@sidebar-bg: #7a8074;
@sidebar-active-bg: #ccda61;
@sidebar-hover-bg: #60665a;
@sidebar-icon-color: #fff;

@page-header-text-color: rgba(0,0,0,1);
@builder-page-bg: #e8ebdd;
@section-bg: #fff;
@card-bg: #dbe0cb;
@card-title-bg: #bbc1a9;
@card-title-color: #fff;
@transform-card-bg: rgba(255,255,255,0.1);
@algorithm-background: #797f73;	

@results-stroke-color: #bcbfb3;

@scrollbar-bg: #e8ebdd;
@scrollbar-rail: #dde0d3;
@scrollbar-handle: #bcbfb8;

@link-color: darken(#bbc1a9, 15%);
@link-color-hover: @green;

@dropdown-bg: #7a8074;
@dropdown-color: #fff;
@dropdown-stroke: lighten(@dropdown-bg, 15%);
@dropdown-bg-hover: darken(@dropdown-bg, 25%);
@dropdown-bg-selected: darken(@dropdown-bg-hover, 10%);
@dropdown-value-bg: #fff;
@dropdown-value-color: @dropdown-bg;


.scrollbars(@size, @foreground-color, @background-color: mix(@foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  @size;
      height: @size;
  }

  ::-webkit-scrollbar-thumb {
      background: @foreground-color;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
   	  -webkit-border-radius: @size;
   	  border-radius: @size;
  }

  ::-webkit-scrollbar-track {
      background: @background-color;
      -webkit-border-radius: @size;
   	  border-radius: @size;
   	  margin: 2px 0px;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: @foreground-color;
    scrollbar-track-color: @background-color;
  }
}

body {
	.scrollbars(6px, @scrollbar-handle, @scrollbar-rail);
	::-webkit-scrollbar-thumb {
		
  	}
}

body.slightly-rounded {
  ::-webkit-scrollbar-thumb {
  	  -webkit-border-radius: 3px;
      border-radius: 3px;
  }
}

body.rounded {
  ::-webkit-scrollbar-thumb {
  	  -webkit-border-radius: 5px;
      border-radius: 5px;
  }
}

/* Sidebar */

.sidebar {
	background: @sidebar-bg;
}

.sidebar li a {
	color: @sidebar-icon-color !important;
}

.sidebar li:hover a {
	background: @sidebar-hover-bg !important;
}

.sidebar li.active a {
	background: @sidebar-active-bg !important;
}

/* Header bars */

.page-header {
	background: @builder-page-bg;
	color: @page-header-text-color;
	border-width: 0px;
	/*font-size: 20px;*/
	text-transform: none;
	padding-left: 20px;
	/*font-weight: normal;*/

}

/* Builder */

.main-column {
  padding: 0px !important;
}

.content {
	background: @builder-page-bg;
}

.inputs-area {
	border-color: rgba(0,0,0,0.15);
}

.builder-area, .inputs-area {
	margin: 5px;
	padding: 5px;
	padding-top: 0px;
	background: @section-bg;
	border-radius: 5px 5px 0px 0px;
	box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.15);
}

.inputs-area {
	margin-top: 3px;
}

.algorithm-name-area {
	background: @algorithm-background;
	padding: 8px;

	.algorithm-left {
		padding-right: 4px;
	}

	.algorithm-right {
		padding-left: 4px;
	}
}


.button {
	background: #51594a;
	border-width: 0px;
	color: #fff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	
	&:hover {
		color: #fff;
		background: darken(#51594a, 10%);
	}
}

.more-button {
	background: rgba(0,0,0,0.25);
	color: #fff;
	border-color: #fff;
	border-width: 2px;
	font-size: 14px;
}

.card .more-button {
	top: 6px;
	right: 6px;
}

.more-button:hover, .more-button-showing {
	border-color: #fff;
	border-width: 0px;
	background: rgba(122,128,116,0.9);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.more-menu-item {
	color: #fff;
}

.more-menu-item:hover {
	background: rgba(0,0,0,0.25);
}

/* Inputs */

input {
	color: #58645c;
	padding: 5px;
	padding-left: 10px;
	/*font-weight: 100;*/
	/*letter-spacing: 0.5px;*/
}

.card input[type="text"] {
	background: #fff;
	&:hover {
		background: rgba(255,255,255,255);
	}
}

.input {
	padding: 8px;
}

.input input {
	border-radius: 4px !important;
	border-width: 0px !important;
}

.input-name-area {
	margin-bottom: 8px;
	input {
		width: 100% !important;
	}
}

.input:hover {
	.input-name-area input {
		width: calc(100% - 17px) !important;		
	}
}

/* Cards */

.card, .input {
	background: @card-bg;
	border-radius: 5px;
	/*overflow: hidden;*/
}

.card-title {
	background: @card-title-bg;
	color: @card-title-color;
	margin-top: -5px;
	padding: 7px;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.25);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	font-size: 16px;
	font-weight: 700;
	text-transform: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: -5px;
  	margin-right: -5px;

	&:hover {
		background: darken(@card-title-bg, 15%);
		color: @card-title-color;
	}
}

.card-body {
	padding: 0px 0px;
}

.card-body-spacing {
	height: 15px;
}

.card-transform-area {
	background: @transform-card-bg;
}

.card-select-field {
	border-width: 0px;

	.card-select-delete {
		opacity: 0;
		-webkit-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}

	&:hover {
		.card-select-delete {
			opacity: 1;
		}
	}
}

.card-select-area {
	padding: 0px;
}

.terrain-dropdown-value-area {
	background: @dropdown-value-bg;
	color: @dropdown-value-color;
}

.terrain-dropdown-cell-area .terrain-dropdown-cell {
	border-color: @dropdown-stroke;
	background: @dropdown-bg;
	color: @dropdown-color;

	&:hover {
		background: @dropdown-bg-hover;
	}


	&.selected {
		background: @dropdown-bg-selected;
		&:hover {
			background: @dropdown-bg-selected;
		}
	}
}

.new-field-input {
	/*width: 100%;*/
}

/* New Cards Area */

.new-card input {
	background: #fff !important;
}

.new-card-text-area {
	padding: 10px;
}

.new-card-suggestions-area {
	margin: -5px;
	margin-top: 5px;
	padding: 15px;
	background: #7d7d7b;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 75px;
	white-space: nowrap;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.new-card-suggestion {
	padding: 10px 15px;
	background: #bcc1aa;
	border-width: 0px;
	color: #fff;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
	margin-right: 10px;
}

.new-card-hide-btn {
	font-size: 14px;
	color: @link-color;
}

.new-card-hide-btn:hover {
	color: @link-color-hover;
}


.result-inner {
	border: 1px solid #bcbfb3;
}