.autocomplete {
	position: relative;
}

.autocomplete-results {
	text-transform: none;
	position: absolute;
	background: #fff;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #37df97;
	font-size: 17px;
	z-index: 999;
}

.autocomplete-result, .autocomplete-placeholder {
	padding: 5px 4px;
	color: #37df97;
	font-weight: 500;
	cursor: pointer;
}

.autocomplete-result-selected, .autocomplete-result:hover {
	background: #37df97;
	color: #fff;
}