@import "../../../../common/Common.less";

.transform-card-weight-output {
  background: @white;
  color: @bright-green;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
}

.transform-card-no-weighter {
  padding: 10px;
  font-style: italic;
  text-align: center;
  color: @dark-green;
}