/* Colors */

// text
@white-green: #f3f7f1;
@light-gray: #9a9a9a;
@gray: #636363;
@dark-gray-green: #626e5d;
@dark-gray: #424242;
@bright-green: #8cd56a;

// backgrounds
@white: #fff;
@light-green: #d6f2c7;
@medium-green: #bcd4ae;
@medium-dark-green: #a8bf9c;
@dark-green: #9eb292;


/* Other */

@medium-font-size: 14px;