@import "../../../common/Common.less";

.pathfinder-column {
	padding: 0px @double-spacing;
	padding-bottom: @double-spacing;
	// padding-top: 2 * @spacing;
	margin-left: -12px;
	margin-right: -6px;
	font-size: @pretty-large-font-size;
	height: 100%;
  overflow: auto;
    
	.pf-section {
		margin-bottom: 2 * @spacing;
		
		.pf-section-subtitle {
			font-size: @font-size;
			padding-top: 4px;
			padding-bottom: 8px;
			font-style: italic;
		}
	}		
	
	.pf-section-title {
		padding: @spacing;
		margin: 0px -2 * @spacing;
		margin-bottom: @spacing;
		
		.pf-section-title-title {
			font-size: @large-font-size;
		}
		
		.pf-section-title-text {
			font-size: @font-size;
		}
	}
	
	.pf-create {
		.transition;
		cursor: pointer;
		font-size: @font-size;
	}
	
	.pf-line {
		display: flex;
		align-items: center;
		padding: @half-spacing 0px;
		
		.pf-piece {
			margin: 0px @half-spacing;
		}
		.pf-score-line-inner {
			.builder-tb {
				flex-basis: 50px;
				margin: 0px 4px;
			}
		}
		.pf-score-line-text {
			font-size: @font-size;
			margin: 0px 4px;
			flex-basis: 50px;	
		}	
		&.pf-score-line-inner {
			padding: 0px 12px;

		}
		.pf-line-right {
			display: flex;
			.expand {
				cursor: pointer;
			}
			.close {
				margin-top: 6px;
    			margin-left: 6px;
			}
			.pf-score-line-expand {
				display: flex;
				font-size: @font-size;
				span {
					padding-right: 6px;
    				padding-top: 3px;
				}
			}
		}
	}
	.pf-score-line-transform {
		padding-bottom: 10px;
			.transform-card-inner {
				margin-left: -17px;
				width: 100%;
			}
			.yLeftAxis, .bottomAxis {
				font-size: @small-font-size;
			}
			.yRightAxis {
				display: none;
			}
			.tp-text-wrapper {
				left: 30px;
			}
		}
	.pf-score-line {
		margin: 12px;
	}

	.pf-section 
	{
		.drag-icon {
			padding-top: 8px;
		}
	}
}

