/* feel free to add more styles here */

@terrain-blue: #1eb4fa;
@lightest-grey: #f0f2f4;
@med-grey: #e2e4e9;
@grey: #d4d7da;
@grey-text: #a0a4a9;

@border-radius: 5px;


*, *:before, *:after {
  box-sizing: border-box;
}

.flex {
  // Utility class for horizontally stacking things
  display: flex;
  position: relative;
  align-items: center;
}

.flex-stack {
  // Utility class for vertically stacking things
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-grow {
  // Use this within a flex-stack to make a piece of content grow
  flex-grow: 1;
  position: relative;
}

.clickable {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
    
  cursor: pointer;
  &:hover {
    color: @terrain-blue;
  }
}

.blue-clickable {
  .clickable;
  color: @terrain-blue;
}


html, body, #app, .app-container {
  font-family: 'Lato', Helvetica, sans;
  color: #242424;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#app {
  overflow: hidden;
}

@header-height: 25px;

.header {
  text-align: left;
  color: #42474f;
  padding: 6px 6px;
  font-size: 12px;
  height: @header-height;
  box-sizing: border-box;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  
  b {
    font-weight: 200;
    color: @terrain-blue;
  }
  
  em {
    font-style: normal;
    color: @grey-text;
  }
}

.page {
  @page-margin: 6px;
  
  position: absolute;
  top: 0px;
  width: calc(~"100% - @{page-margin} * 2");
  height: calc(~"100% - @{page-margin}");
  left: @page-margin;
  transition: 0.35s all;
  border-radius: @border-radius;
  background: @lightest-grey; 
  border: 1px solid @grey;
}

.needed {
  margin: 6px;
  padding: 6px 12px;
  color: @grey-text;
}

.columns {
  display: flex;
  height: 100%;
  position: relative;
  
  .column {
    flex-grow: 1;
    flex-basis: 50%;
    height: 100%;
    position: relative;
    
    .flex-stack;
    
    .column-name {
      font-size: 18px;
      padding: 12px 18px;
    }
    
    
    @col-margin: 6px;

    .column-content {
      .flex-grow;
      .flex-stack;
      overflow-y: auto;
      background: #fff;
      border: 1px solid @med-grey;
      margin-bottom: @col-margin;
    }
    
    &:first-child {
      .column-content {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        margin-left: @col-margin;
        border-right-width: 0px;
      }
    }
    
    &:not(:first-child) {
      border-left: 1px solid #ddd;
      
      .column-content {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        margin-right: @col-margin;
        border-left-width: 0px;
      }
    }
    
  }
}

.button, .big-button {
  border-radius: 3px;
  .blue-clickable;
  cursor: pointer;
  transition: all 0.15s;
  background: #fff;
  
  font-size: 12px;
  margin: 6px 12px;
  padding: 6px;
  
  &:hover,
  &.button-selected {
    color: #fff;
    background: @terrain-blue;
    
    &.button-selected:hover {
      background: darken(@terrain-blue, 10%);
    }
  }
  
  &.big-button {
    margin: 12px;
    padding: 12px;
    font-size: 14px;
    border: 2px solid @terrain-blue;
    text-align: center;
  }
}

.explanation-section {
  margin: 6px 18px;
  color: @grey-text;
}

.divider {
  margin: 12px;
  height: 1px;
  background: @med-grey;
}

.veil {
  background: rgba(0,12,24,0);
  transition: all 0.25s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
  &.veil-showing {
    background: rgba(0,12,24,0.65);
  }
}

.cancel {
  color: @grey-text;
  .clickable;
  margin-right: 12px;
  font-size: 12px;
  padding: 12px;
}

.control-bar {
  background: #fff;
  padding: 12px;
  border-bottom: 1px solid @grey;
  
  .button, .big-button {
    margin: 0px;
  }
}

.input-container {
  position: relative;
  flex-grow: 1;
  margin: 0px 12px;
  
  @left: 12px;
  
  label {
    position: absolute;
    left: @left;
    top: 14px;
    font-size: 16px;
    transition: all 0.15s;
    color: @grey-text;
  }
  
  input {
    padding-right: 6px;
    padding-left: @left;
    padding-top: 20px;
    padding-bottom: 4px;
    border-radius: 3px;
    width: 100%;
    border: 1px solid @grey;
    outline: none;
    font-size: 18px;
  }
  
  &.input-container-active {
    label {
      font-size: 10px;
      top: 6px;
    }
  }
}

.section-header {
  padding: 6px 0px;
  margin: 6px;
  border-bottom: 1px solid @grey;
}

.steps {
  padding: 6px;
}

.step {
  padding: 6px;
  display: flex;
  align-items: center;
}

.number {
  display: inline-block;
  border-radius: 999px;
  width: 22px;
  height: 22px;
  font-size: 12px;
  background: @grey;
  color: #fff;
  margin-right: 12px;
  text-align: center;
  padding-top: 4px;
}
