@import "../../../common/Common.less";

.pathfinder-column-wrapper {
	.pf-area {
		font-size: @pretty-large-font-size;
		height: 95%;
		overflow: auto;
		border-radius: 3px;
		padding: 0px @double-spacing;
		padding-bottom: @double-spacing;
		.pf-column-name-background {
			width: 100%;
			height: 54px;
			left: 0px;
			z-index: 9999;
			position: absolute;
			.pf-column-name {
				max-width: 180px;
				margin-top: 6px;
				left: 1px;
				position: absolute;
			}
		}
		.pathfinder-column-content {
			padding-bottom: 60px;
			.pf-section {
				margin-bottom: 2 * @spacing;
				.pf-section-subtitle {
					font-size: @font-size;
					padding-top: 4px;
					padding-bottom: 8px;
					font-style: italic;
				}
				.pf-section-title-text {
					font-size: @font-size;
				}
				.pf-step-button {
					font-size: 16px;
					margin-top: 12px;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
				}
				.drag-icon {
					padding-top: 8px;
				}
				.pf-create {
					.transition;
					cursor: pointer;
					text-transform: uppercase;
					font-size: @small-font-size;
					&:hover {
						text-decoration: underline;
					}
					position: relative;
				}
				.pf-line {
					display: flex;
					align-items: center;
					padding: @half-spacing 0px;
					.pf-piece {
						margin: 0px @half-spacing;
						display: block;
						position: relative;
						.fade-in-quick;
						&.pf-piece-hidden {
							display: none;
						}
					}
				}
			}
		}
	}
}