@import "~common/Common.less";

.template-editor-options-column {
  align-self: stretch;
  border-radius: 3px;
  height: 100%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-y: overlay; // webkit only

  .options-column-content {
    padding: @spacing;
    display: flex;
    flex-direction: column;
  }

  .endpoint-type-block {
    margin: @half-spacing 0px;
    
    .endpoint-type-title {
      padding: @quarter-spacing;
    }
  }

  .endpoint-block {
    display: flex;
    flex-direction: column;

    .endpoint-name-section {
      padding: @half-spacing;
    }
  }

  .endpoint-type-form {

  }

}