@import "~common/Common.less";

.template-editor-options-column {
  padding: @spacing;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 3px;
  height: 100%;

  .endpoint-type-block {
    margin: @half-spacing 0px;
    
    .endpoint-type-title {
      padding: @quarter-spacing;
    }
  }

  .endpoint-block {
    display: flex;
    flex-direction: column;

    .endpoint-name-section {
      padding: @half-spacing;
    }
  }

}