@import "../../common/Common.less";

.manual-search-input {
	width: 210px;
	margin-right: 8px;
	font-color: #636363;
	padding-left: 30px;
}

.manual-topbar {
	width: 100%;
	margin-top: 2px;
	position: relative;
}

.manual-search-icon{
	height: 16px;
	margin-top: 1px;
	margin-left: 4px;
	background-color: white;
	padding: 4px;
	margin-right: -26px;
	z-index: 1;
	fill: #636363;
}

.manual-area {
	margin-left: 10px;
	margin-right: 10px;
}

.manual-search-bar {
	display: inline-flex;
	position: absolute;
	right: 0px;
}

.manual-content-area {
	position: absolute;
	top: 30px; 
}

.manual-close-icon {
	width: 8px;
	fill: rgba(75, 75, 75, .7);
	height: 8px;
	position: absolute;
	top: 10px;
	right: 6px;
	cursor: pointer;
	opacity: 0;
}