@import "../../common/Common.less";

.manual-search-input {
	width: 210px;
	margin-right: 8px;
	font-color: #636363;
	padding-left: 30px;
}

.manual-search-icon {
	height: 16px;
	margin-top: 1px;
	margin-left: 4px;
	padding: 4px;
	margin-right: -26px;
	z-index: 1;
	fill: #636363;
}

.manual-area {
	height: 100%; 
	overflow-y: hidden;
	position: relative;
}

.manual-search-bar {
	display: inline-flex;
	position: absolute;
	padding-right: 14px;
	right: 6px;
	input {
		border: 1px solid #d2d2d2;
	}
	.ac-options {
		min-width: calc(~"(100% - 6px)");
		right: 7px;
		max-height: 335px;
		overflow: auto;
	}
}

.manual-content-area {
	position: relative; 
	margin-right: 4px;
	margin-left: -14px;
	padding-left: 14px;
	height:  calc(~"100% - 60px");
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	padding-right: 0px;
}

.manual-content-area-builder-tab {
	margin-right: 6px;
	margin-left: 0px;
	border: none;
}

.manual-close-icon {
	width: 8px;
	fill: rgba(75, 75, 75, .7);
	height: 8px;
	position: absolute;
	top: 10px;
	right: 32px;
	cursor: pointer;
	opacity: 0;
}

.manual-left-column {
    float: left;
    position: relative;
    width: 200px;
    height: 100%;
    float: left;
    margin: 0;
    background: rgba(162, 175, 147, 0.2);
}


.manual-right-column {
    margin-left: 125px;
    padding: 1em;
    padding-top: 0px;
    padding-right: 0px;
    height: 100%;
}


.manual-topbar{
    padding-bottom: 14px;
    padding-top: 4px;
    height: 20px;
    clear: left;
    text-align: center;
    background: #828c76;
    &.builder-manual-topbar {
    	padding: 0;
    	height: 25px;
    	background: white;
    	.manual-home-icon {
    		display: none;
    	}
    	.manual-search-bar {
    		padding-right: 0px;
    		input {
    			height: 20px;
    			margin-top: 2px;
    		}
    		.manual-search-icon {
    			height: 12px;
    			margin-top: 2px;
    		}
    		.manual-close-icon {
    			top: 8px;
    			right: 16px;
    		}
    	}
    }
}

.manual-left-column-entry {
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 45px;
	width: 68%;
	margin-left: 6px;
	border-radius: 6px; 
	&:hover {
		background: fade(#f6f9f2, 40%);
	}
}

.manual-entry-left-selected {
	background: #f6f9f2;
	color: black; 
	&:hover {
		background: #f6f9f2;
	}
}
.manual-home-icon {
	height: 18px;
	float: left; 
	padding-top: 6px;
	padding-left: 14px;
	fill: #cdd1c8;
	cursor: pointer;
}

.manual-left-column-section-heading-green {
	color: #b37e7e;
}	

.manual-left-column-section-heading-blue {
	color: #89b4a7;
}

.manual-left-column-section-heading {
	font-weight: bold;
	margin-bottom: 3px;
	margin-top:3px;
	cursor: pointer;
	padding-left: 15px;
	width: 87%;
	&:hover {
		.manual-arrow-icon {
			opacity: 1;
		}
	}
}

.manual-arrow-icon {
	height: 10px;
	width: 10px;
	fill: #89b4a7;
	display: inline-block;
    .transition;
    position: relative;
    margin-left: 8px;
    margin-right: 4px;
    .rotate90;  
    opacity: 0.5; 
}

.manual-arrow-icon-green {
	fill: #b37e7e;
}

.manual-arrow-icon-open {
	.rotate(0);
}

.manual-left-column-row {
	height: 22px;
}

.manual-left-column-title {
	font-weight: bold;
	font-size: 16px;
	margin-left: 8px;
	cursor: pointer;
	padding-left: 0px;
	width: 94%;
	.manual-arrow-icon {
		fill: #636363;
	}
	&:hover {
		.manual-arrow-icon {
			opacity: 1;
		}
	}
	span {
		padding-right: 60%;
		color: #636363;
	}
}

.manual-sidebar {
	margin-left: 3px;
	transition: all .25s ease-in-out;
	overflow: hidden;
}

.manual-sidebar-section {
	transition: all .2s ease-in-out;
	overflow: hidden;
	width: 200px;
}
