@import "../../common/Common.less";

.manual-info-wrapper {
	position: absolute;
	

	.manual-info-indicator {
		background-color: rgba(255,60,70,1);
		height: 8px;
		width: 8px;
		border-radius: 50%;
		cursor: pointer;
		z-index: 999;
		&:hover {
			background-color: rgba(255,60,70,0.5);
			+ .manual-info-content {
				visibility: visible;
			}
		}
	}
	.manual-info-content {
		height: auto;
		width: 125px;
		visibility: hidden;
		background-color: #222;
		color: #fff;
		position: absolute;
		top: 22px;
		border-radius: 3px;
		padding: 8px 16px;
		font-size: 12px;
		z-index: 999999999;
		text-align: left;
		&:not(.manual-info-content-right) {
			left: -75px;
		}
		&.manual-info-content-wide {
			width: 200px;
			left: -112px;
		}
		&.manual-info-content-left {
			left: 0px;
		}
		&.manual-info-content-right {
			right: 0px;
		}
	}
	.manual-info-content:before, .manual-info-content:after {
	    content: "";
	    width: 0px;
	    height: 0px;
	    position: absolute;
	    top: -8px;
	    right: calc(~"50% - 8px");
	}

	.manual-info-content-left:before, .manual-info-content-left:after{
		right: calc(~"100% - 20px") !important;
	}

	.manual-info-content-right:before, .manual-info-content-right:after{
		right: 2px !important;
	}

	.manual-info-content:before {
	    border-right: 10px solid transparent;
	    border-left: 10px solid transparent;
	}

	.manual-info-content:after {
	    border-bottom: 8px solid #222;
	    border-right: 8px solid transparent;
	    border-left: 8px solid transparent;
	}
}