@import "../../common/Common.less";

.manual-entry-keyword {
	color:  #00bcd6;
	cursor: pointer;
	&:hover {
		color: #ff3c46;
	}
}

.manual-entry-phrase-type{
	color: #8ac541;
	cursor: pointer;
	&:hover {
		color: #ff3c46;
	}
}

.manual-entry{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.manual-entry-name {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.5;
	color: #00bcd6;
	cursor: pointer;
}

.manual-entry-name-green{
	color: #8ac541;
}

.manual-entry-expanded-area {
	margin-top: 6px;
	margin-left: 24px;
	margin-right: 24px;
}

.manual-entry-row {
	display: flex;
	width: 100%;
	margin-bottom: 5px;
}

.manual-entry-white-space {
	flex-grow:1;
}

.manual-entry-expand {
    cursor: pointer;
}

.manual-entry-arrow-icon {
	height: 12px;
	width: 12px;
	display: inline-block;
    .transition;
    position: relative;
    top: 5px;
    margin-right: 4px;
    .rotate90;   
}

.manual-entry-arrow-icon-open {
	.rotate(0);
}

.manual-entry-summary{
	font-size: 16px;
	margin-left: 24px;
	margin-top: 4px;
}


.manual-entry-codemirror {
	margin-top: 15px;
	position: relative;
	background-color: #272822;
	width: 100%;
	border-radius: 6px;
	.ReactCodeMirror {
		position: relative;
		width: calc(~"100% - 12px");
		left: 6px;
		height: 100%;
		.CodeMirror-vscrollbar {
			overflow-y: hidden;
		}
		.CodeMirror-hscrollbar {
			display: none;
		}
		.cm-s-monokai {
			height: 100% !important;
		}
	}
}

.manual-entry-demo-box {
	background-color: rgba(221, 230, 204, 0.5);
	position: relative;
	left: 15%;
	width: 70%;
	padding: 20px;
	margin-top: 15px;
	box-shadow: 1px 1px 10px 1px #646464;
	border-radius: 6px;
	margin-bottom: 15px;
}

.manual-entry-demo {
	position: relative;
	width: 100%;

	.card-add-card-btn {
		visibility: hidden;
	}
	.card {
		position: relative;
		.card {
			width: 100%;
			left: 0%;
		}
		.manual-popup-wrapper, .menu-wrapper, .card-arrow-icon {
			visibility: hidden;
		}
		.card-field-tools-right-inner, .card-field-tools-left-inner {
			opacity: 1;
			.card-field-add:hover {
				background: #fff;
				svg {
					fill: #8ac541;
				}
			}
			.card-field-remove:hover {
				background: transparent;
				svg {
					fill: #777;
				}
			}
		}
	}
}
