@import "../../common/Common.less";

.schedule-list-wrapper {
	padding: 12px;
	.routeselector-picker {
		.routeselector-value-component {
			.floating-input-container {
				margin-left: 12px;
				width: calc(~"100% - 12px");
			}
		}
	}
}