@import "../../common/Common.less";

.fi-preview-row {
  white-space: nowrap;

  .fi-preview-row-cell-wrapper {

    .fi-preview-row-cell {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      margin: 1px 6px;
      width: 300px;
      height: 40px;
      overflow: auto;
      position: relative;

      .fi-preview-row-cell-text {
        padding: 12px;
        float: left;
      }

      .fi-preview-row-disabled-veil {
        position: absolute;
        width: 300px;
        height: 40px;
        background: rgba(0,0,0,0);
        opacity: 0;
        pointer-events: none;
        .transition(~"all 0.35s");
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

    .fi-preview-row-cell-disabled {
      text-align: left;

      .fi-preview-row-disabled-veil {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}


