@import "../../common/Common.less";

.fi-preview-row {
  white-space: nowrap;

  .fi-preview-row-cell {
    display: inline-block;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0px 6px;
    width: 300px;
  }
}
