@import "../../common/Common.less";

.fi-preview-column {
  display: inline-block;
  width: 300px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  background-color: #9d6b6b;
  margin: 6px;
}

.fi-preview-edit-button {
  .fi-button;
}
