@import "../../common/Common.less";

.file-import {
	height: 100%;
	position: relative;
	
	.file-import-inner {
		.dead-center;
	}
	
	.fi-step-name {
		.title-text;
		text-align: center;
	}
	
	.fi-step-title {
		.normal-text;
		text-align: center;
	}
	
	.fi-nav-button {
		font-size: 16px;
		padding: 6px 12px;
		border-radius: 3px;
		cursor: pointer;
	}

}
