@import "../../common/Common.less";

.fi-preview-row {
  height: 100px;
  white-space: nowrap;

  .fi-preview-row-cell {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    width: 300px;
  }
}
