@import "../../common/Common.less";

.file-import {
	height: 100%;
	position: relative;

	.file-import-inner {
		.dead-center;
    min-width: 250px;
    max-width: 100%;

    .fi-step {
      .fi-step-name {
        .title-text;
        text-align: center;
        margin-bottom: 12px;
      }

      .fi-step-title {
        .big-text;
        text-align: center;
      }
    }

    .fi-content {
      margin-top: 24px;
      width: auto;
      padding: 12px;
      border-radius: 3px;
      max-width: 100%;
      margin: 12px;

      .fi-step-row {
        margin-bottom: 12px;
        align-items: center;
      }

      .fi-input-label {
        margin-left: 12px;
      }
    }

    .fi-nav {
      float: right;
      margin-top: 12px;

      .fi-back-button {
        .fi-button;
        display: inline-block;
      }

      .fi-next-button {
        .fi-button;
        display: inline-block;
      }
    }
	}

  input[type=file] {
    display: none;
  }
}
