@import "../../common/Common.less";

.fi-preview {
  width: 1200px;
  white-space: nowrap;

  .fi-preview-template {

    .fi-preview-load {
      width: 600px;

      .fi-load-button {
        .fi-button;
        width: 150px;
        display: inline-block;
      }

      .fi-load-dropdown {
        display: inline-block;
        vertical-align: middle;
        width: 300px;
      }
    }

    .fi-preview-save {
      width: 600px;

      .fi-save-button {
        .fi-button;
        width: 150px;
        display: inline-block;
      }

      .autocomplete {
        display: inline-block;
        vertical-align: middle;
        width: 300px;
      }
    }
  }

  .fi-preview-table-container {
    overflow-x: scroll;

    .fi-preview-columns-container {
    }

    .fi-preview-rows-container {
    }
  }

  .fi-preview-import-button {
    .fi-button;
    float: right;
  }
}
