@import "../../common/Common.less";
@import "../../App.less";

@padding: 6px;
@primary-key-padding: 12px 6px;

.fi-preview {
  white-space: nowrap;

  .fi-preview-loading-container {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    .transition(~"all 0.5s");
  }

  .fi-preview-topbar {
    justify-content: space-between;

    .fi-preview-template {

      .fi-preview-template-wrapper {
        align-items: center;
        margin-bottom: 12px;
        margin-left: 12px;

        .fi-preview-template-button {
          .button;
        }

        .fi-preview-template-delete-dropdown {
          min-width: 150px;
        }

        .fi-preview-template-load-dropdown {
          min-width: 150px;
        }

        .autocomplete {
          min-width: 150px;
        }
      }
    }

    .fi-preview-pkeys {
      margin-left: 6px;
      margin-bottom: 6px;
      max-width: 300px;
      flex-wrap: wrap;

      .fi-preview-pkeys-wrapper {

        .fi-preview-pkeys-pkey {
          .big-text;
          padding: @primary-key-padding;
          margin-bottom: 3px;
          border-radius: 3px;

          .delete-primary-key {
            margin-left: 6px;
          }
        }

        .fi-preview-pkeys-delim {
          .big-text;
          padding: @primary-key-padding;

          .autocomplete {
            max-width: 30px;
          }
        }
      }

      .fi-preview-pkeys-nokey {
        .big-text;
        padding: @padding;
        vertical-align: middle;
      }
    }
  }

  .fi-preview-table-container {
    overflow-x: auto;

    .fi-preview-columns-container {
    }

    .fi-preview-rows-container {
    }
  }

  .fi-import-button-wrapper {
    text-align: center;
    margin-top: 12px;

    .fi-preview-update {
      color: #FFFFFF;
    }

    .fi-preview-import-button {
      .button;
    }
  }
}
