@import "../../common/Common.less";

.fi-preview {
  white-space: nowrap;

  &.fi-preview-export {
    padding: 12px;
  }

  .fi-preview-empty-export {
    .big-text;
    padding: 24px;
  }

  .fi-preview-table-container {
    overflow: auto;

    .fi-preview-columns-container {
    }
  }

  .fi-preview-topbar {
    justify-content: space-between;

    .fi-preview-template-wrapper {

      .fi-preview-template {
        align-items: center;
        margin-bottom: 12px;
        margin-left: 12px;

        .fi-preview-template-button {
        }
      }
    }

    .fi-preview-pkeys-wrapper {
      margin-left: 6px;
      margin-bottom: 6px;
      min-height: 50px;
      flex-wrap: wrap;

      .fi-preview-pkeys {

        .fi-preview-pkeys-pkey {
          margin-bottom: 3px;
          border-radius: 3px;

          .delete-pkey {
            margin-left: 6px;
          }
        }

        .fi-preview-pkeys-delim {

          .autocomplete {
            max-width: 40px;
          }

          .fi-preview-pkeys-delim-span {
            padding: 6px 12px;
            border-radius: 3px;
          }
        }
      }

      .fi-preview-pkeys > * {
        .big-text;
        padding: 12px;
      }

      .fi-preview-pkeys-nokey {
        .big-text;
        padding: 12px;
        vertical-align: middle;
      }
    }
  }

  // right-align templates in export where there are no primary keys
  .fi-preview-topbar-export {
    justify-content: flex-end;
  }

  .fi-preview-bottombar {
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;

    .fi-preview-loading {
      text-align: center;
      border-bottom: 1px solid #ccc;
      margin: 24px 0px;
      padding-bottom: 24px;
      .transition(~'all 0.5s');
    }

    .fi-preview-import {
      margin-left: 12px;
      align-self: flex-end;
      height: 30px;
    }

    .fi-preview-update {
      flex-direction: column;
      white-space: normal;
      align-items: center;
      text-align: center;

      .fi-preview-update-text {
        word-wrap: break-word;
        max-width: 500px;
        margin-bottom: 6px;

        .fi-preview-update-text-text {
          .big-text;
          padding: 3px;
        }
      }

      .fi-preview-update-button-row {
        flex-direction: row;
        margin-bottom: 6px;
      }

      .fi-preview-update-button {
        width: 200px;
        margin-left: 6px;
        padding: 4px 18px;
        border-radius: 3px;

        .fi-preview-update-button-header {
          justify-content: center;
          align-items: center;

          .fi-preview-update-button-header-title {
            .title-text;
          }
        }

        .fi-preview-update-button-subtext {
        }
      }
    }
  }
}
