@import "../../common/Common.less";

.fi-advanced-fields {
  .fi-advanced-fields-row {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 32px;
    display: inline-flex;
    label {
      margin-top: -2px;
    }
    .fi-export-advanced-checkbox {
      margin-right: 6px;
      .check-mark-icon {
        height: 8px;
        margin-left: 1px;
      }
    }
  }
  .fi-advanced-fields-dropdown-label {
    margin-bottom: 6px;
    margin-left: 31px;
  }
  .fi-advanced-fields-dropdown {
    margin-bottom: 30px;
    // margin-bottom: 30px;    

    width: 75%;
    margin-left: 31px;
    
    .dropdown-options-wrapper {
      max-height: 56px;
      overflow-y: scroll;
    }
  }
  .fi-advanced-fields-input {
    width: 75%;
    margin-left: 31px;
    // margin-bottom: 30px;
  }
  .fi-advanced-bottom-margin {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.file-import {
	height: 100%;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  // TODO: find better way of preventing dropdown option clipping
  .file-import-inner-server-step {
    padding-top: 200px;
    padding-bottom: 200px;
  }

	.file-import-inner {

    &.file-import-inner-scroll {
      overflow: auto !important;
    }

    min-width: 300px;
    max-width: 100%;

    max-height: 100%;
    overflow: hidden;

    .fi-step {
      margin-top: 12px;

      .fi-step-name {
        .title-text;
        text-align: center;
        margin-bottom: 12px;
      }

      .fi-step-title {
        .big-text;
        text-align: center;
      }
    }

    .fi-content {
      width: auto;
      margin: 24px 12px 12px 12px;
      padding: 12px;
      border-radius: 3px;
      max-width: 100%;

      .fi-import-success-wrapper {
        width: 550px;
        height: 245px;
        padding: 0px;
        margin: 0px;

        .fi-import-success-header {
          text-align: center;
          font-size: @large-font-size;
          font-weight: @bold-font-weight;
        }
        .fi-import-success-button {
          @button-width: 144px;
            margin-top: 30px;
            width: 144px;
            margin-left: calc(~"50% - @{button-width}/2");
            text-align: center;
            cursor: pointer;
            padding: 10px 6px;
            font-size: 16px;
            border-radius: 3px;
        }
        .fi-import-success-info {
          margin-top: 30px;
          text-align: center;
          font-size: 18px;
          .fi-import-success-info-row {
            &.fi-import-success-info-row-top {
              margin-top: 12px;
            }
            margin-top: 6px;
            font-size: 16px;
            span {
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }

      .fi-content-csv-wrapper {

        .fi-content-csv {
          text-align: center;
          margin-bottom: 12px;

          .fi-content-csv-option {
            margin-left: 12px;
          }
        }

        .fi-content-preview-columns-wrapper {
          overflow: auto;

          .fi-content-preview-columns {
            flex-direction: row;

            .fi-content-preview-columns-column {
              flex-direction: column;
              margin-right: 6px;

              .fi-content-preview-columns-column-cell {
                width: 300px;
                height: 40px;
                margin-top: 3px;
                overflow: auto;
                overflow-y: hidden;
                white-space: nowrap;

                &::-webkit-scrollbar {
                  height: 5px;
                }

                .fi-content-preview-columns-column-cell-text {
                  padding: 12px;
                }
              }
            }
          }
        }
      }

      .fi-content-json-wrapper {

        .fi-content-json {
          text-align: center;

          .fi-content-json-option {
            margin-left: 12px;
          }
        }
      }

      .fi-content-subtext {
        margin-top: 12px;
        word-wrap: break-word;
        max-width: 300px;

        .fi-content-subtext-text {
          .big-text;
        }
      }

      .fi-content-choose {
        align-items: center;
        justify-content: center;

        .fi-content-choose-button {
        }
      }
    }

    .fi-nav {
      margin: 12px;
      align-items: center;
      justify-content: space-between;

      .fi-back-button {
        display: inline-block;
      }

      .fi-next-button {
        display: inline-block;
      }
    }
	}

  input[type=file] {
    display: none;
  }
}
