@import "../../common/Common.less";

.fi-preview-column {
  display: inline-block;
  width: 300px;
  color: rgba(255, 255, 255, 1);
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 6px;
  overflow-y: auto;

  .fi-preview-column-field {
    padding: 6px;
    align-items: center;

    .fi-preview-column-field-name {
      display: inline-block;
      flex-basis: 30%;
    }

    .fi-preview-column-field-content {
      display: inline-block;
      flex-grow: 1;
    }
  }
}
