@import "../../common/Common.less";

.fi-transform {
  flex-direction: column;
  justify-content: center;

  .fi-transform-content {
    .fi-transform-option {
      align-items: center;
      padding-left: 48px;

      .fi-transform-option-name {
      }
    }

    .fi-transform-text {
      text-align: center;
      padding-top: 0px;
    }

    .fi-transform-components {
      padding-top: 0px;
    }
  }

  .fi-transform-content > * {
    padding: 12px;
  }
}
