@import "../../common/Common.less";

.fi-transform {
  flex-direction: column;
  justify-content: center;

  .fi-transform-content {
    .fi-transform-option {
      padding: 12px;
      padding-left: 48px;

      .fi-transform-option-text {
      }
    }

    .fi-transform-components {
      padding: 12px;
    }
  }
}
