{
  "presets": [
    ["es2015", {"modules": false}]
  ],

  "plugins": ["syntax-dynamic-import", "transform-async-to-generator", "transform-regenerator", "transform-runtime"],

  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
