{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],

  "plugins": [
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-runtime"
  ],

  "env": {
    "production": {
      "minified": true,
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
