<div class="row builder-row">
	<div class="col-sm-2 col-xs-12 main-column">
		<h1 class="page-header" ng-click="showing('inputs', !showing('inputs'))">
			Inputs
			<div class="page-header-expand mobile-only pull-right">
				{{showing('inputs') ? '-' : '+'}}
			</div>
		</h1>
		<div class="fixed-area inputs-area" ng-show="showing('inputs')">
			<div ng-repeat="input in inputs" ng-show="input.showing" ng-slide-down="input.showing" duration="0.5" class="input-container">
				<div class="pre-input">
					<a class="new-card-plus-area" ng-click="newInput($index,'','namevalue')" clicked="300">
						<div class="new-card-plus-line"></div>
						<div class="new-card-plus">
							+
						</div>
					</a>
				</div>
				<div class="input batch-input-area input-{{$index}} has-more-button" ng-show="input.type == 'namevalue'">
					<div class="input-name-area">
						<input ng-model="input.name" ng-change="input_name_changed(input)" type="text" class="input-name-input first-input" placeholder="Name">
						<div class="pull-right more-button more-2-items">
							<i class="fa fa-ellipsis-h more-icon"></i>
							<div class="more-hidden-area">
								<a class="more-menu-item" ng-click="switchInputAtIndex($index,'datetime')">Calendar</a>
								<a class="more-menu-item" ng-click="removeInputAtIndex($index)">Remove</a>
							</div>
						</div>
					</div>
					<div class="input-value-area">
						<input ng-model="input.stringValue" ng-change="resort()" type="text" class="input-value-input" placeholder="Value">
					</div>
				</div>
				<div class="input batch-input-area input-{{$index}} has-more-button" ng-show="input.type == 'datetime'">
					<div class="input-datetime-header-area">
						<div class="input-name-area">
							<input ng-model="input.name" type="text" class="input-name-input first-input" placeholder="Name">
							<div class="pull-right more-button more-2-items">
								<i class="fa fa-ellipsis-h more-icon"></i>
								<div class="more-hidden-area">
									<a class="more-menu-item" ng-click="switchInputAtIndex($index,'namevalue')">Value</a>
									<a class="more-menu-item" ng-click="removeInputAtIndex($index)">Remove</a>
								</div>
							</div>
						</div>
						<div class="input-datetime-area">
							<input ng-model="input.dateValue" type="date" class="input-calendar-input-left" placeholder="yyyy-MM-dd">
							<input ng-model="input.dateValue" type="time" class="input-calendar-input-right" step="60">
						</div>
					</div>
					<div class="input-calendar-value-area">							 
						<datetimepicker data-ng-model="input.dateValue"
						data-datetimepicker-config="{ startView:'day', minView:'minute' , minuteStep:15 }" />	
					</div>
				</div>
			</div>
			<div class="pre-input">
				<a class="new-card-plus-area" ng-click="newInput(-1,'','namevalue')">
					<div class="new-card-plus-line"></div>
					<div class="new-card-plus">
						+
					</div>
				</a>
			</div>
			<div class="input">
				<input type="text" placeholder="Add an input" ng-focus="newInput(-1,'','namevalue')"> 	
			</div>
			<div class="empty-algorithm" ng-show="inputs.length == 0">
				Inputs are empty
				<small>Add a new one above</small>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 main-column builder-column">
		<h1 class="page-header builder-header" ng-click="showing('builder', !showing('builder'))">
			Builder
			<div class="page-header-expand mobile-only pull-right">
				{{showing('builder') ? '-' : '+'}}
			</div>
		</h1>
		<div class="algorithm-name-area">
			<div class="row">
				<div class="col-xs-9 algorithm-left">
					<input type="text" class="algorithm-name-input" placeholder="Name your algorithm" />
				</div>
				<div class="col-xs-3 algorithm-right">
					<a class="algorithm-save-btn button">Create Algorithm</a>
				</div>
			</div>
		</div>
		<div class="fixed-area builder-area {{dragIndices['card'] != -1 ? 'card-is-being-dragged' : ''}}" ng-show="showing('builder')">
			<div class="all-weights" ng-show="ab('weights')">
				<div class="weight" d3-slicer data="cards" on-change="handleChange(cardId)" card-id="-1"></div>
			</div>
			<div ng-repeat="card in cards track by card.id" class="card-container-{{card.id}}"  ng-drop="true" ng-drop-success="onCardDropComplete($index,$data,$event)" rel="{{$index}}" ng-mousemove="resultMove($index, 'card')" ng-touchmove="resultMove({{$index}}, 'card')">
				<div class="pre-card">
					<div ng-slide-down="card.newCardIsShowing" duration="0.25">
						<div class="new-card-wrapper">
							<div class="new-card card">
								<div class="row new-card-text-area">
									<div class="col-xs-1 new-card-icon-cell">
										<div class="new-card-icon">
											<div class="new-card-icon-inner">+</div>
										</div>
									</div>
									<div class="col-xs-10">
										<div tdb-autocomplete data="newCards" input-classes="bordered-input" on-select="addCardAndApply(obj, card)" placeholder="Type card name here, or select from the suggetions below" auto-placeholder="Start typing to see matching card names"></div>
									</div>
									<div class="col-xs-1">
										<a ng-click="card.newCardIsShowing = false" class="new-card-hide-btn pull-right small"> Hide </a>
									</div>
								</div>
								<div class="new-card-suggestions-area">
									<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion button" ng-click="addCard(suggestion, card)">
										{{suggestion.name}}
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="new-card-plus-wrapper" ng-slide-down="!card.newCardIsShowing" duration="0.25">
						<a class="new-card-plus-area" ng-click="card.newCardIsShowing = true">
							<div class="new-card-plus-line"></div>
							<div class="new-card-plus">
								+
							</div>
						</a>
					</div>
				</div>
				<div class="card card-{{card.id}} has-more-button {{shiftedClass($index, 'card')}}" ng-right-click-menu ng-drag="true" ng-drag-data="card"  rel="{{$index}}">
					<div class="card-title row" ng-click="cardToggle(card)">
						<div ng-drag-handle class="col-xs-11">{{card.key || ""}} {{titleForCard(card)}}</div>
					</div>
					<div class="more-button more-4-items more-right more-button-large" ng-click="console.log(event)">
						<i class="fa fa-ellipsis-h more-icon"></i>
						<div class="more-hidden-area">
							<div class="more-menu-item" ng-click="cardToggle(card)" ng-hide="card.hidden">Collapse</div>
							<div class="more-menu-item" ng-click="cardToggle(card)" ng-show="card.hidden">Reveal</div>
							<div class="more-menu-item" ng-click="collapseAllCards(true)">Collapse All</div>
							<div class="more-menu-item" ng-click="collapseAllCards(false)">Reveal All</div>
							<div class="more-menu-item" ng-click="removeCard(card)">Delete</div>
						</div>
					</div>
					<div class="card-body" rel="{{card.id}}" ng-slide-down="!card.hidden" duration="0.25" ng-mousemove="showBody(card.id)">
						<div class="card-body-spacing"></div>
						<div class="card-from-area" ng-show="card.from">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<div tdb-autocomplete data="fromOptions" model="card.from.value" placeholder="Table Name" auto-placeholder="Start typing to see matching table names"></div>
								</div>
								<div class="col-xs-1"></div>
							</div>
							<div ng-repeat="join in card.from.joins" duration="0.5" class="input-container" class="row">
								<div class="row card-join-area">
									<div class="col-xs-1"></div>
									<div class="col-xs-5">
										<input type="text" class="card-join-input" ng-focus="" placeholder="does this grow correctly?" />
									</div>
									<div class="col-xs-2">
										<input type="text" class="card-join-input" ng-focus="" placeholder="does this grow correctly?" />
									</div>
									<div class="col-xs-1 center-align input-join-dropdown">
										<div class="sign-selector">
											<div class="terrain-dropdown terrain-dropdown-5-items card-join-dropdown-area">
												<div class="terrain-dropdown-value-area">
													<div class="terrain-dropdown-cell" ng-show="join.operator == 'le'">&le;</div>
													<div class="terrain-dropdown-cell" ng-show="join.operator == 'lt'">&lt;</div>
													<div class="terrain-dropdown-cell" ng-show="join.operator == 'ge'">&ge;</div>
													<div class="terrain-dropdown-cell" ng-show="join.operator == 'gt'">&gt;</div>
													<div class="terrain-dropdown-cell" ng-show="join.operator == 'eq'">=</div>
												</div>
												<div class="terrain-dropdown-cell-area">
													<div class="terrain-dropdown-cell {{join.operator == 'le' ? 'selected' : ''}}" ng-step-change="join.operator = 'le'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="join.operator == 'le'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&le;</div>
													<div class="terrain-dropdown-cell selected" ng-show="join.operator == 'le'">&le;</div>
													<div class="terrain-dropdown-cell {{join.operator == 'lt' ? 'selected' : ''}}" ng-step-change="join.operator = 'lt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="join.operator == 'lt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&lt;</div>
													<div class="terrain-dropdown-cell selected" ng-show="join.operator == 'lt'">&lt;</div>
													<div class="terrain-dropdown-cell {{join.operator == 'ge' ? 'selected' : ''}}" ng-step-change="join.operator = 'ge'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="join.operator == 'ge'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&ge;</div>
													<div class="terrain-dropdown-cell selected" ng-show="join.operator == 'ge'">&ge;</div>
													<div class="terrain-dropdown-cell {{join.operator == 'gt' ? 'selected' : ''}}" ng-step-change="join.operator = 'gt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="join.operator == 'gt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&gt;</div>
													<div class="terrain-dropdown-cell selected" ng-show="join.operator == 'gt'">&gt;</div>
													<div class="terrain-dropdown-cell {{join.operator == 'eq' ? 'selected' : ''}}" ng-step-change="join.operator = 'eq'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="join.operator == 'eq'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">=</div>
													<div class="terrain-dropdown-cell selected" ng-show="join.operator == 'eq'">=</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="card-join-input" ng-focus="" placeholder="does this grow correctly?" />
									</div>
									<div class="col-xs-1"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-1">
									<div class="new-card-icon" ng-click="addBlankJoin()">
										<div class="new-card-icon-inner">+</div>
									</div>
								</div>
								<div class="col-xs-10">
									<input class="new-field-input" ng-focus="" placeholder="Add a Join" />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="card-sort-title-area" ng-show="card.order">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-12 col-sm-5">
									<div tdb-autocomplete data="orderableFields" model="card.order.field" placeholder="Field Name" auto-placeholder="Start typing to see matching field names" on-select="handleChange()"></div>
								</div>
								<div class="col-xs-12 col-sm-5">
									<select ng-model="card.order.direction" ng-change="resort()" class="card-order-select">
										<option value="descending">Descending</option>
										<option value="ascending">Ascending</option>
									</select>
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="card-select-area" ng-show="card.select">
							<div class="row card-select-field card-select-field-{{$index}}" ng-repeat="field in card.select.fields">
								<div class="col-xs-1"></div>
								<div class="col-xs-10">
									<div tdb-autocomplete data="selectableFields" model="card.select.fields[$index]" placeholder="Field Name" auto-placeholder="Start typing to see matching field names" on-select="apply()"></div>
								</div>
								<div class="col-xs-1">
									<div class="card-select-delete clickable" ng-click="removeSelectFieldFromCard(card, $index)"><i class="fa fa-remove"></i></div>
								</div>
							</div>
							<div class="row card-select-field card-new-select-field">
								<div class="col-xs-1">
									<div class="new-card-icon" ng-click="newSelectFieldForCard(card)">
										<div class="new-card-icon-inner">+</div>
									</div>
								</div>
								<div class="col-xs-10">
									<input class="new-field-input" ng-focus="newSelectFieldForCard(card)" placeholder="Add a new field" />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="card-filter-area" ng-show="card.filters">
							<div class="row" ng-repeat="f in card.filters">
								<div class="col-xs-1">
									
								</div>
								<div class="col-xs-4 filter-field-input-wrapper">
									<!-- <div tdb-autocomplete data="selectableFields" model="f.field" placeholder="Field" auto-placeholder="Start typing to see matching field names" on-select="apply()" class=""></div> -->
									<input ng-model="f.first" ng-blur="input_checkForNewInput(f.first)" ng-keydown="blurOnEnter($event)" placeholder="Value" />
								</div>
								<div class="col-xs-2 center-align">
									<div class="sign-selector">
										<div class="terrain-dropdown terrain-dropdown-7-items">
											<div class="terrain-dropdown-value-area">
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'le'">&le;</div>
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'lt'">&lt;</div>
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'ge'">&ge;</div>
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'gt'">&gt;</div>
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'eq'">=</div>
												<div class="terrain-dropdown-cell" ng-show="f.operator == 'ne'">&ne;</div>
												<div class="terrain-dropdown-cell" bg-show="f.operator == 'in'">in</div>
											</div>
											<div class="terrain-dropdown-cell-area">
												<div class="terrain-dropdown-cell {{f.operator == 'le' ? 'selected' : ''}}" ng-step-change="f.operator = 'le'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'le'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&le;</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'le'">&le;</div>
												<div class="terrain-dropdown-cell {{f.operator == 'lt' ? 'selected' : ''}}" ng-step-change="f.operator = 'lt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'lt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&lt;</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'lt'">&lt;</div>
												<div class="terrain-dropdown-cell {{f.operator == 'ge' ? 'selected' : ''}}" ng-step-change="f.operator = 'ge'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'ge'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&ge;</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'ge'">&ge;</div>
												<div class="terrain-dropdown-cell {{f.operator == 'gt' ? 'selected' : ''}}" ng-step-change="f.operator = 'gt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'gt'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&gt;</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'gt'">&gt;</div>
												<div class="terrain-dropdown-cell {{f.operator == 'eq' ? 'selected' : ''}}" ng-step-change="f.operator = 'eq'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'eq'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">=</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'eq'">=</div>
												<div class="terrain-dropdown-cell {{f.operator == 'ne' ? 'selected' : ''}}" ng-step-change="f.operator = 'ne'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'ne'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">&ne;</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'ne'">&ne;</div>
												<div class="terrain-dropdown-cell {{f.operator == 'in' ? 'selected' : ''}}" ng-step-change="f.operator = 'in'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area" ng-hide="f.operator == 'in'" ng-step-change-parent-class="terrain-dropdown" ng-step-change-child-class="terrain-dropdown-value-area">in</div>
												<div class="terrain-dropdown-cell selected" ng-show="f.operator == 'in'">in</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="col-xs-2">
									<div class="sign-selector">
										<select class="from-value-select" ng-model="f.valueType">
											<option value="input">Input</option>
											<option value="raw">Raw</option>
										</select>
									</div>
								</div> -->
								<div class="col-xs-4">
									<input ng-model="f.second" ng-blur="input_checkForNewInput(f.second)" ng-keydown="blurOnEnter($event)" placeholder="Value" />
								</div>
								<div class="col-xs-1">
									<div class="card-select-delete clickable" ng-click="card_filter_removeField(card, $index)"><i class="fa fa-remove"></i></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-1">
									<div class="new-card-icon" ng-click="addFilter(card)">
										<div class="new-card-icon-inner">+</div>
									</div>
								</div>
								<div class="col-xs-10">
									<input class="new-field-input" ng-focus="addFilter(card)" placeholder="Add Another Filter" />
								</div>
								<div class="col-xs-1"></div>
							</div>
							<!-- <a class="new-filter-btn button" ng-click="addFilter(card)">Add a filter</a> -->
						</div>
						<div class="card-transform-area" ng-show="card.transform || card.preTransform">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-4">
									<div tdb-autocomplete data="transformableFields" model="card.key" placeholder="Field Name" auto-placeholder="Start typing to see matching field names" on-select="transform_newKey(card, obj)"></div>
								</div>
								<div class="col-xs-1 arrow-wrapper">
									<div class="vertically-middle">
										<img src="assets/img/arrow.png" />
									</div>
								</div>
								<div class="col-xs-5">
									<div ng-show="card.preTransform">
										Select a field.
									</div>
									<div ng-show="card.transform">
										<input type="text" ng-model="card.var" />
									</div>
								</div>
								<div class="col-xs-1"></div>
							</div>
							<div ng-repeat="t in card.transformArr">
								<div class="graph" rel="{{card.id}}" d3-bars data="card.data" on-change="handleChange(cardId)" color="{{card.color}}" bar-height="20" bar-padding="5" smooth-line="{{ab('smooth')}}" spotlight-above="{{ab('spotlight')}}"></div>
								<div class="weight" rel="{{card.id}}" d3-slicer data="cards" card-id="{{card.id}}" on-change="handleChange(cardId)"></div>
							</div>
						</div>
						<div class="card-score-area" ng-show="card.scores">
							<div class="row">
								<div class="col-xs-1"></div>
								<div class="col-xs-4">
									<input type="text" ng-model="card.scores.inputField" placeholder="Input Field" />
								</div>
								<div class="col-xs-1 arrow-wrapper">
									<div class="vertically-middle">
										<img src="assets/img/arrow.png" />
									</div>
								</div>
								<div class="col-xs-5">
									<input type="text" ng-model="card.scores.outputField" placeholder="Output Field" />
								</div>
								<div class="col-xs-1"></div>
							</div>
							<div class="row" ng-repeat="transformCard in cards | filter: { transform: true }">
								<div class="col-xs-1"></div>
								<div class="col-xs-5">
									<input type="text" ng-value="transformCard.key + '.Score'" disabled />
								</div>
								<div class="col-xs-4">
									<div class="weight" rel="{{transformCard.id}}" d3-slicer data="cards" card-id="{{transformCard.id}}" on-change="handleChange(cardId)"></div>
								</div>
								<div class="col-xs-1 score-card-weight-wrapper">
									<input type="tel" class="score-card-weight" ng-model="transformCard.weight" ng-change="cards_score_updateWeight(transformCard)" />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="card-body-spacing"></div>
					</div>
				</div>
			</div>
			<!-- TODO put this into a component so that copy/paste isn't needed -->
			<div class="new-card card bottom-new-card">
				<div class="row new-card-text-area">
					<div class="col-xs-1 new-card-icon-cell">
						<div class="new-card-icon">
							<div class="new-card-icon-inner">+</div>
						</div>
					</div>
					<div class="col-xs-11">
						<div  tdb-autocomplete data="newCards" on-select="addCardAndApply(obj, null)" input-classes="bordered-input" placeholder="Type card name here, or select from the suggetions below" auto-placeholder="Start typing to see matching card names">
						</div>
					</div>
				</div>
				<div class="new-card-suggestions-area">
					<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion button" ng-click="addCard(suggestion, null)">
						 {{suggestion.name}}
					</a>
				</div>
			</div>
			<div class="empty-algorithm" ng-show="cards.length == 0">
				The algorithm is currently empty.
				<small>To get started, just add an expression above.</small>
				<div class="button">Guide Me</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12 results-column main-column">
		<h1 class="page-header results-header" ng-click="showing('results', !showing('results'))">
			Results
			<div class="page-header-expand mobile-only pull-right">
				{{showing('results') ? '-' : '+'}}
			</div>
		</h1>
		<div class="results-area fixed-area" ng-show="showing('results')">
			<div class="result {{result.overrideIndex !== false ? 'result-pinned' : '' }} {{result.$isMoving && !result.$isMovingTransitioningOff ? 'result-moving' : ''}}" ng-repeat="result in results | orderBy: scoreForResultSort | filter: filterResult" 
			ng-down="touchDown('result', result, $event)"
			ng-move="touchMove('result', result, $event)"
			ng-up="touchUp('result', result, $event)"
			ng-style="resultStyle(result)"
			 rel="{{result.index}}">
				<div class="result-inner {{locked ? 'result-inner-locked' : ''}} {{shiftedClass(result.index, 'result')}}" rel="{{result.index}}">
					<div class="result-main has-more-button" ng-show="!result.flipped">
						<div class="result-score" ng-show="resultsShouldShowScore()" ng-click="result.flipped = !result.flipped" style="{{result.spotlight ? 'background-color:' + result.spotlightColor : ''}}">
							<img src="assets/img/Terrain_Icon_White.png" class="result-score-img" />
							{{scoreForResultDisplay(result)}}
						</div>
						<div class="result-pin" ng-click="unpin(result)" ng-show="result.overrideIndex !== false">
							<i class="fa fa-thumb-tack result-pin-icon"></i>
							<i class="fa fa-remove result-unpin-icon"></i>
						</div>
						<div class="result-img" style="background-image:url('assets/img/data/{{result.id}}.jpg');"></div>
						<div class="result-text">
							<div ng-repeat="field in selectableFields" ng-show="selectedField(field.name)">
								<div class="row result-field-row">
									<div class="col-xs-4 result-field-row-field">{{field.name}}</div>
									<div class="col-xs-8 result-field-row-value">{{result[field.name]}} &nbsp;</div>
								</div>
							</div>
							<div style="display:none;"> <!-- saving in case we figure out better formatting -->
								<div class="result-name" ng-show="selectedField('name')">{{result.name}}</div>
								<div class="result-info row">
									<div class="result-rating col-xs-6" ng-show="selectedField('rating')">
										<div class="result-stars">
											<div ng-class="result.rating >= 1 ? 'result-star-shown' : 'result-star-hidden'"><i class="fa fa-star"></i></div>
											<div ng-class="result.rating >= 2 ? 'result-star-shown' : 'result-star-hidden'"><i class="fa fa-star"></i></div>
											<div ng-class="result.rating >= 3 ? 'result-star-shown' : 'result-star-hidden'"><i class="fa fa-star"></i></div>
											<div ng-class="result.rating >= 4 ? 'result-star-shown' : 'result-star-hidden'"><i class="fa fa-star"></i></div>
											<div ng-class="result.rating >= 5 ? 'result-star-shown' : 'result-star-hidden'"><i class="fa fa-star"></i></div>
										</div>
									</div>
									<div class="result-stays col-xs-4" ng-show="selectedField('stays')">{{result.stays}} Stays</div>
									<div class="result-price col-xs-2" ng-show="selectedField('price')">${{result.price}}</div>
								</div>
								<div class="result-description" ng-show="selectedField('description')">{{result.description}}</div>
								<div class="result-nothing-selected" ng-show="selectedField(false)"s>Add fields to a <b>Select</b> card to preview result data here.</div>
							</div>
						</div>
						<div class="more-button more-4-items more-right more-button-large">
							<i class="fa fa-ellipsis-h more-icon"></i>
							<div class="more-hidden-area">
								<div class="more-menu-item" ng-click="result.overrideIndex = $index" ng-show="result.overrideIndex === false">Pin</div>
								<div class="more-menu-item" ng-click="unpin(result)" ng-show="result.overrideIndex !== false">Unpin</div>
								<div class="more-menu-item" ng-click="spotlightToggle(result)">
									Spotlight
								</div>
								<div class="more-menu-item" ng-click="result.flipped = !result.flipped" ng-show="!result.flipped">Score View</div>
								<div class="more-menu-item" ng-click="result.flipped = !result.flipped" ng-show="result.flipped">Product View</div>
								<div class="more-menu-item" ng-click="">Multi Scroll</div>
							</div>
						</div>
					</div>
					<div class="result-flipped" ng-show="result.flipped">
						<div class="result-flipped-name">
							{{result.name}}
							<div class="pull-right result-flipped-close" ng-click="result.flipped = !result.flipped">
								<i class="fa fa-remove result-unpin-icon"></i>
							</div>
						</div>
						<div class="result-flipped-final-score">
							<img src="assets/img/Terrain_Icon_White.png" class="result-flipped-score-img" />
							Final Score
							<div class="pull-right">{{scoreForResultDisplay(result)}}</div>
						</div>
						<div class="result-scores-area">
							<div class="result-score-card" ng-repeat="card in cards | filter: { transform: true }">
								<div class="result-score-card-name">{{card.name}}</div>
								<div class="result-score-value">
									Score
									<div class="pull-right">{{cardValueForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-mapped">
									Mapped Score
									<div class="pull-right">{{cardScoreForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-weight">
									Weight
									<div class="pull-right">{{card.weight}}%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var resize = function() {
	if($(window).width() > 767)
		$('.fixed-area').css('height', ($(window).height() - $('.fixed-area').offset().top) + 'px');
	else
		$('.fixed-area').css('height', 'auto');
}

$(window).resize(resize);
$(document).ready(resize);
resize();
</script>