<div class="row builder-row">
	<div class="col-sm-2 col-xs-12 main-column">
		<h1 class="page-header" ng-click="showing('inputs', !showing('inputs'))">
			Inputs
			<div class="page-header-expand mobile-only pull-right">
				{{showing('inputs') ? '-' : '+'}}
			</div>
		</h1>
		<div class="fixed-area inputs-area" ng-show="showing('inputs')">
			<div ng-repeat="input in inputs">
				<div class="pre-input">
					<a class="new-card-plus-area" ng-click="newInput($index)">
						<div class="new-card-plus">
							+
						</div>
					</a>
				</div>
				<div class="input batch-input-area">
					<div class="input-name-area">
						<input ng-model="input.name" type="text" class="input-name-input first-input" placeholder="Name">
						<div class="pull-right more-button">
							<i class="fa fa-ellipsis-h"></i>
						</div>
					</div>
					<div class="input-value-area">
						<input ng-model="input.value" type="text" class="input-value-input" placeholder="Value">
					</div>
				</div>
			</div>
			<div class="pre-input">
				<a class="new-card-plus-area" ng-click="newInput(-1)">
					<div class="new-card-plus">
						+
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-xs-12 main-column builder-column">
		<h1 class="page-header builder-header" ng-click="showing('builder', !showing('builder'))">
			Builder
			<div class="page-header-expand mobile-only pull-right">
				{{showing('builder') ? '-' : '+'}}
			</div>
		</h1>
		<div class="fixed-area builder-area" ng-show="showing('builder')">
			<div class="all-weights" ng-show="ab('weights')">
				<div class="weight" d3-slicer data="cards" on-change="handleChange(cardId)" card-id="-1"></div>
			</div>
			<div ng-repeat="card in cards">
				<div class="pre-card">
					<div class="new-card card" ng-show="card.newCardIsShowing">
						<div class="card-title">
							New Card
							<a ng-click="card.newCardIsShowing = false" class="pull-right small"> Hide </a>
						</div>
						<div tdb-autocomplete data="newCards" on-select="addCardAndApply(obj, card)" placeholder="Type card name here, or select from the suggetions below" auto-placeholder="Start typing to see matching card names">
						</div>
						<div class="new-card-suggestions-area">
							<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion" ng-click="addCard(suggestion, card)">
								+ {{suggestion.name}}
							</a>
						</div>
					</div>
					<a class="new-card-plus-area" ng-hide="card.newCardIsShowing">
						<div ng-click="card.newCardIsShowing = true" class="new-card-plus">
							+
						</div>
					</a>
				</div>
				<div class="card card-{{card.id}}">
					<div class="card-title{{ card.useTitle ? '-no-border' : ''}} row">
						<div class="col-xs-12 {{ card.useTitle ? 'card-title-no-border-text  col-sm-3 col-md-2' : ''}}">{{card.key || ""}} {{titleForCard(card)}}</div>
						<div class="col-xs-12 col-sm-9 col-md-10">
							<div class="card-from-area" ng-show="card.from">
								<div tdb-autocomplete data="fromOptions" model="card.from.value" placeholder="Table Name" auto-placeholder="Start typing to see matching table names"></div>
							</div>
							<div class="card-filter-area" ng-show="card.filter">
								<div class="row">
									<div class="col-xs-4">
										<div tdb-autocomplete data="selectableFields" model="card.filter.field" placeholder="Field" auto-placeholder="Start typing to see matching field names" on-select="apply()"></div>
									</div>
									<div class="col-xs-2">
										<div class="sign-selector">
											<select class="sign-select" ng-model="card.filter.operator">
												<option value="le">&le;</option>
												<option value="lt">&lt;</option>
												<option value="ge">&ge;</option>
												<option value="gt">&gt;</option>
												<option value="eq">=</option>
												<option value="ne">&ne;</option>
											</select>
										</div>
									</div>
									<div class="col-xs-2">
										<div class="sign-selector">
											<select class="from-value-select" ng-model="card.filter.valueType">
												<option value="input">Input</option>
												<option value="raw">Raw</option>
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<input ng-model="card.filter.value" ng-blur="checkForNewInput(card)" ng-keydown="blurOnEnter($event)" placeholder="Value" />
									</div>
								</div>
							</div>
							<div class="card-transform-title-area" ng-show="card.transform">
								
							</div>
						</div>
					</div>
					<div class="card-select-area" ng-show="card.select">
						<div class="row card-select-field card-select-field-{{$index}}" ng-repeat="field in card.select.fields track by $index">
							<div class="col-xs-11 card-select-col">
								<div tdb-autocomplete data="selectableFields" model="card.select.fields[$index]" placeholder="Field Name" auto-placeholder="Start typing to see matching field names" on-select="apply()"></div>
							</div>
							<div class="col-xs-1 card-select-col">
								<div class="card-select-delete clickable" ng-click="removeSelectFieldFromCard(card, $index)"><i class="fa fa-remove"></i></div>
							</div>
						</div>
						<input class="new-field-input" ng-click="newSelectFieldForCard(card)" placeholder="Click to add new field" />
					</div>
					<div class="card-transform-area" ng-show="card.transform">
						<div class="graph" rel="{{card.id}}" d3-bars data="card.data" on-change="handleChange(cardId)" color="{{card.color}}" bar-height="20" bar-padding="5" smooth-line="{{ab('smooth')}}" spotlight-above="{{ab('spotlight')}}"></div>
						<div class="weight" rel="{{card.id}}" d3-slicer data="cards" card-id="{{card.id}}" on-change="handleChange(cardId)"></div>
					</div>
				</div>
			</div>
			<!-- TODO put this into a component so that copy/paste isn't needed -->
			<div class="new-card card">
				<div class="card-title">
					New Card
				</div>
				<div  tdb-autocomplete data="newCards" on-select="addCardAndApply(obj, null)" placeholder="Type card name here, or select from the suggetions below" auto-placeholder="Start typing to see matching card names">
				</div>
				<div class="new-card-suggestions-area">
					<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion" ng-click="addCard(suggestion, null)">
						+ {{suggestion.name}}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12 results-column main-column">
		<h1 class="page-header results-header" ng-click="showing('results', !showing('results'))">
			Results
			<div class="page-header-expand mobile-only pull-right">
				{{showing('results') ? '-' : '+'}}
			</div>
		</h1>
		<div class="results-area fixed-area" ng-show="showing('results')">
			<div class="result {{result.overrideIndex !== false ? 'result-pinned' : '' }}" ng-repeat="result in results | orderBy: scoreForResultSort" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
				<div class="result-inner" ng-drag="true" ng-drag-data="result" allow-transform="false">
					<div class="result-main" ng-show="!result.flipped">
						<div class="result-score" ng-click="result.flipped = !result.flipped">
							<img src="assets/img/Terrain_Icon_White.png" class="result-score-img" />
							{{scoreForResultDisplay(result)}}
						</div>
						<div class="result-spotlight" ng-click="spotlightToggle(result)" style="{{result.spotlight ? 'background-color:' + result.spotlightColor : ''}}">
							<i class="fa fa-dot-circle-o"></i>
						</div>
						<div class="result-controls-right">
							<div class="result-pin" ng-click="unpin(result)" ng-show="result.overrideIndex !== false">
								<i class="fa fa-thumb-tack result-pin-icon"></i>
								<i class="fa fa-remove result-unpin-icon"></i>
							</div>
						</div>
						<div class="result-img" style="background-image:url('assets/img/data/{{result.id}}.jpg');"></div>
						<div class="result-text">
							<div class="result-name">{{result.name}}</div>
							<div class="result-info row">
								<div class="result-rating col-xs-6">
									<div class="result-stars">
										<div ng-class="result.rating >= 1 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 2 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 3 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 4 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 5 ? 'result-star-shown' : 'result-star-hidden'"></div>
									</div>
									<div class="result-rating-value">({{result.rating}})</div>
								</div>
								<div class="result-stays col-xs-4">{{result.stays}} Stays</div>
								<div class="result-price col-xs-2">${{result.price}}</div>
							</div>
							<div class="result-description">{{result.description}}</div>
						</div>
					</div>
					<div class="result-flipped" ng-show="result.flipped">
						<div class="result-flipped-name">
							{{result.name}}
							<div class="pull-right result-flipped-close" ng-click="result.flipped = !result.flipped">
								<i class="fa fa-remove result-unpin-icon"></i>
							</div>
						</div>
						<div class="result-flipped-final-score">
							<img src="assets/img/Terrain_Icon_White.png" class="result-flipped-score-img" />
							Final Score
							<div class="pull-right">{{scoreForResultDisplay(result)}}</div>
						</div>
						<div class="result-scores-area">
							<div class="result-score-card" ng-repeat="card in cards | filter: { transform: true }">
								<div class="result-score-card-name">{{card.name}}</div>
								<div class="result-score-value">
									Score
									<div class="pull-right">{{cardValueForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-mapped">
									Mapped Score
									<div class="pull-right">{{cardScoreForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-weight">
									Weight
									<div class="pull-right">{{card.weight}}%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var resize = function() {
	if($(window).width() > 767)
		$('.fixed-area').css('height', ($(window).height() - $('.fixed-area').offset().top) + 'px');
	else
		$('.fixed-area').css('height', 'auto');
}

$(window).resize(resize);
$(document).ready(resize);
resize();
</script>