<div class="row builder-row">
	<div class="col-sm-2 col-xs-12 main-column">
		<h1 class="page-header">Inputs</h1>
		<div class="fixed-area inputs-area">
			<div ng-repeat="input in inputs">
				<div class="pre-input">
					<a class="new-card-plus-area" ng-click="newInput($index)">
						<div class="new-card-plus">
							+
						</div>
					</a>
				</div>
				<div class="input">
					<div class="input-name-area">
						<input ng-model="input.name" type="text" class="input-name-input" placeholder="Name">
					</div>
					<div class="input-value-area">
						<input ng-model="input.value" type="text" class="input-value-input" placeholder="Value">
					</div>
				</div>
			</div>
			<div class="pre-input">
				<a class="new-card-plus-area" ng-click="newInput(-1)">
					<div class="new-card-plus">
						+
					</div>
				</a>
			</div>

			<!-- <div class="input-card">
				<div class="card-title">Search</div>
				<input type="text" value="San Francisco, CA">
			</div>
			<div class="input-card">
				<div class="card-title">Lat/Long</div>
				<div class="input-lat-long-area">
					<div class="input-lat-long">-37.7883&deg; N</div>
					<div class="input-lat-long">122.4167&deg; W</div>
				</div>
			</div>
			<div class="input-card">
				<div class="card-title">Map</div>
				<img class="input-map-img" src="assets/img/map-placeholder.jpeg" />
			</div>
			<div class="input-card">
				<div class="card-title">Ratings</div>
				<ul class="input-ratings-list">
					<li class="input-rating">
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
					</li>
					<li class="input-rating">
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
					</li>
					<li class="input-rating">
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
					</li>
					<li class="input-rating">
						<div class="result-star-shown"></div>
						<div class="result-star-shown"></div>
					</li>
					<li class="input-rating">
						<div class="result-star-shown"></div>
					</li>
				</ul>
			</div> -->

		</div>
	</div>
	<div class="col-sm-6 col-xs-12 main-column">
		<h1 class="page-header">Builder</h1>
		<div class="fixed-area builder-area">
			<div class="all-weights" ng-show="ab('weights')">
				<div class="weight" d3-slicer data="cards" on-change="handleChange(cardId)" card-id="-1"></div>
			</div>
			<div ng-repeat="card in cards">
				<div class="pre-card">
					<div class="new-card card" ng-show="card.newCardIsShowing">
						<div class="card-title">
							New Card
							<a ng-click="card.newCardIsShowing = false" class="pull-right small"> Hide </a>
						</div>
						<div  tdb-autocomplete data="newCards" on-select="addCardAndApply(newCard, card)">
						</div>
						<div class="new-card-suggestions-area">
							<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion" ng-click="addCard(suggestion, card)">
								+ {{suggestion.name}}
							</a>
						</div>
					</div>
					<a class="new-card-plus-area" ng-hide="card.newCardIsShowing">
						<div ng-click="card.newCardIsShowing = true" class="new-card-plus">
							+
						</div>
					</a>
				</div>
				<div class="card">
					<div class="card-title">{{card.name}}</div>
					<div class="graph" rel="{{card.id}}" d3-bars data="card.data" on-change="handleChange(cardId)" color="{{card.color}}" bar-height="20" bar-padding="5" smooth-line="{{ab('smooth')}}" spotlight-above="{{ab('spotlight')}}"></div>
					<div class="weight" rel="{{card.id}}" d3-slicer data="cards" card-id="{{card.id}}" on-change="handleChange(cardId)"></div>
				</div>
			</div>
			<!-- TODO put this into a component so that copy/paste isn't needed -->
			<div class="new-card card">
				<div class="card-title">
					New Card
				</div>
				<div  tdb-autocomplete data="newCards" on-select="addCardAndApply(newCard, null)">
				</div>
				<div class="new-card-suggestions-area">
					<a ng-repeat="suggestion in newCards | filter:{ suggested: true }" class="new-card-suggestion" ng-click="addCard(suggestion, null)">
						+ {{suggestion.name}}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xs-12 results-column main-column">
		<h1 class="page-header">Results</h1>
		<div class="results-area fixed-area">
			<div class="result {{result.overrideIndex !== false ? 'result-pinned' : '' }}" ng-repeat="result in results | orderBy: scoreForResultSort" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
				<div class="result-inner" ng-drag="true" ng-drag-data="result" allow-transform="false">
					<div class="result-main" ng-show="!result.flipped">
						<div class="result-score" ng-click="result.flipped = !result.flipped">
							<img src="assets/img/Terrain_Icon_White.png" class="result-score-img" />
							{{scoreForResultDisplay(result)}}
						</div>
						<div class="result-controls-right">
							<div class="result-spotlight" ng-click="spotlightToggle(result)" style="{{result.spotlight ? 'background-color:' + result.spotlightColor : ''}}">
								<i class="fa fa-dot-circle-o"></i>
							</div>
							<div class="result-pin" ng-click="unpin(result)" ng-show="result.overrideIndex !== false">
								<i class="fa fa-thumb-tack result-pin-icon"></i>
								<i class="fa fa-remove result-unpin-icon"></i>
							</div>
						</div>
						<div class="result-img" style="background-image:url('assets/img/data/{{result.id}}.jpg');"></div>
						<div class="result-text">
							<div class="result-name">{{result.name}}</div>
							<div class="result-info row">
								<div class="result-rating col-xs-6">
									<div class="result-stars">
										<div ng-class="result.rating >= 1 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 2 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 3 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 4 ? 'result-star-shown' : 'result-star-hidden'"></div>
										<div ng-class="result.rating >= 5 ? 'result-star-shown' : 'result-star-hidden'"></div>
									</div>
									<div class="result-rating-value">({{result.rating}})</div>
								</div>
								<div class="result-stays col-xs-4">{{result.stays}} Stays</div>
								<div class="result-price col-xs-2">${{result.price}}</div>
							</div>
							<div class="result-description">{{result.description}}</div>
						</div>
					</div>
					<div class="result-flipped" ng-show="result.flipped">
						<div class="result-flipped-name">
							{{result.name}}
							<div class="pull-right result-flipped-close" ng-click="result.flipped = !result.flipped">
								<i class="fa fa-remove result-unpin-icon"></i>
							</div>
						</div>
						<div class="result-flipped-final-score">
							<img src="assets/img/Terrain_Icon_White.png" class="result-flipped-score-img" />
							Final Score
							<div class="pull-right">{{scoreForResultDisplay(result)}}</div>
						</div>
						<div class="result-scores-area">
							<div class="result-score-card" ng-repeat="card in cards">
								<div class="result-score-card-name">{{card.name}}</div>
								<div class="result-score-value">
									Score
									<div class="pull-right">{{cardValueForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-mapped">
									Mapped Score
									<div class="pull-right">{{cardScoreForResultDisplay(card, result)}}</div>
								</div>
								<div class="result-score-weight">
									Weight
									<div class="pull-right">{{card.weight}}%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>