@import "../../common/Common.less";

.modal-dialog{
	Modal {
		.ReactModal__Content ReactModal__Content--after-open{
			width: 100px;
		}
	}
}

.modal-overlay{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
}

.modal-content{
	position: absolute;
    border: 1px solid #ccc;
    background: white;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    max-width: 400px;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 5px 2px;
}

.modal-title{
	padding: 10px;
	font-size: 16px;
	background-color: #EDEDED;
	color: #636363;
	font-weight: 500;
	line-height: 18px;
}

.modal-title-error{
	background-color: #ffd8d5;
	display: flex;
}

.modal-message{
	text-align: left;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	padding: 14px 24px;
	//border-bottom: 1px #ccc solid;
}

.modal-message-error{
	background-color: #d9817b;
	color: #ffffff;
	border-radius: 6px;
	margin: 12px;
	margin-bottom: 4px;
	margin-top: 8px;
	border-top: 1px #ccc solid;
	padding: 8px 12px;
}

.modal-buttons{
	max-width: 100%;
	height: 26px;
	border-top: 1px solid #ccc;
	padding: 8px;
	padding-right: 48px !important;
	font-size: 12px;
}

.modal-close-button {
	color: #636363;
	background-color: #fff;
	float: right;
	border: 1px solid #ccc;
}

.modal-confirm-button {
	background-color: #70b9e7;
	color: white;
	float: right;
	margin-left: 8px;
}

.modal-info-icon {
	width: 20px;
	margin-right: 6px;
	svg {
		fill: #636363;
	}
}