@import "../../common/Common.less";

.account {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;

  
  .account-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 850px;
    text-align: left;
  }
  
  .account-title {
    font-size: 28px;
    font-weight: 400;
    svg {
      height: 24px;
      fill: @gray;
      margin-right: 15px;
    }
  }
  
  .account-links {
    padding: 10px;
    position: relative;
    .account-link {
      display: inline-block;
      width: 144px;
      font-weight: bold;
      font-size: 16px;
      color: #00bcd6 !important;
      padding: 12px 0px;
      text-align: center;
      border-radius: 6px;
      letter-spacing: 0.5;   
      float: left;   
      &:hover {
        text-decoration: underline !important;  
      }
      .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
      &:last-child {
        float: right;
      }
      &.active {
         color: @gray !important;
         text-decoration: none !important;
       }
    }
  }

  .selected-link-marker {
    background: #CDDE20 !important;
    color: @gray !important;
    display: inline-block;
    width: 144px;
    height: 43px;
    border-radius: 6px;
    z-index: -1;
    position: absolute;
    .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
  }
  
  .account-inner {
    position: relative;
    border-radius: 4px;
    background: #fff;
    padding: 24px;
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100% - 28px);
    border-right: 6px solid white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 42px;
  }
}
