@import "../../common/Common.less";

.account {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  
  .account-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 850px;
    text-align: left;
  }
  
  .account-title {
    font-size: 28px;
    font-weight: 400;
    svg {
      height: 24px;
      fill: @gray;
      margin-right: 15px;
    }
  }
  
  .account-links {
    padding: 10px;
    
    .account-link {
      display: inline-block;
      width: 144px;
      font-weight: bold;
      font-size: 16px;
      color: #00bcd6 !important;
      padding: 12px 0px;
      text-align: center;
      border-radius: 6px;
      letter-spacing: 0.5;
      .transition;
      
      &:hover {
        background: fade(#00bcd6, 25%);  
      }
      
      &:last-child {
        float: right;
      }
      &.active {
         background: #CDDE20;
         color: @gray !important;
       }
    }
  }

  // .account-link-current {
  //   .account-links.account-link;
  //   background: #CDDE20;
  //   color: @gray !important; 
  // }
  
  .account-inner {
    position: relative;
    border-radius: 4px;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
}

.profile {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  
  .profile-team-button {
    display: none;
  }
  
  &.profile-wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    
    .profile-team-button {
      display: block;
      color: @light-blue;
      margin-top: 20px;
      font-size: 22px;
    }
  }

  .profile-pic {
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    .profile-pic-image {
      display: block;
      width: 100%;
    }
  }

  .edit-profile-pic {
    .profile-pic;
    cursor: pointer;
    width: 162px;
    height: 162px;
    position: relative;
    overflow: visible;
    border: 6px solid white;
    .profile-pic-image {
      display: inline-block;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    &:hover {
      border: 6px solid #00bcd6;
      .profile-pic-overlay {
        opacity: .75;
      }
    }
  }
  
  .profile-pic-overlay {
    position: absolute;
    height: 94%;
    width: 94%;
    left: 0px;
    top: 0px;
    text-align:center;
    opacity:0;
    background-color: #3e3c3c;
    padding: 3%;
  }

  .profile-pic-overlay-message {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.4
  }

  .camera-icon {
    height: 60px;
    width: 78px;
    left: 25%;
    top: 20px;
    position: relative;
    margin-bottom: 30px;
  }

  .profile-pic-upload {
    display: none;
  }

  .dropdown-hidden {
    display: none;
  }

  .dropdown {
    z-index: 99999999;
    color: #3e3c3c;
    position: relative;
    top: 162px; 
    left: 10%;
    border: 1px solid @gray;
    border-radius: 6px;
    width: 80%;
    background-color: white;
    &:after, &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border: solid transparent;
      border-bottom-color: #ffffff;
      border-width: 7px;
      margin-left: -7px;
    }
    &:before {
      border: solid transparent;
      border-bottom-color: @gray;
      border-width: 8px;
      margin-left: -8px;
    }
  }

  .menu-item {
    margin: 5px;
    padding: 3px;
    border-radius: 6px;
    &:hover {
      background-color: #cbece4;
      color: #f48e7d;
    }
  }
  
  .profile-name {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1;
    
    input {
      text-align: center;
      font-size: 18px;
      border: 1px solid #ccc;
    }
  }
  
  .profile-edit-row {
    padding: 10px 0px;
    .button {
      .growing-button(@gray);
    }
  }
  
  .profile-info {
    text-align: left;
    border-top: 1px solid #ddd;
    padding: 15px;
    margin-top: 5px;
    font-size: 15px;
    .can-select;
    
    .profile-info-item {
      margin-bottom: 5px;
      
      .profile-info-item-name {
        display: inline-block;
        width: 40%;
        flex-grow: 1;
        font-weight: bold;  
        text-transform: capitalize;
      }
      
      .profile-info-item-value {
        flex-grow: 2;
        display: inline-block;
        width: 50%;
      }
      
    }
    
    .profile-info-item-edit {
      .profile-info-item-name {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      input {
        border: 1px solid #ccc;
      }
      
      .profile-info-item-subtext {
        height: 15px;
        margin-top: 3px;
        margin-bottom: 10px;
        font-size: 12px;
      }
    }
  }
}

.profile-edit {
  max-width: 850px;  
  
  .profile-save-row {
    position: relative;
    top: -12px;
    
    .button {
      font-size: 18px;
      background: @sea-green;
      width: 120px;
      height: 24px;
    }
  }
}

.profile-edit-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  .profile-info {
    border-top: 0px solid;
    flex-grow: 1;
  }
}

.profile-admin-tools {
  .profile-admin-button {
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    color: @light-blue;
    padding: 4px;
    .transition;
    
    &:hover {
      background: @light-blue;
      border-radius: 5px;
      color: #fff;
    }
    
    &.profile-admin-button-red {
      color: #ff3456;
      &:hover {
        background: #ff3456;
        border-radius: 5px;
        color: #fff;
      }
    }
  }
}