html *
{
  letter-spacing: 0.8px;
}

.section-container {
  display: block;
  margin: 10px auto 10px auto;
  padding-top: 8px;
  padding-bottom: 4px;
  border-radius: 8px;
  width: 70%;
}

.section-header-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  padding-bottom: 7px;
  padding-left: 6px;
  padding-right: 6px;
}

.section-header {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: left;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 16px;
}

.section-edit-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.section-cancel-save
{
  flex-grow: 0;
  display: flex;
  flex-direction: row-reverse;
}

.section-cancel-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.section-save-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.section-body {
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  img {
    max-width: 100%;
    border-radius: 10px;
  }
}

.profile-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.profile-header {
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 1px;
  text-align: left;
}

.profile-inner-info {
  padding: 2px;
  font-size: 16px;
  text-align: left;
  margin-top: 3px;
  .dropdown-wrapper {
    max-width: 450px;
  }
}

.profile-pic {
  margin-right: 40px;
  height: 14vw;
  width: 14vw;
  background-size: cover;
  border-radius: 10px;
}

.profile-text {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4.5;
}

.profile-pic-upload {
  display: none;
}

.profile-pic-and-edit {
  background: none;
}

.profile-input {
  max-height: 20px;
  margin-left: -6px;
  min-width: 24px;
}

.no-column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.profile-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  justify-content: space-around;
  min-width: 230px;
}