@import "../../common/Common.less";

.account {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  
  .account-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 850px;
    text-align: left;
  }
  
  .account-title {
    font-size: 28px;
    font-weight: 400;
    svg {
      height: 24px;
      fill: @gray;
      margin-right: 15px;
    }
  }
  
  .account-links {
    padding: 10px;
    
    .account-link {
      display: inline-block;
      width: 130px;
      font-weight: bold;
      font-size: 16px;
      color: #00bcd6 !important;
      padding: 12px 0px;
      text-align: center;
      border-radius: 6px;
      letter-spacing: 0.5;
      .transition;
      
      &:hover {
        background: fade(#00bcd6, 25%);  
      }
      
      &.active {
        background: #CDDE20;
        color: @gray !important;
      }
      
      &:last-child {
        float: right;
      }
    }
  }
  
  .account-inner {
    position: relative;
    border-radius: 4px;
    background: #fff;
    padding: 20px;
    text-align: center;
  }
}

.profile {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  
  .profile-pic {
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    
    .profile-pic-image {
      display: block;
      width: 100%;
    }
  }
  
  .profile-pic-upload {
    display: none;
  }
  
  .profile-name {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1;
    
    input {
      text-align: center;
      font-size: 18px;
      border: 1px solid #ccc;
    }
  }
  
  .profile-edit-row {
    padding: 10px 0px;
    .button {
      .growing-button(@gray);
    }
  }
  
  .profile-info {
    text-align: left;
    border-top: 1px solid #ddd;
    padding: 15px;
    margin-top: 5px;
    font-size: 15px;
    .can-select;
    
    .profile-info-item {
      margin-bottom: 5px;
      
      .profile-info-item-name {
        display: inline-block;
        width: 40%;
        flex-grow: 1;
        font-weight: bold;  
        text-transform: capitalize;
      }
      
      .profile-info-item-value {
        flex-grow: 2;
        display: inline-block;
        width: 50%;
      }
      
    }
    
    .profile-info-item-edit {
      .profile-info-item-name {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      input {
        border: 1px solid #ccc;
      }
      
      .profile-info-item-subtext {
        height: 15px;
        margin-top: 3px;
        margin-bottom: 10px;
        font-size: 12px;
      }
    }
  }
}

.profile-edit {
  max-width: 850px;  
  
  .profile-save-row {
    position: relative;
    top: -12px;
    
    .button {
      font-size: 18px;
      background: @sea-green;
      width: 120px;
      height: 24px;
    }
  }
}

.profile-edit-container {
  display: flex;
  
  .profile-info {
    border-top: 0px solid;
    flex-grow: 1;
  }
}