@import "../../common/Common.less";

.logs {
  width: 100%;
}

.logs-page-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 18px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.logs-area {
  display: block;
  font-family: monospace;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  text-align: left;
  margin: 1em 0;
  padding: 10px;
  font-size: 14px;
  color: #e3e3e3;
  background-color: #231F20;
  line-height: 18px;
  border-radius: 6px;
}
