@import "../../common/Common.less";

.logs {
  margin-left: 14px;
  margin-right: 14px;
}

.logs-page-title {
    font-size: 21px;
    color: #020202;
    line-height: 18px;
    margin-bottom: 20px;
  }

.logs-area {
  display: block;
  font-family: monospace;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  text-align: left;
  margin: 1em 0;
  padding: 10px;
  font-size: 14px;
  color: #e3e3e3;
  background-color: #231F20;
  line-height: 18px;
}
