@import "../../common/Common.less";

.notifications-page-title {
	font-size: 18px;
	font-weight: bold;
	color: #3e3c3c;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.notification-expansion {
	text-align: left;
}

.expanded-section-indent {
	padding-left: 20px;
}

.email-blue {
	color: #00bcd6;
	font-weight: bold;
	margin-left: 4px;
}