@import "../../common/Common.less";

.notifications-page-title {
	font-size: 21px;
	color: #020202;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	line-height: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.notification-expansion {
	text-align: left;
	width: 60%;
}

.expanded-section-indent {
	padding-left: 20px;
}

.email-blue {
	color: #00bcd6;
	font-weight: bold;
	margin-left: 4px;
}

.notifications-select {
	padding: 0px !important;
	margin: 6px 0px !important;
	color: #d2d2d2 !important;
	height: 30px !important;
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 14px !important;
}

.notification-subtitle {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	font-weight: bold;
}
