@import "../../common/Common.less";

.meter-section {
	height: 6px;
	width: 51px;
	border-radius: 6px;
	display: inline-block;
	float: left;
	&.burgundy {
		background-color: #9a0608;
	}
	&.red {
		background-color: #ff6750;
	}
	&.orange {
		background-color: #f7a641;
	}
	&.yellow {
		background-color: #dad847;
	}
	&.light-green{
		background-color: #a5cc58;
	}
	&.green {
		background-color: #7cbb36;
	}
	&:not(.filled) {
		background-color: #cbcbcb;
	}
}

//fix this positioning
.password-meter {
	position: relative;
	top: 30px;
	left: -330px;
}

