@import "../../common/Common.less";

.profile-edit-button {
	height:16px;
	color: #fff;
	background-color: #50594A;
	font-size: 14px;
	display: inline-block;
	padding: 4px 18px;
	margin-top:2px;
	padding-top: 5px;
	letter-spacing: 0.3;
}
