@import "../../common/Common.less";

html *
{
  letter-spacing: 0.8px;
}

.section-container {
  display: block;
  margin: 10px 20px 10px 20px;
  padding-top: 8px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.section-header-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  padding-bottom: 7px;
  padding-left: 6px;
  padding-right: 6px;
}

.section-header {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: left;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 16px;
}

.section-edit-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.section-cancel-save
{
  flex-grow: 0;
  display: flex;
  flex-direction: row-reverse;
}

.section-cancel-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.section-save-button {
  flex-grow: 0;
  text-transform: uppercase;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.section-body {
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.profile-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}

.profile-header {
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px;
}

.profile-inner-info {
  padding: 2px;
  font-size: 16px;
}

.profile-pic {
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  margin-right: 40px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.profile-text {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4.5;
}

.no-column {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.profile-col-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  justify-content: space-around;
}

//.profile-col-2 {
//  display: block;
// flex-grow: 1;
//  text-align: left
//}