@import "../../common/Common.less";

.settings-page-title{
	font-size: 21px;
	font-weight: bold;
	color: #3e3c3c;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.settings-input{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	display: flex;
	margin-right: 10px;
	width:100%;
	border: 1px #d2d2d2 solid !important; 
	:hover{
		border: none !important;
	}
}

.username-topbar{
	width:60%;
	display: flex;
	margin-bottom: 10px;
}

.save-button{
	background-color: #70BAE9;
	float:left;
}

.field-info{
	text-align: left;
	color: #949494;
	font-size: 10px;
}

.expand-field{
	width: 100%;
}

.password-input{
	width: 50%;
	float: left;
	margin-bottom: 5px;
}

.password-button{
	color: #7b797a;
	background-color: #e6e4e5;
	border: 1px #d1cdce solid;
}

.white-space {
	flex-grow: 1; 
}

.field-title {
	font-size: 14px; 
	font-weight: bold;
	color: #000000;
	display: flex;
	width: 100%;
	text-align: left;
}

.row{
	width: 100%;
	display:flex;
}

.center {
	margin-top: 7px;
	margin-right: 10px;
}

.bottom-margin {
	margin-bottom: 5px;
}

.authentication-field {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 5px;
}