@import "../../common/Common.less";

.team-main-container {
  width: 100%;
  text-align: center;

  .user-thumbnail {
    .user-thumnail-image {
      width: 80px;
      height: 80px;
      border-radius: 6px;
      margin-right: 50px;
    }
  }

  .team-row {
    color: @grey;
    text-align: left;
    
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    padding-bottom: 4px;
    font-size: 14px;
    
    display: flex;
    
    .team-item-names {
      flex-grow: 1;
      padding-left: 10px;
      width: 250px;
      
      .team-name {
        font-size: 21px;
        
        color: #020202;
        letter-spacing: 0.3;

      }
      
      .team-role {
        margin-bottom: 8px;
      }
      
      .team-email {
        color: #7e7c7c;
      }
    }
    
    .team-item-info {
      flex-grow: 2;
      max-width: 400px;
      float: right;
      
      .team-item-info-row {
        display: flex;
        margin-bottom: 10px;
        
        .team-item-info-label {
          flex-basis: 125px;
        }
        .team-item-info-value {
          font-weight: 400;
        }
      }
    }
  }
  
  .team-show-disabled {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
    cursor: pointer;
    color: #aaa;
    &:hover {
      color: #777;
    }
  }
}

.create-user {
  input {
    border: 1px solid #ccc;
    margin-top: 6px;
  }
  
  .flex-grow {
    text-align: left;
    padding: 0px 6px;
    box-sizing: border-box;
  }
  
  .button {
    margin-top: 12px;
  }
  
  position: relative;
  .create-user-cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 100;
    
    &:hover {
      color: #000;
    }
  }
}

.team-page-title {
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: left;
}