@import "../../common/Common.less";

.user-thumbnail {
  display: inline-block;
  margin: 0px @standard-margin;

  .user-thumbnail-image-wrapper {
    display: inline-block;
    @r: 32px;
    width: @r;
    height: @r;
    border-radius: @r;
    box-sizing: border-box;
    overflow: hidden;
    vertical-align: middle;
    
    .user-thumbnail-image {
      width: 100%;
      vertical-align: middle;
    }
  }
  
  .user-thumbnail-text {
    display: inline-block;
    margin: 0px 6px;
    vertical-align: middle;
  }
  
  &.user-thumbnail-admin {
    .user-thumbnail-image-wrapper {
      border: 2px solid #CCDD1f;
    }
  } 
  
  
  &.user-thumbnail-largest {
    .user-thumbnail-image-wrapper {
      @r: 150px;
      width: @r;
      height: @r;
      border-radius: @r;
    }
  }
  
  &.user-thumbnail-large {
    .user-thumbnail-image-wrapper {
      @r: 72px;
      width: @r;
      height: @r;
      border-radius: @r;
    }
  }
  
  &.user-thumbnail-small {
    .user-thumbnail-image-wrapper {
      @r: 25px;
      width: @r;
      height: @r;
      border-radius: @r;
    }
  }
  
  &.user-thumbnail-smallest {
    .user-thumbnail-image-wrapper {
      @r: 16px;
      width: @r;
      height: @r;
      border-radius: @r;
    }
  }
  
  &.user-thumbnail-square {
    .user-thumbnail-image-wrapper {
      border-radius: 5px;
    }
  }
}