@import "../../util/Common.less";


.layout-manager {
	position: relative;
  display: flex;
  flex-wrap: wrap;
	width: 100%;
	font-size: 0px;
}

.layout-manager-column, .layout-manager-row, .layout-manager-cell {
	font-size: 14px; // TODO this should probably change
}

.layout-manager-cell {
	position: relative;
	display: inline-block;
  flex-grow: 1;
}

.layout-manager-column {
	position: absolute;
	height: 100%;
  .transition;
}

.layout-manager-row {
	width: 100%;
}

.layout-manager-full-height {
	height: 100%;
	overflow-y: auto;
}