@import "../../util/Common.less";

@sidebar-text-color: #fff;
@sidebar-bg: #565D4E;
@sidebar-selected-bg: #CDDE20;
@sidebar-hover-bg: #676E5F;
@sidebar-link-height: 36px;
@sidebar-expand-bg: #434A3C;
@sidebar-container-expanded-width: 130px;

.sidebar-container {
  background: @sidebar-bg;
  width: @sidebar-link-height;
  height: 100%;
  .transition;
  overflow: hidden;
  
  &.sidebar-container-expanded {
    width: @sidebar-container-expanded-width;
    
    .sidebar-link {
      width: @sidebar-container-expanded-width;
    }

    .sidebar-link-inner {
      width: 100%;
      // padding-left: 12px;
    }
        
    .sidebar-expand {
      svg {
        .rotate180;
      }
    }
  }
  
  .sidebar-selected-square {
    background: @sidebar-selected-bg;
    height: @sidebar-link-height;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    
    transition: top 0.2s;
  }
  
  .sidebar-link {
    height: @sidebar-link-height;
    width: @sidebar-link-height;
    color: @sidebar-text-color;
    position: relative;
    cursor: pointer;
    .transition;
    
    &:hover {
      background: rgba(255,255,255,0.1);
    }
    
    &.sidebar-link-selected {
      // background: @sidebar-selected-bg;  
      color: @sidebar-bg;
      svg {
        fill: @sidebar-bg;
      }
    }
    
    .sidebar-link-inner {
      // .vertically-middle;
      white-space: nowrap;
      padding-left: 10px;
      padding-top: 10px;
    }
    
    svg {
      width: 17px;
      fill: #fff;
    }
    
    .sidebar-link-text {
      display: inline-block;
      position: relative;
      top: -3px;
      left: 10px;
    }
  }
  
  
  .sidebar-expand {
    margin-top: 10px;
    background: @sidebar-expand-bg;
    float: right;
    // height: @sidebar-link-height;
    // padding: 10px 10px;
    width: 30px;
    height: 24px;
    border-bottom-left-radius: @sidebar-link-height;
    border-top-left-radius: @sidebar-link-height;
    position: relative;
    cursor: pointer;
    .transition;
    &:hover {
      background: darken(@sidebar-expand-bg, 5%);
      // padding: 9px 9px;
      svg {
        width: 14px;
      }
    }
    
    svg {
      fill: #fff;
      width: 12px;
      // .vertically-middle;
      .transition;
    }
  }
}
