@import "../../util/Common.less";

.tabs-container {
	height: 100%;
	position: relative;

	@tabs-row-height: 35px;

	.tabs-row-wrapper {
		background: @dark-green;	
		position: relative;
		border-bottom: 1px solid @dark-green-border;
		height: @tabs-row-height;
		width: 100%;

		.tabs-row {
			height: @tabs-row-height;
			overflow-x: auto;
	    white-space: nowrap;
		}

		.tabs-title {
			float: left;
			padding: 7px 15px;
			box-sizing: border-box;
			height: @tabs-row-height;
			font-size: @large-font-size;
			font-weight: @bold-font-weight;
			color: @white;
			border-left: 1px solid @dark-green-border;

			&.tabs-title-no-tabs {
				width: 100%;
			}
		}		
	}

	.tabs-content {
		height: calc(~"100% - @{tabs-row-height} - 1px");
	}

	.tabs-tab {
		display: inline-block;
		font-size: @large-font-size;
		background: @dark-green;
		height: 35px;
		padding: 8px 15px;
		box-sizing: border-box;
		cursor: pointer;
		color: @dark-gray;
		border: 1px solid @medium-dark-green;
    
    
	}

	.tabs-tab-selected {
		background: @light-green;
	}
}