@import "../../../../common/Common.less";

.array-preview-no-items {
  padding: 1px @quarter-spacing;
  margin: 1px @quarter-spacing;
}

.array-preview-container {
  display: flex;
  flex-wrap: wrap;
  .array-preview-item {
    padding: 1px @quarter-spacing;
    border-radius: 3px;
    margin: 1px @quarter-spacing;
    // border: 1px solid rgba(100, 100, 100, 0.7);
  }
  .array-preview-comma {

  }
}