
.import-export-token-control {
  display: table;
  margin: auto;
  margin-top: 12px;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  .template-info {
    display: table-row;
    .template-info-data {
      display: table-cell;
      padding: 3px;
      border-right: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
    }
    .access-token-cell {
      max-width: 300px;
      // word-wrap: break-word;
      // word-break: break-all;
      // text-overflow: ellipsis;
      overflow-x: auto;
      // max-height: 32px;
      white-space: nowrap;
    }
  }
}
