@import "../../../util/Common.less";

textarea.let-card-code-input {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
  .code-input;
}

.let-card-expand {
  width: 17px;
  fill: rgba(0,0,0,0.5);
  .transition;
  padding-left: 6px;
  padding-top: 2px;
  
  &:hover {
    fill: rgba(0,0,0,0.8);
  }
}
