@import "../../util/Common.less";

@option-height: 27px;

.dropdown-wrapper {
 background: @white;
 height: @option-height;
 overflow: hidden;
 border-radius: calc(@option-height / 2);
 box-sizing: border-box;
 z-index: 0;
 
 transition: height 0.15s;
 .dropdown-value {
  // transition: all 0.15s;
 }
 
 &.dropdown-wrapper-circle {
  width: @option-height;
 }
 
 .dropdown-options-wrapper {
  display: none;
 }
 
 &.dropdown-up:hover {
   -webkit-transform: translateY(calc(~"-100% + 29px")); // 2px greater than option-height
   transform: translateY(calc(~"-100% + 29px")); // 2px greater than option-height
   
   .dropdown-option {
     border-bottom: 1px solid @light-gray;
     border-top: 0px;
   }
 }
  
  .dropdown-value {
    position: absolute;
    z-index: 999;
    top: 0;
  }
  
 
 &:hover {
  position: relative;
  z-index: 1000;
  height: auto;
  border: 1px solid @light-gray;
  margin-top: -1px;
  
  
  .dropdown-options-wrapper {
    display: block;
    position: relative;
    max-height: 250px;
    overflow-y: auto;
  }
  
  &.dropdown-up {
    padding-top: 0px;
    
    .dropdown-value {
      bottom: 0;
      top: auto;
    }
  }
 }
 
 .dropdown-value,
 .dropdown-option {
  height: @option-height;
  padding: 0px 5px;
  position: relative;
 }
 
 .dropdown-option {
  transition: all 0.05s;
  border-top: 1px solid @light-gray;
  background: @white;
  color: @sea-green;
  
  &:hover {
   background: @sea-green;
   color: @white;
  }
  
  &:active {
   background: @medium-green;
   // font-size: 1.1em;
  }
 }
 
 .dropdown-option-inner {
   .vertically-middle;
   margin-top: -1px;
 }
}