@import "../../util/Common.less";

.info-area {
  text-align: center;
  background: rgba(255,255,255,0.25);
  padding: 20px 30px;
  border-radius: 5px;
  padding-bottom: 8px;
  
  .vertically-middle;
  
  .info-area-large {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .info-area-small {
    font-size: 16px;
    color: @dark-gray-green;
    margin-bottom: 12px;
  }
  
  .info-area-button {
    font-size: 24px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 12px;
    
    color: @white;
    position: relative;
    z-index: 999;
    cursor: pointer;
    
    &:before {
      border-radius: 5px;
      content: "";
      background: @dark-green;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0px;
      left: 0px;
      .transition;
    }
    
    &:hover:before {
      width: 105%;
      height: 105%;
      top: -2.5%;
      left: -2.5%;
      background: darken(@dark-green, 5%);
    }
    
  }
}