@import "../../util/Common.less";

@card-menu-bg: rgba(0,0,0,0.2);
@card-menu-hover-bg: rgba(0,0,0,0.7);

@menu-color: #fff;
@menu-collapsed-size: 24px;
@menu-collapsed-small-size: 18px;
@menu-icon-width: 14px;
@menu-icon-height: 14px;
@menu-icon-small-width: 10px;
@menu-icon-small-height: 10px;
@option-height: 30px;

.menu-wrapper {
  // float: right;
  background: @card-menu-bg;
  border-radius: @menu-collapsed-size;
  position: absolute;
  // z-index: 999;
  top: 3px;
  right: 4px;
  cursor: pointer;
  .transition;
  overflow: hidden;
  text-align: center;
  
  &:not(:hover) {
    width: @menu-collapsed-size !important;
    height: @menu-collapsed-size !important;
    
    &.menu-wrapper-small {
      width: @menu-collapsed-small-size !important;
      height: @menu-collapsed-small-size !important;  
    }
  }
  
  .menu-icon {
    fill: @menu-color;
    width: @menu-icon-width;
    height: @menu-icon-height;
    position: absolute;
    left: calc((@menu-collapsed-size - @menu-icon-width) / 2);
    top: calc((@menu-collapsed-size - @menu-icon-height) / 2);
    opacity: 1;
    
    .transition;
  }
  
  &.menu-wrapper-small {
    .menu-icon {
      width: @menu-icon-small-width;
      height: @menu-icon-small-height;
      left: calc((@menu-collapsed-small-size - @menu-icon-small-width) / 2);
      top: calc((@menu-collapsed-small-size - @menu-icon-small-height) / 2);
    }
  }
  
  .menu-option {
    opacity: 0;
    color: @menu-color;
    position: relative;
    
    height: @option-height;
    .transition;
    
    white-space: nowrap;
    
    &:hover:not(.menu-option-disabled) {
      background: darken(@card-menu-bg, 5%);
    }
    
    z-index: 1020;
    
    &.menu-option-disabled {
      background: @dark-grey;
      color: @grey;
    }
  }
  
  &:hover {
    background: @card-menu-hover-bg;
    border-radius: 5px;
    z-index: 1020;
    
    .menu-icon {
      display: none;
      opacity: 0;
    }
    
    .menu-option {
      display: block;
      opacity: 1;
      z-index: 1020;
      position: relative;
    }
  }
}