.builder-label {
  width: 58px;
  position: relative;
  top: 4px;
}

.filters-single {
  .combinator {
    display: none;
  }
  .filters-multiple {
    .combinator {
      display: inherit;
    }
  }
}

.filters-multiple {
  .card-field-wrapper:last-child {
    .combinator {
      opacity: 0;
    }
  }
}