.builder-label {
  width: 58px;
  position: relative;
  top: 4px;
  text-align: center;
}

.filters-single {
  .combinator {
    display: none;
  }
  .filters-multiple {
    .combinator {
      display: inherit;
    }
  }
}

.filters-multiple {
  .card-field-wrapper:last-child {
    .combinator {
      opacity: 0;
    }
  }
}

.card-flex {
  display: flex;
}

.card-field-inner {
  .builder-comp-list {
    flex-grow: 1;
    display: flex;
  }
}