@import "../../common/Common.less";

@title-bar-height: 36px;
@handle-width: 10px;
@side-border-color: #d3d6d0;


.builder-column {
  height: 100%;
  overflow: hidden;
  
  input {
    font-size: 12px;
  }
  .builder-title-bar {
    background: @dark-moss;
    padding: 9px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    height: @title-bar-height;
    box-sizing: border-box;
    // box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
    // z-index: 999999;
    position: relative;
    border-left: 1px solid rgba(0,0,0,0.15);

    &:hover {
      .builder-split-screen,
      .close-builder-title-bar,
      .menu-wrapper {
        opacity: 1;
      }
    }
    
    .builder-title-bar-title {
      text-shadow: 0px 0px 3px rgba(0,0,0,0.15);
      display: inline-block;
      position: relative;
      left: @handle-width;
    
      svg {
        width: 10px;
        fill: #fff;
        margin-left: 10px;
        position: relative;
        top: 1px;
        .cls-1 {
          fill: #fff;
        }
      }
    }
    
    .builder-resize-handle {
      position: absolute;
      top: 0px;
      left: 0px;
      width: @handle-width;
      height: 100%;
      box-sizing: border-box;
      cursor: col-resize;
      .transition;
      
      .builder-resize-handle-line {
        top: 33%;
        height: 33%;
        width: 0px;
        border-left: 1px solid rgba(0,0,0,0.08);
        position: absolute;
        pointer-events: none;
      }
      
      .builder-resize-handle-line:first-child {
        left: calc(@handle-width / 3);
      }
      
      .builder-resize-handle-line:last-child {
        left: calc(@handle-width * 2 / 3);
      }
      
      &:hover {
        background: rgba(255,255,255,0.15);
      }
      
      &.active {
        background: rgba(255,255,255,0.5);
      }
    }
  }
  
  .builder-title-bar-options {
    display: inline-block;
    float: right;
    position: relative;
    top: -6px;
    
    .bc-options-svg {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      fill: #fff;
      margin: 0px 3px;
      position: relative;

      &:hover {
        background: rgba(0,0,0,0.2);
      }

      .cls-1 {
        fill: #fff;
      }

    }
    
    
    .menu-wrapper {
      position: relative;
      top: 5px;
      right: 0px;
      display: inline-block;
      margin-right: 5px;
      background: none;
      &:hover {
        background: rgba(0,0,0,0.25);
      }
      border: 2px solid #fff;
      height: 18px !important;
      width: 18px !important;
      box-sizing: border-box;
      .menu-icon {
        left: 0px;
        top: 0px;
      }
    }
  }
  
  .builder-column-content {
    background: @builder-bg;
    z-index: 0;
    position: relative;
    height: calc(~"100% - @{title-bar-height}");
    border-left: 1px solid @side-border-color;
    padding-left: 12px !important;
    
    &.builder-column-content-scroll {
      overflow-y: auto;
      overflow-x: auto;
      margin-right: 6px;
      padding-right: 0px;
    }
  
    .standard-margin-container;
  }
  
  .builder-column-loading {
    display: inline-block;
    margin-left: 10px;
    font-weight: 200;
    font-size: 11px;
  }
}

.panel-dragging {
  .builder-column {
    z-index: 99999999;
    .builder-title-bar {
      z-index: 99999999;
    }
  }
  .builder-title-bar {
    position: relative;
      z-index: 99999999;
    }
}

.builder-no-column-animation {
  .layout-manager-column {
    transition: top 0s ease-out, left 0s ease-out;
  }
}

.close-builder-title-bar {
  width: 14px !important;
  height: 14px !important;
  vertical-align: middle;
  margin-left: 2px;
  transition: opacity 0.15s ease-in-out;
}

.builder-split-screen,
.close-builder-title-bar,
.menu-wrapper:not(.menu-open) {
  opacity: 0;
  .transition;
}

.builder-revert-button {
  float: right;
  background-color: #f5f5f5;
  border: grey 1px solid;
  font: 11px "Helvetica Neue", Helvetica, sans-serif;
  color: grey;
  padding: 8px 18px;
  margin-top: 0px;
}

.builder-revert-toolbar {
  flex: 1;
  background-color: white;
  padding: 2px 8px;
  border-bottom: 1px solid #d2d2d2;
  height: 30px;
}

.builder-revert-time-message {
  color: grey;
  font: 11px "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  transform: translateY(60%);
}

.builder-white-space {
  flex: 1;
}

.builder-column-manual {
  padding-left: 0px !important;
  padding-right: 0px !important;
}