@import "../../common/Common.less";

@title-bar-height: 48px;
@handle-width: 20px;
@side-border-color: rgba(255,255,255,0.15);
@total-margin-top: 38px;

.builder-column {
  height: 100%;
  margin-top: 20px;
  .builder-title-bar {
    .noselect;
    
    padding: 9px;
    height: @title-bar-height;
    box-sizing: border-box;
    position: relative;
    cursor: auto;

    z-index: 9;
    margin-left: 15px;
    padding-left: 0px;
    margin-right: 45px;
    border-bottom: 1px solid;

    &:hover {
      .builder-split-screen,
      .close-builder-title-bar,
      .menu-wrapper, .builder-title-bar-drag-handle {
        opacity: 0.7;
      }
    }

    .builder-title-bar-drag-handle {
      opacity: 0;
      position: relative;
      top: -6px;
    }
    
    .builder-title-bar-title {
      .big-white-text;

      text-shadow: 0px 0px 3px rgba(255,255,255,0.15);
      display: inline-block;
      position: relative;
      font-size: 20px;
      cursor: pointer;
      svg {
        width: 10px;
        margin-left: 10px;
        position: relative;
        top: 1px;
      }
      .builder-title-bar-arrow {
        top: -3px;
        .rotate(90deg);
      }
      // Styling of menu
      .menu-wrapper
      {
        opacity: 1;
        .menu-options-wrapper {
          left: 4px;
          top: 22px;
          .menu-option-icon {
            position: relative;
            left: -8px;
          }
        }
      }
      &.builder-title-bar-title-locked {
        .menu-wrapper
        {
          .menu-options-wrapper {
            left: -15px;
          }
        }
      }
    }
  }

  .builder-title-bar-options {
    display: inline-block;
    float: right;
    position: relative;
    top: 6px;

    .bc-options-svg {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      margin: 0px 3px;
      position: relative;
      transition: opacity 0.15s ease-in-out;
      &.builder-split-screen {
        width: 12px;
      }
      &:hover {
        opacity: 1;
      }
    }


    .menu-wrapper {
      position: relative;
      top: 5px;
      right: 0px;
      display: inline-block;
      margin-left: 5px;
      &:hover {
        background: rgba(0,0,0,0.25);
      }
      border: 2px solid;
      height: 18px !important;
      width: 18px !important;
      box-sizing: border-box;
      border-radius: 50%;
      .menu-icon-wrapper {
        background: none;
      }
      .menu-icon {
        left: 0px;
        top: 0px;
      }
    }
  }

  .builder-resize-handle {
    position: absolute;
    top: 0px;
    left: -27px;
    width: @handle-width;
    height: 100%;
    box-sizing: border-box;
    cursor: col-resize;
    z-index: 1000;
    .transition;

    .builder-resize-handle-line {
      height: 100%;
      width: 0px;
      border-left: 1px solid rgba(255,255,255,0.25);
      position: absolute;
      pointer-events: none;
      opacity: 0;
      .transition;
    }
    &:hover {
      .builder-resize-handle-line {
        opacity: 1;
      }
    }

    @line-offset: 3px;
    .builder-resize-handle-line:first-child {
      // left: calc(@handle-width / 3);
      left: @handle-width / 2 - @line-offset - 1px;
    }

    .builder-resize-handle-line:last-child {
      // left: calc(@handle-width * 2 / 3);
      left: @handle-width / 2 + @line-offset - 1px;
    }
  }

  .builder-column-content {
    @margin-top: 20px;
    margin-top: @margin-top;
    margin-right: 38px;
    margin-left: 4px;
    z-index: 0;
    position: relative;
    height: calc(~"100% - @{title-bar-height} - @{total-margin-top}");
    padding-left: 12px !important;
    cursor: auto;
    overflow: hidden;

    &.builder-column-content-scroll {
      overflow-y: auto;
      overflow-x: auto;
      margin-right: 35px;
      padding-right: 0px;
    }

    .standard-margin-container;

    .react-grid-HeaderCell {
      box-sizing: border-box;
    }
  }

  .builder-column-loading {
    display: inline-block;
    margin-left: 10px;
    .small-text;
  }
}

.panel-dragging {
  .builder-column {
    z-index: 99999999;
    .builder-title-bar {
      z-index: 99999999;
    }
  }
  .builder-title-bar {
    position: relative;
      z-index: 99999999;
    }
}

.builder-no-column-animation {
  .layout-manager-column {
    transition: top 0s ease-out, left 0s ease-out;
  }
}

.close-builder-title-bar {
  vertical-align: middle;
  margin-left: 2px;
  transition: opacity 0.15s ease-in-out;
}

.builder-split-screen,
.close-builder-title-bar {
  opacity: 0;
  .transition;
  cursor: pointer;
}

.builder-revert-button {
  float: right;
  background-color: #f5f5f5;
  border: grey 1px solid;
  .small-text;
  color: grey;
  padding: 8px 18px;
  margin-top: 0px;
}

.builder-revert-toolbar {
  flex: 1;
  background-color: white;
  padding: 2px 8px;
  border-bottom: 1px solid #d2d2d2;
  height: 30px;
}

.builder-revert-time-message {
  color: grey;
  .small-text;
  position: absolute;
  transform: translateY(60%);
}

.builder-white-space {
  flex: 1;
}

.builder-column-manual {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
