@import "../../common/Common.less";

@br: 4px;

.analytics-selector {
  display: flex;
  orientation: row;
  justify-content: space-evenly;
}

.analytics-selector-multiswitch {
  flex: 1;
  margin: 10px;
}

.analytics-selector-multiswitch p {
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}
