@import "../../../common/Common.less";

.aggregation {
  width: 100%;
  margin: 20px;
  margin-bottom: 0px;

  .aggregation-title-bar {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;

    .arrow-icon {
      width: 10px;
      cursor: pointer;
    }

    .aggregation-title-bar-title {
      display: inline;
      padding: 8px;
      position: relative;
      height: 40px;
      cursor: pointer;
    }

    .aggregation-title-bar-options {
      float: right; 
      position: relative;

      .clipboard-icon-wrapper {
        display: inline;
        .clipboard-icon {
          height: 20px;
          width: 20px;
          float: right;
          margin-right: 24px;
          fill: white;
          cursor: pointer;
        }
      }

      .aggregation-title-bar-export {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
      }

      .menu-wrapper {
        display: inline-block;
        right: 0px;
        margin-left: 5px;
        cursor: pointer; 
        background: none;
        &:hover {
          background: rgba(0,0,0,0.25);
        }
        border: 2px solid #fff;
        height: 18px !important;
        width: 18px !important;
        box-sizing: border-box;
        .menu-icon {
          left: 0px;
          top: 0px;
        }
      }
    }


    &.aggregation-title-bar-open {
      width: calc(~"100% - 1px");
      padding-right: 20px;
      .arrow-icon {
        .rotate(-90deg);
        top: 13px;
        opacity: 1;
        left: 33px;
      }
     }

  }

  .aggregation-expanded-view {


    .bucket-view {


    
    }
  }
}
