@import "../../../common/Common.less";

.aggregation {
  width: 100%;
  margin: 40px;
  margin-bottom: 0px;
  border-bottom: 1px solid;

  .aggregation-title-bar {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;

    .arrow-icon {
      width: 10px;
      cursor: pointer;
      position: relative;
      top: -2px;
      left: 3px;
      .transition;
      .rotate(180deg);
      &.arrow-icon-closed {
        .rotate(90deg);
      }
    }

    .aggregation-title-bar-title {

      display: inline;
      padding: 8px;
      position: relative;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
      padding-right: calc(~"100% - 220px");
      .aggregation-title-bar-value {
        font-size: 14px;
        font-weight: normal;
        padding-left: 3px;
      }
    }

    .aggregation-title-bar-options {
      float: right; 
      position: relative;
      padding-bottom: 22px;
      margin-bottom: 12px;

      .clipboard-icon-wrapper {
        display: inline;
        position: absolute;
        right: 24px;
        top: 1px;    
        cursor: pointer;
        .clipboard-icon {
          height: 26px;
          width: 22px;
          float: right;
          fill: white;
        }
      }

      .aggregation-display-type-dropdown {
        margin-right: 75px;
        font-size: 14px;
        display: inline;
        position: absolute;
        right: 0px;
      }

      .aggregation-title-bar-export {
        .rotate180;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 50px;
        height: 18px;
        fill: white;
        top: 6px;
      }

      .menu-wrapper {
        display: inline-block;
        right: 0px;
        cursor: pointer;
        background: none;
        border: 2px solid #fff;
        height: 18px !important;
        width: 18px !important;
        box-sizing: border-box;
        top: 2px;
        position: absolute;
        &:hover {
          background: rgba(0,0,0,0.25);
        }
        .menu-icon {
          left: 0px;
          top: 0px;
        }
      }
    }
    &.aggregation-title-bar-closed {
      width: calc(~"100% - 1px");
      padding-right: 20px;

      .aggregation-title-bar-title {
        color: white !important;
      }
     }

  }


  .aggregation-expanded {
    padding-bottom: 24px;
    border-left: 1px solid;
    margin-left: 8px;
    display: block;
    margin-top: -16px;
    padding-top: 16px;
    padding-left: 12px;
  }
}






