@import "../../../common/Common.less";

@top-height: 24px;


.results-area {
  padding-bottom: 2 * @standard-margin;
  margin-left: 0;
  margin-right: -2 * @standard-margin;
  padding-right: @standard-margin / 2;
  padding-left: 0;
  overflow: hidden;
  height: 100%;

  .results-area-map {
    min-height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 500;
    .results-area-map-topbar {
      height: 25px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      cursor: pointer;
      span {
        position: absolute;
        top: 4px;
        left: calc(~"50% - 55px");
      }
      .results-area-map-handle-wrapper {
          position: relative;
          left: calc(~"50% - 86px");
          top: 0;
        .drag-icon {
          margin-top: 0;
        }
      }
    }
    .results-area-map-container {
      .leaflet-container
      {
        position: relative;
        width: 100%;
        bottom: 0;
        min-height: 275px;
        max-height: 275px;
      }
    }
  }

  .results-area-results-wrapper {
    padding-top: 30px;
    height: calc(~"100% - 14px");
  }
  
  .results-area-results {
    height: 100%;
    overflow-y: auto;
    margin-right: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .transition;

    &.results-area-results-outdated {
      opacity: 0.5;
    }
  }

  .results-table-wrapper-outdated {
    opacity: 0.5;
  }

  .info-area {
    //background: rgba(0,0,0,1);
  }

  .results-top,
  .results-area-results {
    .transition;
  }

  &.results-area-config-open {
    .results-top,
    .results-area-results,
    .results-table-wrapper {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }
}

.results-top {
  padding: 5px;
  box-sizing: border-box;
  height: @top-height;
  width: 100%;
  display: flex;
  border-radius: 3px;

  position: absolute;

  .results-top-summary,
  .results-top-config {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    padding-bottom: 16px; // so the bottom parts of letters don't get cut off
  }

  .results-top-summary {
    flex: 1;
  }
  .results-top-config {
    margin-right: 12px;
  }
  .switch {
    position: relative;
    top: -2px;
  }

  .results-top-config {
    float: right;
    cursor:pointer;
  }
}

.results-table-wrapper {
  // margin: 0px (-1 * @standard-margin);
  height: calc(~"100% - @{top-height}");
  position: relative;
  margin-top: @top-height;
  padding-bottom: 6px;
  padding-right: 3px;
}
