@import "../../../common/Common.less";

@top-height: 24px;

.results-area {
  padding-bottom: 2 * @standard-margin;
  margin-left: 0px;
  margin-right: -2 * @standard-margin;
  padding-right: @standard-margin / 2;
  padding-left: 0px;
  overflow: hidden;

  .results-area-results {
    height: calc(~"100% - @{top-height}");
    overflow-y: auto;
    margin-right: 6px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: @top-height;

    .transition;

    &.results-area-results-outdated {
      opacity: 0.5;
    }
  }

  .results-table-wrapper-outdated {
    opacity: 0.5;
  }

  .info-area {
    //background: rgba(0,0,0,1);
  }

  .results-top,
  .results-area-results {
    .transition;
  }

  &.results-area-config-open {
    .results-top,
    .results-area-results,
    .results-table-wrapper {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }
}

.results-top {
  padding: 5px;
  box-sizing: border-box;
  height: @top-height;
  display: flex;

  z-index: 99999999;
  position: absolute;
  width: 100%;

  .results-top-summary,
  .results-top-config {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    padding-bottom: 16px; // so the bottom parts of letters don't get cut off
  }

  .results-top-summary {
    flex-grow: 1;
  }
  .results-top-config {
    margin-right: 12px;
  }
  .switch {
    position: relative;
    top: -2px;
  }

  .results-top-config {
    float: right;
    cursor:pointer;
  }
}

.results-table-wrapper {
  // margin: 0px (-1 * @standard-margin);
  height: calc(~"100% - @{top-height}");
  position: relative;
  margin-top: @top-height;
  padding-bottom: 6px;
  padding-right: 3px;
}
