@import "../../../common/Common.less";

@result-name-bg: #cfd7c8;
@result-score-bg: #dfe6d8;
@bg: @builder-bg;
@bar-h: 34px;
@br: 5px;
@field-border-color: fade(#000, 20%);

.results-config-wrapper {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  
  .results-config {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    // background: @bg; // handled
    border-radius: @br;
    
    .results-config-bar {
      height: @bar-h;
      position: relative;
      // background: @fresh-moss; // handled
      
      .results-config-title {
        font-size: 14px;
        padding: 9px 12px;
        // color: rgba(0,0,0,0.5); handled
        font-weight: 400;
        letter-spacing: 0.5px;
        // color: #fff; // handled
      }
      
      
      .results-config-button {
        position: absolute;
        right: 8px;
        top: 4px;
        // height: 100%;
        // font-size: 16px;
        float: right;
        padding: 4px 30px;
        // background: #eee; //@light-foam; //rgb(138, 200, 136); handled
        color: @grey;
        font-weight: 500;
        
        cursor: pointer;
        // padding-top: 6px;
        border-radius: @br;
        .transition;
        
        &:hover {
          // background: #fff; handled
        }
      }
      
      .results-config-switch {
        position: absolute;
        top: 4px;
        right: 110px;
        
        .switch {
          border: 1px solid mix(@fresh-moss, @grey);
        }
      }
    }
    
    .results-config-instructions {
      text-align: left;
      margin-bottom: 12px;
      // color: @fresh-moss; handled
      letter-spacing: 0.5px;
      line-height: 18px;
      font-size: 12px;
    }
    
    .results-config-config-wrapper,
    .results-config-available-fields {
      position: absolute;
      overflow: auto;
      top: @bar-h;
      width: 50%;
      height: calc(~"100% - @{bar-h}");
    }
    
    .results-config-config-wrapper {
      left: 50%;
      padding: 12px;
      padding-top: 6px;
      .results-config-config {
        border-radius: 1px;
        overflow: hidden;
        box-shadow: -2px 2px 17px rgba(0, 0, 0, 0.05);
        
        .results-config-name,
        .results-config-score,
        .results-config-fields {
          padding: 6px;
        }
        
        .results-config-area-title {
          // color: rgba(0, 0, 0, 0.65); handled
          margin: 6px;
          margin-top: 0px;
          letter-spacing: 0.5px;
        }
        
        .results-config-name {
          // background: @result-name-bg; handled
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          &.results-config-over {
            border: 3px solid fade(@bright-green, 50%);
            padding: 3px;
          }
        }
        
        .results-config-score {
          // background: @result-score-bg; // handled
          &.results-config-over {
            border: 3px solid fade(@bright-green, 50%);
            padding: 3px;
          }
        }
        
        .results-config-fields {
          // background: #fff; handled
          min-height: 100px;
          padding-bottom: 30px;
          &.results-config-over {
            border: 3px solid fade(@bright-green, 50%);
            padding: 3px;
          }
          
          .results-config-field-wrapper {
            padding-bottom: 6px;
            margin-bottom: 6px;
            border-bottom: 1px solid @field-border-color;
          }
        }
        
        .results-config-field {
          // border-color: @field-border-color;
        }
      }
    }
    
    .results-config-available-fields {
      left: 0%;
      padding: 6px;
      
      // &.results-config-over {
      //   border: 3px solid @bright-green;
      //   padding: 6px;
      // }
      
      .results-config-field {
        // background: #fff;
        margin-bottom: 4px;
        // box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.39);
      }
    }
    
    .results-config-placeholder,
    .results-config-field {
      padding: 12px;
      padding-bottom: 10px;
      border-radius: 1px;
      font-size: 12px;
      box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.39);
      em {
        font-style: normal;
        opacity: 0.5;
      }
    }
    
    .results-config-placeholder {
      // background: fade(@aged-moss, 20%); handled
      background-blend-mode: multiply;
      // border: 1px solid fade(@aged-moss, 20%); handled
      // color: @grey; handled
    }
    
    .results-config-field {
      background: rgba(255,255,255,0.25);
      blend-mode: multiply;
      border: 1px solid #fff;
      font-weight: 500;
      letter-spacing: 0.5px;
      cursor: pointer;
      position: relative;
      padding-left: 30px;
      
      .results-config-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(~"100% - 25px");
        display: inline-block;
      }

      .close {
        fill: rgb(255, 255, 255);
        opacity: 0.5;
        &:hover {
          fill: #fff;
          opacity: 1;
        }
        position: absolute;
        right: 6px;
        top: 14px;
      }
      
      .results-config-handle {
        margin-right: 8px;
        opacity: 0.25;
        .transition;
        position: absolute;
        left: 6px;
        @h: 16px;
        top: 50%;
        margin-top: -1 * @h / 2;
        
        svg {
          height: @h; 
          fill: @trans-black;
        }
      }
      
      .results-config-field-gear {
        float: right;
        margin-top: 2px;
        opacity: 0.5;
        .transition;
        &:hover {
          opacity: 1;
        }
        width: 11px;
        fill: rgb(255,255,255);
        margin-right: 10px;
      }
      
      &:hover {
        .results-config-handle {
          opacity: 0.5;
        }
      }
      
      &.results-config-field-dragging {
        opacity: 0;
      }
      
      .results-config-field-format {
        display: none;
        &.results-config-field-format-showing {
          display: block;
        }
        
        .results-config-format-header {
          margin-top: 10px;
          font-weight: normal;
        }
        
        .results-config-format-btns {
          // background: @grey;
          display: flex;
          margin-top: 6px;
          // border-radius: 4px;
          // overflow: hidden;
        }
        
        .results-config-text-btn,
        .results-config-image-btn {
          padding: 3px 0px;
          flex-grow: 1;
          text-align: center;
          
          color: @grey;
          .transition;
          
          border-radius: 6px;
          padding: 6px 0px;
          border: 1px solid #ddd;
          margin-right: 6px;
          
          svg {
            max-width: 12px;
            max-height: 12px;
            fill: @grey;
            position: relative;
            top: 2px;
            float: left;
            left: 6px;
          }
          
          &:hover {
            background: fade(@light-green, 25%);
          }
        }
        
        .rc-selected, .rc-selected:hover {
          background: @light-green;
          color: @grey;
          border-color: @light-green;
        }
        
        .results-config-image {
          display: none;
        }
        
        &.results-config-field-format-text {
          .results-config-text-btn {
            .rc-selected;
          }
        }
        
        &.results-config-field-format-image {
          .results-config-image-btn {
            .rc-selected;
          }
          
          .results-config-image {
            display: block;
            margin-top: 6px;
            
            .results-config-field-value,
            .results-config-raw-value {
              margin-top: 6px;
            }
          }
        }
        
        input {
          border: 1px solid @fresh-moss;
          
          &[type='checkbox'] {
            width: auto;
            display: inline-block;
            -webkit-appearance: checkbox;
          }
        }
        
        label {
          margin-left: 6px;
        }
      }
    }
  }
}

.results-config-disabled-veil {
  position: absolute;
  top: @bar-h;
  width: 100%;
  height: calc(~"100% - @{bar-h}");
  background: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;
  .transition(~"all 0.35s");
  border-bottom-left-radius: @br;
  border-bottom-right-radius: @br;
  
  .results-config-disabled-veil-inner {
    .dead-center;
    // color: #fff;
    b {
      font-size: 16px;
      display: block;
      margin-bottom: 6px;
      text-align: center;
    }
    // text-shadow: 0px 0px 20px rgba(0,0,0,0.55);
  }
}

.results-config-disabled {
  .results-config-disabled-veil {
    opacity: 1;
    background: rgba(0,0,0,0.75);
    pointer-events: all;
  }
}