@import "../../../common/Common.less";

@result-height: ~"100% - 6px"; // TODO figure out why this 6px is necessary
@result-name-height: 36px;
@result-score-height: 24px;
@result-fields-wrapper-height: ~"100% - @{result-name-height} - @{result-score-height}";
@result-icon-size: 17px;

.result {
  &:first-child,
  &:nth-child(2) {
    margin-top: 2 * @standard-margin;
  }
  
	position: relative;
  padding: 0px @standard-margin;
  
  &:hover {
    // padding: 0px 2px; // if we want it to grow a little
    .result-inner .result-name {
      background: darken(#cfd7c8, 10%);
    }
  }
  
  .menu-wrapper {
    top: @standard-margin; 
    right: @standard-margin;
  }


  &.result-dragging {
    opacity: 0.5; 
  }
  
  &.result-drag-over {
    .result-inner {
      border: 2px solid @drag-color;
    }
  }
  
  .menu-wrapper:not(.menu-open) {
    opacity: 0;
    .transition;
  }
  &:hover {
    .menu-wrapper {
      opacity: 1;
    }
  }
  
  .result-name {
    height: @result-name-height;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 700;
    padding: 10px 13px;
    background: #cfd7c8;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    
    .trans-black;
    .transition;
    
    .result-name-inner {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
  }
  
  .result-inner {
    border: 2px solid @builder-bg;
    background: @white;
    border-radius: 5px;
    .transition;

    height: calc(~"100% - 2 * @{standard-margin}");
    // box-sizing: border-box;
    position: relative;
    .result-score {
      height: @result-score-height;
      .trans-black;
      
      background: #dfe6d8;
      padding: 3px;
      box-sizing: border-box;
      font-weight: 700;
      font-size: 14px;

      min-height: 12px; // todo remove
      
      .result-score-score {
        float: right;
      }
      
      .result-score-icon {
        fill : @trans-black;
        mix-blend-mode: multiply;
        width: 27px;
        margin-top: -3px;
        margin-bottom: -10px;
        margin-right: 5px;
      }
    }
    
    .result-fields-wrapper {
		  overflow-y: hidden;
      height: calc(@result-fields-wrapper-height);
      padding: 3px;
    }
      
    .result-field {
      border-bottom: 1px solid @off-white;
      padding: 1px;
      font-size: 12px;
      // margin: 4px;
      &.result-field-image {
        height: 62px;
      }
      
      .result-field-name {
        font-weight: bold;
        display: inline-block;
        word-break: break-all;
      }
      
      .result-field-value {
        &.result-field-value-number {
          font-weight: 400;
        }
        
        &.result-field-value-italics {
          font-style: italic;
        }
        
        &.result-field-value-short {
          float: right;
          display: inline-block;
        }
        
        &.result-field-value-open {
          white-space: normal;
          overflow: visible;
        }
        
        &.result-field-value-image {
          float: right;
          display: inline-block;
          height: 60px;
          
          img {
            width: 60px;
          }
        }
      }
    }
    
    .result-expanded-fields {
      margin-top: 10px;
      padding-top: 10px;
      
      .result-expanded-fields-title {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    
    .result-bottom {
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      padding: 3px;
      font-size: 12px;
      color: #aaa;
      background: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-sizing: border-box;
    }
	}
  
  &:not(.result-expanded) {
    .result-field-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }
  
  .result-spotlight {
    display: inline-block;
    width: @result-icon-size;
    height: @result-icon-size;
    border-radius: @result-icon-size;
    margin-right: 5px;
    box-sizing: border-box;
    vertical-align: bottom;
    
    border: 2px solid #fff;
  }
  
  .result-pin-icon {
    display: none;
  }
  
  &.result-pinned {
    .result-pin-icon {
      display: inline-block;
      vertical-align: bottom;
      // margin-top: -2px;
      margin-right: 5px;
      
      svg {
        // margin-bottom: -3px;
        width: @result-icon-size;
        fill: #d52c28;
      }
    }
  }
  
  .result-dragging {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: auto;
    height: auto;
    border-radius: 5px;
  }
}

.result-expanded-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  
  overflow: hidden;
  
  padding: 0px 20px;
  box-sizing: border-box;
  
  background: rgba(0,0,0,0.5);
  .transition;
  
  .result {
    margin: 40px 0px;
    
    .result-inner {
      height: auto;
      overflow: hidden;
      
      .result-field-value {
        white-space: normal !important;
        margin-top: 3px;
        
        &.result-field-value-short {
          float: none !important; 
          display: block !important;
        }
      }
    }
    
    .result-fields-wrapper {
      height: auto !important;
      max-height: 400px !important;
      overflow-y: auto;
    }
  }
  
  .result-expanded-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  } 
  
  &.result-collapsed-wrapper {
    background: rgba(0,0,0,0);
    height: 0px;
  }
}

.results-area {
  // height: calc(~"100% - 40px");
  padding-bottom: 2 * @standard-margin;
  margin-left: -1 * @standard-margin;
  margin-right: -1 * @standard-margin;
  padding-right: @standard-margin;
  padding-left: @standard-margin;
}