@import "../../../common/Common.less";

@bar-h: 34px;
@br: 5px;
@br-tight: 3px;

.results-config-wrapper {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  .results-config-wrapper {
    top: 0px;
    background: none;
    // height: calc(~"100% - 31px");
  }

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;

  .results-config {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 72px;
    width: auto;
    height: auto;
    overflow: auto;
    border-radius: @br;
    white-space: nowrap;
    overflow: hidden;

    .results-config-bar {
      height: @bar-h;
      position: relative;
      border-bottom: 1px solid;
      padding-bottom: 1px;

      .results-config-title {
        font-size: 14px;
        padding: 9px 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      .results-config-button, .results-config-default-button {
        position: absolute;
        right: 8px;
        top: 4px;
        // height: 100%;
        // font-size: 16px;
        float: right;
        padding: 4px 12px;
        font-weight: 500;
        border: 1px solid;
        cursor: pointer;
        // padding-top: 6px;
        border-radius: @br-tight;
        .transition;
      }

      .results-config-default-button {
        right: 74px;
      }

      .results-config-switch {
        position: absolute;
        top: 8px;
        right: 205px;
      }
    }

    .results-config-instructions {
      text-align: left;
      margin-bottom: 12px;
      letter-spacing: 0.5px;
      line-height: 18px;
      font-size: 12px;
      max-width: 100%;
      white-space: pre-line;
    }

    .results-config-config-wrapper,
    .results-config-available-fields {
      position: absolute;
      overflow: auto;
      top: @bar-h;
      width: 50%;
      height: calc(~"100% - @{bar-h}");
    }

    .results-config-config-wrapper {
      left: 50%;
      padding: 12px;
      padding-top: 6px;
      .results-config-config {
        border-radius: 1px;
        overflow: hidden;

        .results-config-thumbnail,
        .results-config-name,
        .results-config-score,
        .results-config-fields {
          padding: 6px;
        }

        .results-config-area-title {
          margin: 6px;
          margin-top: 0px;
          letter-spacing: 0.5px;
        }

        .results-config-name {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          &.results-config-over {
            border: 3px solid;
            padding: 3px;
          }
        }

        .results-config-score {
          &.results-config-over {
            border: 3px solid;
            padding: 3px;
          }
        }

        .results-config-fields {
          min-height: 100px;
          padding-bottom: 30px;
          &.results-config-over {
            border: 3px solid;
            padding: 3px;
          }

          .results-config-field-wrapper {
            padding-bottom: 6px;
            margin-bottom: 6px;
          }
        }

      }
    }
    .results-config-input {
      margin-left: 6px;
      width: calc(~"50% - 10px");
      height: 52px;
      position: relative;
      z-index: 20;
    }
    .results-config-available-fields {
      left: 0%;
      padding: 6px;
      @top: 80px;
      top: @top;
      height: calc(~"100% - @{top}");
      .results-config-field {
        margin-bottom: 4px;
        border-left: 3px solid;
      }
    }

    .results-config-placeholder,
    .results-config-field {
      padding: 6px;
      border-radius: 1px;
      font-size: @font-size;

      em {
        font-style: normal;
        opacity: 0.5;
      }
    }

    .results-config-placeholder {
      background-blend-mode: multiply;
    }

    .results-config-field {
      blend-mode: multiply;
      border: 1px solid;
      letter-spacing: 0.5px;
      cursor: pointer;
      position: relative;

      label, div {
        white-space: pre-line;
      }

      .results-config-field-body {
        justify-content: center;
        align-items: center;
        cursor: move;
      }

      .results-config-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 12px;
        margin-right: 6px;
      }

      .close {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }

      .results-config-handle {
        .transition;
      }

      .results-config-field-gear {
        opacity: 0.5;
        .transition;
        &:hover {
          opacity: 1;
        }
        width: 11px;
        cursor: pointer;
      }

      &.results-config-field-dragging {
        opacity: 0;
      }

      .results-config-field-format {
        display: none;
        &.results-config-field-format-showing {
          display: block;
        }

        .results-config-format-header {
          margin-top: 10px;
          font-weight: normal;
        }

        .results-config-format-btns {
          display: flex;
          margin-top: 6px;
        }

        .results-config-map-btn {
          svg {
            margin-right: -8px;
          }
        }

        .results-config-text-btn,
        .results-config-image-btn,
        .results-config-map-btn,
        .results-config-date-btn {
          padding: 3px 0px;
          flex-grow: 1;
          text-align: center;

          .transition;

          border-radius: 6px;
          padding: 6px 0px;
          border: 1px solid;
          margin-right: 6px;

          svg {
            max-width: 12px;
            max-height: 12px;
            position: relative;
            top: 2px;
            float: left;
            left: 6px;
          }

          &:hover {
          }
        }

        .rc-selected, .rc-selected:hover {

        }

        .results-config-map {
          display: none;
        }

        .results-config-image {
          display: none;
        }

        &.results-config-field-format-text {
          .results-config-text-btn {
            .rc-selected;
          }
        }

        &.results-config-field-format-map {
          .results-config-map {
            display: block;
            marg: 6px;
          }
        }

        &.results-config-field-format-image {
          .results-config-image-btn {
            .rc-selected;
          }

          .results-config-image {
            display: block;
            margin-top: 6px;

            .results-config-field-value,
            .results-config-raw-value {
              margin-top: 6px;
            }
          }
        }

        input {
          border: 1px solid;

          &[type='checkbox'] {
            width: auto;
            display: inline-block;
            -webkit-appearance: checkbox;
          }
        }

        label {
          margin-left: 6px;
        }
      }
    }
  }
}

.results-config-disabled-veil {
  position: absolute;
  top: @bar-h;
  width: 100%;
  height: calc(~"100% - @{bar-h}");
  background: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;
  .transition(~"all 0.35s");
  border-bottom-left-radius: @br;
  border-bottom-right-radius: @br;

  .results-config-disabled-veil-inner {
    .dead-center;

    padding: 12px;
    border-radius: 4px;

    b {
      font-size: 16px;
      display: block;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

.results-config-disabled {
  .results-config-disabled-veil {
    opacity: 1;
    pointer-events: all;
  }
}
