@import "../../../common/Common.less";

@result-name-bg: #cfd7c8;
@result-score-bg: #dfe6d8;
@bg: #eef1f4;

.results-config-wrapper {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  
  @br: 5px;
  
  .results-config {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    
    background: @bg;
    border-radius: @br;
    
    @bar-h: 30px;
    .results-config-bar {
      height: @bar-h;
      position: relative;
      
      .results-config-title {
        font-size: 14px;
        padding: 9px 12px;
        color: rgba(0,0,0,0.5);
      }
      
      
      .results-config-button {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        // font-size: 16px;
        padding: 0px 20px;
        background: rgb(138, 200, 136);
        cursor: pointer;
        color: #fff;
        padding-top: 6px;
        border-top-right-radius: @br;
        border-bottom-left-radius: @br;
        .transition;
        
        &:hover {
          background: darken(rgb(138, 200, 136), 5%);
        }
      }
      
      .results-config-switch {
        position: absolute;
        top: 3px;
        right: 90px;
      }
    }
    
    .results-config-instructions {
      text-align: left;
      font-size: 13px;
      margin-bottom: 12px;
    }
    
    .results-config-config-wrapper,
    .results-config-available-fields {
      position: absolute;
      overflow: auto;
      top: @bar-h;
      width: 50%;
      height: calc(~"100% - @{bar-h}");
    }
    
    .results-config-config-wrapper {
      left: 50%;
      padding: 12px;
      padding-top: 6px;
      .results-config-config {
        border-radius: 5px;
        overflow: hidden;
        box-shadow: -2px 2px 17px rgba(0, 0, 0, 0.05);
        
        .results-config-name,
        .results-config-score,
        .results-config-fields {
          padding: 3px;
          
          .results-config-none {
            padding: 8px;
            color: rgba(0,0,0,0.35);
          }
        }
        
        .results-config-area-title {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.5);
          font-weight: 500;
          margin-left: 6px;
          margin-top: 2px;
          margin-bottom: 6px;
        }
        
        .results-config-name {
          background: @result-name-bg;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          &.results-config-over {
            border: 3px solid @bright-green;
            padding: 0px;
          }
          .results-config-field {
            // background: @result-name-bg;
            background: rgba(255,255,255,0.5);
            blend-mode: multiply;
            border-bottom: 0px;
          }
        }
        
        .results-config-score {
          background: @result-score-bg;
          &.results-config-over {
            border: 3px solid @bright-green;
            padding: 0px;
          }
          .results-config-field {
            // background: @result-score-bg;
            background: rgba(255,255,255,0.5);
            blend-mode: multiply;
            border-bottom: 0px;
          }
        }
        
        .results-config-fields {
          background: #fff;
          min-height: 100px;
          padding-bottom: 30px;
          &.results-config-over {
            border: 3px solid @bright-green;
            padding: 0px;
          }
        }
      }
    }
    
    .results-config-available-fields {
      left: 0%;
      padding: 3px;
      
      &.results-config-over {
        border: 3px solid @bright-green;
        padding: 0px;
      }
    }
    
    .results-config-field {
      padding: 8px;
      padding-bottom: 6px;
      background: #fff;
      border-bottom: 1px solid #eee;
      border-radius: 3px;
      
      &.results-config-field-used {
        background: #fafafa;
      }
      
      .results-config-handle {
        margin-right: 8px;
        opacity: 0.5;
        .transition;
      }
      
      .close {
        float: right;
        margin-top: 2px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      
      &:hover {
        .results-config-handle {
          opacity: 1;
        }
      }
      
      &.results-config-field-dragging {
        opacity: 0;
      }
    }
  }
}
