@import "../../../common/Common.less";


// Style 1: thin blue border and slightly lighter color on selected tab
.results-column-wrapper {
	.results-column-tabs {
		display: inline-flex;
		width: calc(~"100% + 6px");
		.results-column-tab {
			padding: 9px 30px;
			cursor: pointer;
			border-bottom: 3px solid;
			.results-column-tab-name {
				position: relative;	
				top: 4px;
			    padding-bottom: 3px;
			}
			.results-column-tab-number {
				float: right;
				position: relative;
			    font-size: 10px;
			    top: -5px;
			    float: right;
			    margin-right: -29px;
			    padding: 1px 3px;
			    border-bottom-left-radius: 6px;
			}
		}
	}
	.results-column-raw-results {
		overflow-y: scroll;
		max-height: 100%;
	}
}