@import "../../../common/Common.less";


// Style 1: thin blue border and slightly lighter color on selected tab
.results-column-wrapper {
	.results-column-tabs {
		display: inline-flex;
		width: calc(~"100% + 6px");
		.results-column-tab {
			padding: 9px 24px;
			cursor: pointer;
			border-bottom: 4px solid;
		}
	}
}