.jobs {
	max-height: 100%;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	overflow: auto;
}
.job-log-info-icon {
    height: 14px;
    width: 14px;
    margin-left: 12px;
    cursor: pointer;
    position: relative;
    top: 1px;
}
