@import "../../common/Common.less";

.login {
  width: 100%;
  height: 100%;
  background: #f6f9f2; 
  //@medium-green;
  text-align: center;
  
  .login-wrapper {
    .dead-center;
    display: inline-block;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    overflow: hidden;
    background: #DCEEC7;
    
    .login-logo {
      background: #fff;
      padding: 35px;
      box-sizing: border-box;
      background: #fff;
      box-shadow: 0px 1px #888888;
    }
    
    .login-submit-button {
      color: #fff;
      background: #50594A;
      font-size: 18px;
      display: inline-block;
      padding: 4px 18px;
      letter-spacing: 0.3;
      cursor: pointer;
      display: block;
      .transition;
      margin-left: 100px;
      width: 100px;
      margin-bottom: 36px;
    }
  }

  .login-info {
      margin: 100px 24px;
    }

  .login-field-title{
    background: #DCEEC7;
    font-size: 14px;
    color: #000000;
    float: left;
    font-weight: bold;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top:12px;
  }


.login-input-field {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  margin-left: 10px;
  width:100%;
  border: 0px !important; 
  margin: 8px 0px;
  :hover{
    border: none !important;
  }
}

.login-bottom-toolbar {
  display: flex;
  font-size: 12px;
  background: #f6f9f2;
  padding: 4px 0px;
}

.login-forgot-password{
  float: left;
  flex: 1;
  margin-left: -50px;
}

.login-no-account{
  float: right;
}

.login-green{
  font-weight:bold;
  color: #88C43F;
}

 .login-arrow-down { 
  //  &:before {
  //   width: 0; 
  //   height: 0;
  //   border-left: 22px solid transparent;
  //   border-right: 22px solid transparent; 
  //   border-top: 22px solid #0000ff;
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%) translateY(-50%);
  // }
  &:after {
    width: 0; 
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-top: 20px solid #ff0000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
   }
 
}
}