@import "../../common/Common.less";

@m: 12px;
@font-size: 18px;

.login-wrapper {
  .dead-center;
  
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  
  .login-logo-container {
    width: 100%;
    padding-bottom: @m;
    border-bottom: 2px solid #ccc;
    margin-bottom: @m;
    .transition(~"all 0.5s");
    
    .login-logo {
      height: 140px;
      width: 140px;
    }
  }
  
  .login-container {
    .transition(~"all 0.3s");
    overflow-y: hidden;
    padding-left: 100px;
    margin-left: -100px;
    // ^ to expand the width to the left
    //   so that the labels don't get clipped off
    //   by overflow:hidden during animation
  }
  &:not(.login-wrapper-open) {
    .login-container {
      height: 0px;
    }
    .login-logo-container {
      border-bottom: 1px solid rgba(0,0,0,0);
    }
  }

  .login-info {
    border-radius: 4px;
    padding: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  //&.login-wrapper-open {
  //  .login-container {
  //    height: 110px;
  //  }
  //}
  // ^ so that the box has no fixed height

  .login-row {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;

    .login-label {
      position: absolute;
      top: 7px;
      left: 7px;
      font-size: @font-size;
      //color: @grey;
      .transition;
    }

    .login-input-field {
      font-size: @font-size;
      width: 100%;
      padding: 6px;
      border: 2px solid;
      border-radius: 4px;
    }
  }
  
  &.login-wrapper-shifted {
    .login-row {
      .login-label {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        padding-right: 24px;
      }
    } 
  }

  .login-submit-button-wrapper {
    .login-submit-button {
      font-size: @font-size;
      display: inline-block;
      margin-top: 12px;
      padding: 12px 30px;
      letter-spacing: 0.3;
      cursor: pointer;
      
      .transition;
    }
  }

  .login-bottom-toolbar {
    display: flex;
    font-size: 12px;
    background: #f6f9f2;
    padding: 4px 0px;
    
    .login-forgot-password{
      flex: 1;
      margin-left: -100px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .login-no-account{
      float: right;
    }
    
    .login-green {
      font-weight:bold;
      color: #88C43F;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


