@import "../../../common/Common.less";
.integration-page {
	height: 100%;
	width: 100%;
	padding-top: 1px;
}
.integration-list-wrapper {
	padding: 12px;
	border-radius: 4px;
	margin: 12px;
	border: 1px solid;
	.close {
		position: absolute;
    	left: -16px;
    	top: 27px;
	}
	.integration-list-header {
		height: 20px;
	    overflow: hidden;
	    padding-bottom: 6px;
	    padding-left: 6px;
		font-size: @pretty-large-font-size;
	}
	.item-list-table {
		width: 100%;
		max-width: 100%;
		margin-top: 0px;
		overflow: hidden;
		border-radius: 4px;
		.row-info {
			width: 100%;
		}
	}
	.integration-wrapper {
		.integration-preview-wrapper {
			display: flex;
			border: 1px solid;
			padding: 12px;
			border-radius: 4px;
			.integration-delete {
				height: 12px;
				flex-basis: 70px;
				position: relative;
				top: 17px;
				left: 5px;
			}
		}
	}	
}