@import "../util/Common.less";

.transform-chart {
  
  .tick text {
    fill: @dark-green;
  }
  
  .tick line {
    stroke: @dark-green;
    stroke-width: 1px;
  }
  
  .domain {
    fill: none;
    stroke: @dark-green;
    stroke-width: 0px;
  }
  
  .point {
    cursor: pointer;
    transition: stroke-width 0.15s, stroke 0.15s;
    
    &:hover,
    &[active="1"] {
      stroke-width: 5px;
    }
    
    &.point-selected,
    &[active="1"] {
      stroke: #fc5218;
    }
  }
  
  .lines {
    .transition(~"stroke 0.15s");
    
    &:hover {
      stroke: #fc5218;
    }
    
    &.line-active {
      stroke: #fc5218;
    }
  }
  
  .spotlight,
  .spotlight-bg {
    position: relative;
    z-index: 0;
  }
  
  .spotlight-tooltip,
  .spotlight-tooltip-bg {
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 999;
    .transition;
  }
  
  .spotlight:hover {
    z-index: 999;
    
    .spotlight-tooltip,
    .spotlight-tooltip-bg {
      opacity: 1;
    }
  }
  
  .right-menu {
    rect {
      fill: rgba(0,0,0,0.75);
      .transition;
    }
    
    &:hover {
      rect {
        fill: rgba(0,0,0,0.95);
      }
    }
    
    text {
      fill: #fff;
      font-size: 16px;
      // opacity: 0.95;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }
}