@import "../../../common/Common.less";
.periscope {
  @active: #fc5218;
  overflow: visible;
  
  .tick line {
    stroke-width: 1px;
  }
  
  .domain {
    fill: none;
    stroke-width: 1px;
  }
  
  .handle {
    cursor: pointer;
    transition: stroke-width 0.15s, stroke 0.15s;
    stroke-width: 2px;
    
    .transition(~"opacity 0.15s, stroke-width 0.15s, stroke 0.15s");
    
    &:hover,
    &.handle-active {
      stroke-width: 3px;
    }
  }
}

.domain-input {
  height: 25px;
  width: 38px;
  top: 308px;
  position: absolute;
  border: none;
  font-size: 14px;
  padding: 0px;
  background: none;
  text-align: center;
  &:hover, &:focus {
    background: none;
  }
}