@import "../../../common/Common.less";

@hover-overlay: rgba(255,255,255,0.25);

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.transform-chart-wrapper {
  position: relative;
  
  .point-edit-menu {
    position: absolute;
    width: 70px;
    border-radius: 6px;
    padding: 4px 8px 6px 8px;
    
    input {
      margin-top: 2px;
      margin-left: 2px;
      font-size: 12px;
      height: 14px;
      width: 58px;
    }
    
    label {
      font-size: 14px;
      margin-right: 1px;
    }
  }

  .context-menu {
    position: absolute;
    max-width: 160px;
    border-radius: 3px;
    overflow: hidden;

    .chart-context-menu-item {
      font-size: 12px;
      padding: 3px 12px 3px 12px;
      text-align: left;
      cursor: pointer;
      &:hover {
        background: @hover-overlay;
      }
    }

  }
}

.transform-chart {
  
  .tick line {
    stroke: lightgrey;
    stroke-width: 1px;
  }
  
  .domain {
    fill: none;
    stroke-width: 0px;
  }
  
  .point {
    cursor: pointer;
    transition: stroke-width 0.15s, stroke 0.15s;
    stroke-width: 3px;
    &:not(.point-disabled) {
      &:hover,
      &[active="1"] {
        stroke-width: 5px;
      }
    }
  }
  
  .lines-bg {
    opacity: .5;
  }
  
  .lines {
    stroke-width: 5px;
    fill: none;
    .transition(~"stroke 0.15s");
    
    &:hover:not(.lines-disabled) {
      stroke: #fc5218;
    }
    
    &.line-active {
      stroke: #fc5218;
    }
  }
  
  .bar {
    opacity: .5;
  }
  
  .spotlight,
  .spotlight-bg {
    position: relative;
    z-index: 0;
  }
  
  .spotlight-tooltip,
  .spotlight-tooltip-bg {
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 999;
    .transition;
  }

  .spotlight-rank {
    font-size: 10;
  }
  
  .spotlight:hover {
    z-index: 999;
    
    .spotlight-tooltip,
    .spotlight-tooltip-bg {
      opacity: 1;
    }
  }
  
  .right-menu {
    cursor: pointer;
    
    text {
      font-size: 12px;
      letter-spacing: 0.3px;
    }

    .menu-hover-rect {
      background: none;
      &:hover {
        fill: @hover-overlay;
      }
    }
  }

  .crosshairs, .transform-tooltip {
    
    text {
      font-size: 12px;
      letter-spacing: 0.3px;
      text-anchor: start;
    }
  }

  .crosshairs-line {
      fill: none;
      stroke-width: 1px;
      pointer-events: none;
    }
}
