@import "../../../common/Common.less";

@hover-overlay: rgba(255,255,255,0.25);

.transform-chart-preview-wrapper {
  position: relative;
  .transform-chart-preview {
    border-radius: 2px;
    border: 1px solid;
  }
  .lines {
    stroke-width: 2px;
    fill: none;
  }
}
