@import "../../../common/Common.less";

@hover-overlay: rgba(255,255,255,0.25);

.transform-chart-wrapper {
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  position: relative;
  
  .left-title, .bottom-title {
    font-size: 18px;
    font-weight: normal;
    .noselect;
  }
  .transform-chart {
    overflow: visible;
  }
  
  .point-edit-menu {
    position: absolute;
    width: 70px;
    border-radius: 6px;
    padding: 4px 8px 6px 8px;
    
    input {
      margin-top: 2px;
      margin-left: 2px;
      font-size: 12px;
      height: 14px;
      width: 58px;
    }
    
    label {
      font-size: 14px;
      margin-right: 1px;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
  }

  .context-menu {
    position: absolute;
    max-width: 160px;
    border-radius: 3px;
    overflow: hidden;

    .chart-context-menu-item {
      font-size: 12px;
      padding: 3px 12px 3px 12px;
      text-align: left;
      cursor: pointer;
      &:hover {
        background: @hover-overlay;
      }
    }
  }
}

.transform-chart {
  .bottomAxis {
    .tick line {
      display: none;
    }
  }

  .tick text {
    stroke: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .tick line {
    stroke-width: 1px;
  }
  
  .domain {
    fill: none;
    stroke-width: 0px;
  }
  
  .inner-svg-points {
    overflow: visible;
  }
  
  .point {
    cursor: pointer;
    transition: stroke-width 0.15s, stroke 0.15s;
    stroke-width: 2px;
    &:not(.point-disabled) {
      &:hover,
      &[active="1"] {
        stroke-width: 3px;
      }
    }
  }
  
  .lines-bg {
    opacity: .5;
  }
  .bar {
    .bar-path {
    opacity: 0.7
    }
    .bar-percentage {
      font-size: 12px;
      opacity: 0;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      .transition;
    }
    &:hover {
      .bar-percentage {
        opacity: 1;
      }
    }
  }


  .lines {
    stroke-width: 2px;
    fill: none;
    .transition(~"stroke 0.15s");
    
    &:hover:not(.lines-disabled) {
      stroke: #fc5218;
    }
    
    &.line-active {
      stroke: #fc5218;
    }
  }


  .popup {
    font-weight: bold;
  }

  .overlay {
    font-size: 12px;
  }

  .no-point-overlay {
    font-size: 11px;
  }
  
  .spotlight,
  .spotlight-bg {
    position: relative;
    z-index: 0;
  }
  
  .spotlight-tooltip,
  .spotlight-tooltip-bg {
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 999;
    .transition;
  }
  
  .spotlight:hover {
    z-index: 999;
    
    .spotlight-tooltip,
    .spotlight-tooltip-bg {
      opacity: 1;
    }
  }
  
  .right-menu {
    cursor: pointer;
    
    text {
      font-size: 12px;
      letter-spacing: 0.3px;
    }

    .menu-hover-rect {
      background: none;
      &:hover {
        fill: @hover-overlay;
      }
    }
  }

  .crosshairs, .transform-tooltip {
    
    text {
      font-size: 12px;
      letter-spacing: 0.3px;
      text-anchor: start;
    }
  }

  .crosshairs-line {
      fill: none;
      stroke-width: 1px;
      pointer-events: none;
    }
}
