@import "./../../../common/Common.less";

.inputs-area {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.layout-manager-full-height {
  overflow-y: visible !important;
}

.input {
  .standard-margin;
  height: 0px;

	.input-inner {
		padding: 12px;
		background: @light-green;
	 border-radius: 6px;

  &:hover {
    .input-top-row {
      .input-close {
        transition: opacity .5s ease-in-out;   
        opacity: 1;
      }
      .input-menu {
        transition: opacity .5s ease-in-out;   
        opacity: 1;
      }
      .builder-tb {
        transition: width .25s ease-in-out ;
        width: calc(~"100% - 60px") !important;
      }
      .input-text {
        width: calc(~"100% - 35px") !important;
      }
    }
  }

		.input-text {
			display: block;
			-webkit-appearance: none;
			outline: none;
			background: #fff;
			padding: 7px;
			color: @gray;
			border-radius: 6px;
			width: 100%;
			font-size: @medium-font-size;
      height: 30px;
		}

		.input-text-first {
			margin-bottom: 12px;
		}
	}
    
  .builder-tb {
    input {
      border: none !important;
    }
  }
  
  .input-top-row {
    position: relative;
    margin-right: -5px;
    .builder-tb {
      width: calc(~"100% - 6px");
      transition: width 0.25s ease-in-out .1s;   
    }
  }
  
  .create-line-row {
    opacity: 1;
    .transition;
  }
}

.panel-dragging {
  .input-inner {
  	transition: box-shadow 0.25s ease-out;
  	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  }
  
  .create-line-row {
    opacity: 0;
  }
}

.input-menu {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.input-close {
  width: 16px !important;
  height: 16px !important;
  right: 6px;
  float: right;
  position: relative;
  display: inline-block;
  top: -22px;
  fill: #abc29f;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    .close;
    right: 7px;
    margin: 1px 0px;
    transition: 0.15s;
  }
}
