.gaussian-graph-wrapper {
  position: relative;
  .gaussian-graph { 
    .tick line {
      stroke-width: 1px;
    }
    .domain {
      fill: none;
      stroke-width: 0px;
    }
    .point {
      cursor: pointer;
      transition: stroke-width 0.15s, stroke 0.15s;
      stroke-width: 3px;
      &:hover {
        stroke-width: 5px;
      }
    }
    .lower-section-bg, .upper-section-bg {
      opacity: 0;
      &:hover {
        opacity: 0.3;
      }
    }
    .gaussian-point-tooltip, .gaussian-section-tooltip {
      font-size: 11px;
    }
    .line {
      stroke-width: 5px;
      fill: none;
    }
    .average-line, .upper-line, .lower-line  {
      stroke-width: 3px;
      fill: none;
      stroke-dasharray: 5;
    }
  }
}

