.etl {
  height: 100%;
  padding: 20px 20px 0 20px;
}

.etl-tabs {
  height: 90%;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
}

.react-tabs {
  height: 100%;
  .react-tabs__tab-panel--selected {
    height: calc(~"100% - 47px");
  }
}
