.etl {
  height: 100%;
  padding: 20px 20px 0 20px;
}

.etl-tabs {
  height: calc(~"100% - 40px");
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.03);
}
