@import "../../common/Common.less";

.template-display-wrapper {
  padding: @spacing;
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;

  .export-display-logo-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(./../../../images/bg-logo.png);
    background-size: cover;
  }
}