@import "../../common/Common.less";

.template-display-wrapper {
  padding: @spacing;
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}