@import "../../common/Common.less";

.etl-export-display-wrapper {
  padding: @double-spacing;
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: ~"calc(100% - 120px)";
  flex-direction: column;

  .export-button {
    float: right;
    font-size: 24px;
    padding: 12px 32px;
    display: inline-block;
    border: solid 1px;
    cursor: pointer;
  }
}