@import "../../common/Common.less";

.etl-page-root {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .button-holder {
    padding: @spacing;
    border-radius: @half-spacing;
    .test-button {
      padding: @spacing;
      border-radius: @half-spacing;
      .big-text;
      cursor: pointer;
      margin: @spacing;
    }
  }
}

.etl-page-loading-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: @spacing;
}