@import "~common/Common.less";

.etl-step-big-button {
  padding: @half-spacing @spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: @pretty-large-font-size;
  &.button-disabled {
    cursor: default;
  }
}

.etl-step-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}