@import "~common/Common.less";
@import "~etl/templates/components/TemplateEditor.less";

.edge-section {
  margin: @half-spacing 0px;

  .edge-component-item {
    display: flex;
    padding: @quarter-spacing @half-spacing;
    border: 1px solid;
    border-radius: 3px;
    margin: @quarter-spacing;
    justify-content: space-between;
  }

  .edge-component-spacing {
    padding: @half-spacing;
    flex: 1;
  }

  .edge-component-spacing-small {
    padding: @half-spacing;
    text-align: center;
  }

  .edge-item-menu-wrapper {
    position: relative;
  }
}