@import "~common/Common.less";
@import "~etl/templates/components/TemplateEditor.less";

.edge-section {
  margin: @half-spacing 0px;

  .edge-component-item {
    display: flex;
    padding: 0px @half-spacing;
    border: 1px solid;
    border-radius: 3px;
    margin: @quarter-spacing;
    justify-content: space-between;
  }

  .edge-component-spacing {
    padding: @half-spacing;
  }
}