@import "../../common/Common.less";

.account-dropdown-wrapper {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
  .transition;
  position: relative;
  &:hover {
    background: rgba(255,255,255,0.1);
  }
  
  .account-dropdown-top-bar {
    .account-dropdown-image {
      width: 70%;
      border-radius: 50%;
      padding-top: 70%;
      margin: auto;
      background-size: cover;
      background-position: center center;
    }
    .account-dropdown-name-wrapper {
      text-align: center;
      margin-top: 6px;
      .account-dropdown-name {
        display: inline;
      }
      .account-arrow-icon {
        width: 8px;
        position: relative;
        vertical-align: middle;
        top: -2px;
        margin-left: 3px;
        .transition
      }
    }
  }
  .account-dropdown-top-bar-small {
    .account-dropdown-image {
      height: 30px;
      width: 30px;
      padding-top: 0px;
      margin-left: -7px;
    }
    .account-dropdown-name-wrapper {
      display: none;
    }
  }
  
  &.account-dropdown-open {
    background: rgba(255,255,255,0.15);
    .account-dropdown-top-bar
    {
      .account-dropdown-name-wrapper
      {
        .account-arrow-icon {
          .rotate180;
          .transition;
          top: 0px;
        }      
      }
    }
  }
  
  .account-dropdown-icon {
    width: 12px;
    float: left;
    position: relative;
    padding-right: 6px;
    // padding-left: 12px;
    top: 3px;
    &.account-dropdown-icon-red {
      fill: #911352;
    }

    &.account-dropdown-icon-blue {
      fill: #145257 !important;
    }

    &.account-dropdown-icon-green .cls-1{
      fill: #177832;
    }

  }


  .account-dropdown-link {
    color: #0e0e0e !important;
    width: 100px;
  }

  .account-dropdown-content {
    background: #fff;
    position: absolute;
    z-index: 99999999999;
    top: 100%;
    right: 15px;
    width: 120px;
    padding: 6px 0px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #C7CAC9;
    margin-right: 2px;
    &.account-dropdown-content-open-right
    {
      left: 5px;
      top: calc(~"100% + 10px");
      &:after, &:before {
        left: 14px;
      }
    }
    &:after, &:before {
      bottom: 100%;
      left: 90%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border: solid transparent;
      border-bottom-color: #ffffff;
      border-width: 7px;
      margin-left: -7px;
    }
    &:before {
      border: solid transparent;
      border-bottom-color: #C7CAC9;
      border-width: 8px;
      margin-left: -8px;
    }

    .account-dropdown-row {
      padding: 6px;
      font-size: 12px;
      line-height: 18px;
      border-radius: 6px;
      color: #0e0e0e !important;
      .transition;
      margin-right: 6px;
      margin-left: 6px;

      &:hover {
        background: fade(@grey, 15%);
      }
    }
  }
}
