@import "../../common/Common.less";

.account-dropdown-wrapper {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  cursor: pointer;
  .transition;
  position: relative;
  
  &:hover {
    background: rgba(255,255,255,0.1);
  }
  
  .account-dropdown-top-bar {
    .account-photo,
    .account-name,
    .account-arrow-icon {
      display: inline-block;
      pointer-events: none;
      .transition;
    }
    
    .account-arrow-icon {
      fill: @off-white;
      width: 8px;
      
      position: relative;
    }
    
    .user-thumbnail {
      position: relative;
      top: 2px;
      color: @off-white;
      
    }
  }
  
  &.account-dropdown-open {
    background: rgba(255,255,255,0.15);
     
    .account-arrow-icon {
      .rotate180;
      top: 3px;
    }
  }
  
  .account-dropdown-icon {
    width: 25px;
    float: left;
    display: inline-block;
    position: relative;
    top: -3px;
    padding-right: 10px;
    padding-left: 6px;
    &.account-dropdown-icon-red {
      fill: #911352;
    }

    &.account-dropdown-icon-blue {
      fill: #145257;
    }
  }


  .account-dropdown-link {
    color: #0e0e0e !important;
    width: 130px;
  }

  .account-dropdown-content {
    background: #fff;
    position: absolute;
    z-index: 99999999999;
    top: 100%;
    right: 0px;
    min-width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #888888;
    margin-left: 6px;
    .account-dropdown-row {
      padding: 12px 0px;
      font-size: 16px;
      line-height: 18px;
      border-radius: 6px;
      color: #0e0e0e !important;
      .transition;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 10px; 

      &:hover {
        background: #d1efe7;
      }
      &:last-child {
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }
  }
}