@import "../../common/Common.less";
@option-height: 30px;

.advanced-menu-wrapper {
  position: relative;
  z-index: 999;
  &.advanced-menu-open {
    z-index: 1000;
  }
  cursor: pointer;
  .transition;
  overflow: visible;
  text-align: center;
}

.advanced-menu-options-wrapper {
  background: #ffffff;
  border-radius: 6px;
  z-index: 1020;
  top: @option-height;
  position: absolute;
  text-align: left;
  overflow: visible;
  border: 1px solid;
  .advanced-menu-option {
    display: block;
    opacity: 1;
    z-index: 1020;
    position: relative;
    height: @option-height;
    border-radius: 6px;
    cursor: pointer;
    padding-left: 12px;
    .transition;
    white-space: nowrap;
    &:hover{
      background-color: fade(@grey, 15%) !important;
    }
    .advanced-menu-option-text 
    {
      padding-top: 6px;
      font-size: 16px;
    }
    .advanced-menu-option-arrow {
      height: 12px;
      width: 12px;
      position: relative;
      top: -0.5 * @option-height;
      .rotate(90deg);
      left: calc(~"100% - 20px");
    }
    .advanced-menu-option-expanded {
      position: relative;
      left: 100%;
      top: -1 * @option-height - 6;
      background: white;
      border-radius: 6px;
      border: 1px solid;
      padding: 2px 0px;
     }
  }
}