@import "../../common/Common.less";

@padding: 6px 12px 6px 12px;

.autocomplete {
  position: relative;

  .ac-options {
    max-height: 200px;
    overflow-y: auto;
    
    text-align: left;
    position: absolute;
    z-index: 99999999;
    top: 100%;
    min-width: 100%;
    background: #fff;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    
    .ac-option {
      cursor: pointer;
      padding: @padding;
      max-height: 300px;
      overflow-y: auto;
      // margin: 0px 6px;
      border-radius: 6px;
      &:first-child {
        border-top: 0px;
      }
      
      &.ac-option-selected {
        background: fade(#D1EFE7, 50%);
      }
      
      &:hover {
        background: #d1efe7;
      }
    }
    
    .ac-no-options {
      padding: @padding;
      
    }
  }
}

.ac-wrong-type {
  background: fade(#e27d7d, 50%) !important;
}

.tooltip-icon-wrapper {
  // display: inline-block;
  // position: absolute;
  // right: 6px;
  // top: 50%;
  // bottom: 50%;
  // position: asbolute;
  // right: 6px;
  // top: 6px;
  // top: 50%;
  // transform:translate(-50%, -50%);
  // fill: #FFF;
  // width: 16px;
  // height: 16px;
}
.tooltip-positioning {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(0%, -50%);
  // bottom: 50%;
  // transform: translate(0%, -50%);
  // height: 16px;
  // width: 16px;
}

.tooltip-icon {
  // position: absolute;
  // top: 50%;
  // bottom: 50%;
  // transform:translate(0%, -50%);
  height: 16px;
  width: 16px;
  fill: #FFF;
}