@import "../../common/Common.less";

.checkbox {
	color: #b0b6b7;
	display: inline;
	cursor: pointer;
	font-size: 10px;
	background: #b0b6b7;
	padding: 0px 2px;
	margin-right: 10px;
	border-radius: 1px;
}

.checked {
	.checkbox;
	color: white;
	background: #00bcd6;
}