@import "../../common/Common.less";

.checkbox {
	display: inline;
	cursor: pointer;
	font-size: 10px;
	padding: 0px 2px;
	margin-right: 10px;
	border-radius: 1px;
	width: 8px;
}

.checkbox-checked {
	color: white;
}

.check-mark-icon {
	height: 7px;
	margin-top: 2px;
}