.cron-editor {
	margin: 20px;
	.cron-editor-columns {
		display: inline-flex;
		width: 100%;
		.cron-editor-column {
			width: 50%;
			padding-right: 20px;
			.common-label-style {
				font-size: 20px;
			}
		}
	}
	.cron-editor-footer {
		display: inline-flex;
		width: 100%;
		justify-content: center;
		padding-top: 20px;
		.floating-input {
			max-width: 300px;
		}
	}

}
.cron-editor-bottom-note {
	padding-bottom: 20px; // allow visibliity in route-selector
}
