/* DayPicker styles */
/* These are based off of react-day-picker/style.css */
/* for more info: http://www.gpbl.org/react-day-picker/docs/Styling.html */

@import "../../common/Common.less";

@day-corner-radius: 3px;
@day-border-width: 1px;

.date-picker-wrapper
{
  position: relative;
  width: 200px;
  padding-right: 6px;
  .date-picker {
    width: 104%;
    position: absolute;
    top: 38px;
    .DayPicker-NavButton {
      height: 1rem;
      width: 0.5rem;
      outline: none;
    }
    .DayPicker-wrapper 
    {
      width: 100%;
      .DayPicker-Month {
        display: block;
        margin: 0px 9px;
      }
      .DayPicker-Months {
        font-size: 14px;
        font-weight: normal;
     }
     .DayPicker-Weekdays {
      display: block;
     }
     .DayPicker-Week {
      display: block;
      width: 100%;
      .DayPicker-Day {
        // width: 27px;
        height: 27px;
        padding: 0px;
        font-weight: lighter;
      }
     }
    }
  }
  .date-picker-wrapper-date {
    font-size: @font-size;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    svg {
      height: 20px;
      width: 20px;
      padding-right: 6px;
      position: relative;
      top: 4px;
    }
    span {
      position: relative;
      top: -2px;
    }

  }
}

.date-picker {
  border-radius: 5px;
  padding-bottom: 12px;
  text-align: center;

  font-weight: 500;
  .dropdown-option-value-selected {
    overflow: hidden;
  }
  div {
    outline: none;
  }
  
  .date-time-colon {
    text-align: center;
    padding-top: 4px;
  }

  .date-time-time {
    padding: 0px 15px;
    margin-bottom: 25px;
    margin-top: 2px;

    .labeled-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .dropdown-wrapper {
      flex-grow: 1;
      min-width: 100px;
      width: auto;

    }

    .dropdown-options-wrapper {
      max-height: 88px;
    }
  }
  
  .date-time-time-top {
    padding: 0px 15px;
    margin-bottom: 25px;
    margin-top: 25px;

    .labeled-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .specific-time-amount {
      flex-grow: 1;
      height: 33px;
      width: auto;
      margin-right: 2px;
    }

    .dropdown-wrapper {
      flex-grow: 1;
      min-width: 100px;
      width: auto;
    }

    .dropdown-options-wrapper {
      max-height: 88px;
    }
  }
}

.date-view-title {
  font-size: 12px;
  text-transform: uppercase;
}

.date-view-label {
  font-size: 11px;
  padding: 3px;
  // padding-top: 6px;
  // margin-right: 20px;
  margin-right: 15px;
  text-transform: uppercase;
  text-align: right;
  width: 100px;
}

.selected-date-type {
  display: inline-block;
  padding: 5px;
  margin: -5px 5px 5px 5px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-size: 13px;
  .transition;
}

.unselected-date-type {
  display: inline-block;
  padding: 5px;
  margin: -5px 5px 5px 5px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  .transition;
}

.DayPicker {
  outline: none;
  border: solid;
  padding: 5px;
  border-radius: 6px;
  border-width: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 10px;
  margin-bottom: 6px;
  margin-top: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DayPicker-Month {
  display: table;
  border-spacing: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  // margin: 0 1rem;
}

  .DayPicker-NavBar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
  }

  .DayPicker-NavButton {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    .transition;
  }

    // .DayPicker-NavButton--prev {
    //   left: 0.5rem;
    //   top: 2px;
    //   height: 1em;
    //   background-image: url("./../../../images/arrow-circle-left.svg");
    //   &:hover {
    //     left: (0.5rem * 0.8);
    //   }
    // }

    // .DayPicker-NavButton--next {
    //   right: 0.5rem;
    //   top: 2px;
    //   height: 1em;
    //   &:hover {
    //     right: (0.5rem * 0.8);
    //   }
    // }

  .prev-month-button {
    left: 0.7rem;
    width: 1.5em;
    position: absolute;
    &:hover {
      opacity: 0.5;
    }
  }

  .next-month-button {
    right: 0.7rem;
    width: 1.5em;
    position: absolute;
    &:hover {
      opacity: 0.5;
    }
  }

  .DayPicker-Caption {
    display: table-caption;
    height: 2.6rem;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.8px;
    padding-top: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    width: calc(~"100% + 10px");
    position: relative;
    left: -5px;
    padding-left: 5px;
    padding-top: 6px;
  }

  .DayPicker-Weekdays {
    display: table-header-group;
  }

    .DayPicker-WeekdaysRow {
      display: table-row;
    }

      .DayPicker-Weekday {
        display: table-cell;
        padding: 6px 0px;
        font-size: 16px;
        text-align: center;

        abbr {
          text-decoration: none;
        }
      }

  .DayPicker-Body {
    display: table-row-group;
  }

    .DayPicker-Week {
      display: table-row;
      &:first-child {
        .DayPicker-Day {
          border-bottom-width: 0px;
          &:first-child {
            border-top-left-radius: @day-corner-radius;
          }
          &:last-child {
            border-top-right-radius: @day-corner-radius;
          }
        }
      }
      &:last-child {
        .DayPicker-Day {
          border-bottom-width: @day-border-width;
          &:first-child {
            border-bottom-left-radius: @day-corner-radius;
          }
          &:last-child {
            border-bottom-right-radius: @day-corner-radius;
          }
        }
      }
      .DayPicker-Day {
        border-bottom-width: 0px;
        border-right-width: 0px;
        &:last-child {
          border-right-width: @day-border-width;
        }
      }
    }

      .DayPicker-Day {
        .transition;
        
        display: table-cell;
        // padding: .5rem;
        padding: 6px 0px;
        font-size: 16px;
        font-weight: lighter;
        border: @day-border-width solid;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        
        &:not(.DayPicker-Day--outside) {
          border-radius: 3px;
        }
        
        width: 1%; // I know, this makes no sense, but it makes it work on my browser
        // for some reason, the higher the percentage, the smaller the dates get
      }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }

/* Default modifiers */

.DayPicker-Day--disabled {
  cursor: default;
}

.DayPicker-Day--outside {
  cursor: default;
}
