
.drag-drop-item {
	height: 45px;
	width: 500px;
	position: relative;
	border-radius: 3px;
	border: 2px solid transparent;
	padding: 1px;
	&:hover {
		border-color: lightblue;
	}
}
.drop {
	height: 10px;
	width: 500px;
	position: relative;
	margin-top: -4px;
	margin-bottom: -4px;
	z-index: 9999;
	border-radius: 5px;
}
.drag-drop-group {
	width: 500px;
	padding: 5px;
	border-radius: 3px;
	background: lightgray;
	margin-bottom: 3px;
	border: 2px solid transparent;
	&:hover {
		border-color: lightblue;
	}
}