
.drag-drop-item {
	height: 45px;
	width: 500px;
	position: relative;
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 1px;
	&:hover {
		border-color: lightgray;
	}
}

.drop-wrapper
{
	height: 25px;
    margin-top: -5px;
    width: 700;
    position: relative;
    left: -20px;
    margin-bottom: -5px;
    transition: all 0.2s ease-in-out;
	.drop {
		width: 500px;
	    position: relative;
	    margin-top: -4px;
	    margin-bottom: -4px;
	    border-radius: 5px;
	    border: 1px solid transparent;
    	transition: all 0.2s ease-in-out;
	    top: 4px;
	    left: 20px;
	}
}

.drag-drop-group {
	width: 500px;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 3px;
	border: 1px solid transparent;
	cursor: pointer;
	border-color: #e3e3e3;
	&:hover {
		border-color: #1eb4fa;
	}
}
.drag-drop-group-preview, .drag-drop-item-preview
{
	width: 500px;
	border-radius: 3px;
	box-shadow: 1px 3px 12px;
	z-index: 2000;
	opacity: 1;
	position: relative;
}

.drag-drop-item-preview {
	height: 45px;
}

.drag-drop-group-preview {
	padding: 12px 3px 3px 15px;
	height: 21px;
	font-size: 12px;
	text-transform: uppercase;
}