
.drag-drop-item {
	height: 45px;
	width: 500px;
	position: relative;
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 1px;
	&:hover {
		border-color: #1eb4fa;
	}
}
.drop {
	height: 10px;
	width: 500px;
	position: relative;
	margin-top: -4px;
	margin-bottom: -4px;
	z-index: 9999;
	border-radius: 5px;
}
.drag-drop-group {
	width: 500px;
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 3px;
	border: 1px solid transparent;
	cursor: pointer;
	border-color: #e3e3e3;
	&:hover {
		border-color: #1eb4fa;
	}
}
.drag-drop-group-preview
{
	height: 35px;
	width: 500px;
	padding-left: 6px;
	padding-top: 10px;
	border-radius: 3px;
}