@import "../../common/Common.less";

@option-height: 27px;
@border-radius: 6px;

.dropdown-wrapper {
 background: @white;
 height: @option-height;
 border-radius: @border-radius;
 box-sizing: border-box;
 z-index: 0;
 transition: height 0.15s;
 .transition;
 
 border: 1px solid #fff;
 &:hover:not(.dropdown-disabled),
 &.dropdown-open {
  border-color: #aaa;
 }
 
 &.dropdown-disabled {
  background: #eee;
 }
 
 &.dropdown-wrapper-circle {
  width: @option-height;
 }
 
 .dropdown-options-wrapper {
  display: none;
 }
 
  .dropdown-value {
    position: absolute;
    z-index: 999;
    top: 0;
  }
  
 &.dropdown-open {
  position: relative;
  z-index: 99999;
  
  
  .dropdown-options-wrapper {
    display: block;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 6px;
    padding-bottom: 6px;
    box-shadow: 0px 0px 4px 1px #999999;
  }
  
  &:not(.dropdown-up) {
    .dropdown-options-wrapper {
      top: @option-height;
    }
  }
  
  &.dropdown-up {
    .dropdown-options-wrapper {
      bottom: @option-height;
    }
  }
 }
 
 .dropdown-value,
 .dropdown-option {
    height: @option-height;
    padding: 0px 12px;
    position: relative;
    margin: 0px 6px;
    transition: all 0.05s;
    border-radius: @border-radius;
  }
  .dropdown-value {
    .dropdown-option-inner {
      padding-top: 3px;
    }
  }
  .dropdown-option {
    background: @white;
  }
  
  .dropdown-option {     
    &:hover {
      background: #d1efe7;
    }
    
    &:active {
      background: fade(#D1EFE7, 25%);
    }
  }
 
 .dropdown-option-inner {
    padding-top: 5px;
 }
}