@import "../../common/Common.less";

@option-height: 27px;
@border-radius: 6px;

.dropdown-wrapper {
 background: @white;
 height: @option-height;
 overflow: hidden;
 border-radius: @border-radius;
 box-sizing: border-box;
 z-index: 0;
 box-shadow: 0px 0px 4px 1px #999999;
 transition: height 0.15s;
 .dropdown-value {
  // transition: all 0.15s;
 }
 
 &.dropdown-disabled {
  background: #eee;
 }
 
 &.dropdown-wrapper-circle {
  width: @option-height;
 }
 
 .dropdown-options-wrapper {
  display: none;
 }
 
 &.dropdown-up.dropdown-open {
   -webkit-transform: translateY(calc(~"-100% + 29px")); // 2px greater than option-height
   transform: translateY(calc(~"-100% + 29px")); // 2px greater than option-height
 }
  
  .dropdown-value {
    position: absolute;
    z-index: 999;
    top: 0;
  }
  
 
 &:hover:not(.dropdown-disabled),
 &.dropdown-open {
  border: 1px solid @light-gray;
  margin-top: -1px;
 }
 
 &.dropdown-open {
  position: relative;
  z-index: 1000;
  height: auto;
  
  
  .dropdown-options-wrapper {
    display: block;
    position: relative;
    max-height: 250px;
    overflow-y: auto;
  }
  
  &.dropdown-up {
    padding-top: 0px;
    
    .dropdown-value {
      bottom: 0;
      top: auto;
      display: none;
    }
  }
 }
 
 .dropdown-value,
 .dropdown-option {
    height: @option-height;
    padding: 0px 12px;
    position: relative;
    margin: 0px 6px;
    transition: all 0.05s;
    background: @white;
    border-radius: @border-radius;
  }

  .dropdown-option {     
    &:hover {
      background: #d1efe7;
    }
    
    &:active {
      background: fade(#D1EFE7, 25%);
    }
  }
 
 .dropdown-option-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    //left: 50%;   
    margin-top: -1px;
 }
}