@import "../../common/Common.less";

@option-height: 26px;
@dropdown-height: @option-height + 5px;
@border-radius: 3px;

.dropdown-wrapper {
 cursor: pointer;
 height: @dropdown-height;
 box-sizing: border-box;
 z-index: 0;
 transition: height 0.15s;
 margin: 0px (@standard-margin / 2);
 
 font-size: @font-size;

 &:last-child {
  // if it's the last child in a row, we don't want to margin the right side
  margin-right: 0px;
 }
 &:first-child {
  // same thing for the first/left
  margin-left: 0px;
 }
 .transition;

 text-align: left;

 &.dropdown-wrapper-circle {
  width: @option-height;
 }

 .dropdown-options-wrapper {
  display: none;
  // color: black;
  background-color: #fff;
  border: 1px solid lightgrey;
 }

  .dropdown-value {
    position: absolute;
    top: 0;
    line-height: 0px;
  }

 &.dropdown-open {
  position: relative;
  z-index: 99999;


  .dropdown-options-wrapper {
    display: block;
    position: absolute;
    max-height: 200px;
    min-width: 100%;
    overflow-y: auto;
    background: #ffffff;
    border-radius: @border-radius;
    padding: 6px 0px;
    // box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);
  }

  &:not(.dropdown-up) {
    .dropdown-options-wrapper {
      top: @dropdown-height + 1px;
    }
  }

  &.dropdown-up {
    .dropdown-options-wrapper {
      bottom:  @dropdown-height + 1px;
    }
  }
 }

 .dropdown-value,
 .dropdown-option {
    height: @option-height;
    padding: 0px 6px;
    position: relative;
    margin: 0px 6px;
    transition: all 0.05s;
    border-radius: @border-radius;
    color: #000000;
  }
  
  .dropdown-value {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding-right: 28px; // apply padding that exists in options menu
    padding-top: 2px;
    
    .dropdown-option-inner {
      // we keep even the unselected ones around so that the width of
      //  the dropdown can take the width of the widest one
      padding: 0px;
      margin: 0px;
      opacity: 0;
      color: #000000;

      &.dropdown-option-value-selected {
        display: block;
        padding-top: 15px;
        opacity: 1;
        white-space: nowrap;
      }
    }
    
 
    // draw arrow icon   
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        right: 6px;
        top: 12px;
        
        .transition;
        opacity: 0.25;

        border-top: 7px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
    :not(.dropdown-disabled) {
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  
  &.dropdown-open {
    .dropdown-value:before {
      // rotate arrow
      .rotate180;
    }
  }
  
  .dropdown-option {
    background: @white;
  }

  .dropdown-option {
    border: 2px solid rgba(0,0,0,0);

    &:hover,
    &.dropdown-option-selected {
      background: #d1efe7;
    }

    &:active {
      background: fade(#D1EFE7, 25%);
    }

    &.dropdown-option-focused {
      // border-color: #d1efe7;
    }
  }

 .dropdown-option-inner {
    padding-top: 4px;
 }

 &.dropdown-center {
  text-align: center;
  // .dropdown-option,
  // .dropdown-value {
  //   padding-left: 6px;
  //   padding-right: 6px;
  // }
 }

}
