.expand-icon {
  cursor: pointer;
  .expand-icon-line {
    width: 14px;
    height: 1px;
    transition: margin .2s ease-in-out;
    &.expand-icon-line-middle {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
  &.expand-icon-open {.expand-icon-line-middle {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}