.expand-icon {
  .expand-icon-line {
    width: 18px;
    height: 1px;
    cursor: pointer;
    transition: margin .2s ease-in-out;
    &:not(:first-child) {
      margin-top: 3px;
    }
  }
  &.expand-icon-open {
    .expand-icon-line {
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
  }
}