@import "../../common/Common.less";

.expand-icon {
  cursor: pointer;
  
  @outer-width: 28px;
  width: @outer-width;
  height: @outer-width;
  position: relative;
  
  .expand-icon-inner {
    position: absolute;
    
    // center within container
    top: 5px;
    left: 2px;
    
    @w: 16px;
    @h: 2px;
    width: @w;
    height: @w;
    
    .rotate(-45deg);
    
    .transition;
    
    .expand-icon-line {
      position: absolute;
      background: currentColor;
    }
    
    .expand-icon-line-first {
      // .rotate(45deg);
      top: 0px;
      right: 0px;    
      width: @h;
      height: @w;
    }
    
    .expand-icon-line-second {
      // .rotate(135deg);
      bottom: 0px;
      right: 0px; 
      width: @w;
      height: @h;
    }

    &.expand-icon-inner-open {
      .rotate(45deg);
      
      // center within container
      top: 0px;
      left: 6px;
    
    }
  }
  
  &.expand-icon-small {
    transform: scale(0.7);
  }
}