.public_fixedDataTable_main {
  border-width: 0px;
  font-size: 12px;
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background: #fff;
  // color: #fff;
  .fixedDataTableCellLayout_main {
    border-top: 1px solid #ddd;
  }
}

.public_fixedDataTableCell_cellContent {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.text-cell {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  &.text-cell-number {
    font-weight: 500;
  }
  
  &.text-cell-italics {
    font-style: italic;
  }
}