@import "../../common/Common.less";

.info-area {
  text-align: center;
  background: rgba(255,255,255,0.25);
  padding: 20px 20px;
  border-radius: 5px;
  padding-bottom: 8px;
  max-height: 80%;

  &:not(.info-area-inline) {
    .dead-center;
  }  
  
  .info-area-large {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .info-area-small {
    font-size: 16px;
    color: @dark-gray-green;
    margin-bottom: 12px;
    max-height: 200px;
    overflow: auto;
  }
  
  .info-area-button {
    font-size: 24px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 12px;
    
    color: @white;
    
    .growing-button(@dark-green);    
  }
}

.inputs-area {
  margin-left: -6px;
}