@import "../../common/Common.less";

.info-area {
  text-align: center;
  // background: rgba(255,255,255,0.25);
  padding: 20px 20px;
  border-radius: 5px;
  padding-bottom: 8px;
  max-height: 80%;
  width: 80%;
  max-width: 500px;

  &:not(.info-area-inline) {
    .dead-center;
  }  
  
  .info-area-large {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .info-area-small {
    font-size: 16px;
    color: @dark-gray-green;
    margin-bottom: 12px;
    max-height: 200px;
    overflow: auto;
  }

  .info-area-buttons-container {
    display: inline-block;
  }
  
  .info-area-button, .info-area-secondButton {
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 12px;
    
    border-radius: 3px;
    
    color: @white;
    cursor: pointer;
    
    // .growing-button(@dark-green);    
  }
}

.inputs-area {
  margin-left: -6px;
}