@import "../../common/Common.less";

.linear-selector-wrapper
{
	display: inline-flex;
	position: relative;
	.linear-selector-options {
	display: inline-flex;
	position: relative;
	z-index: 999;
	.linear-selector-label {

	}
	.linear-selector-option, .linear-selector-custom {
		padding: 0px 6px;
		cursor: pointer;
		font-size: @small-font-size;
		border-radius: 6px;
		&.linear-selector-option-selected {
		}
	}
	.linear-selector-custom {
		.builder-tb {
			top: -5px;
			width: 40px;
			input {
				font-size: 14px;
			}
		}
	}
}

	.linear-selector-selected-marker {
		position: absolute;
		border-radius: 6px;
	    padding-top: 3px;
	    top: -1px;
		z-index: 100;
		.transition(~"all 500ms cubic-bezier(0.23, 1, 0.32, 1)");
	}
}
