@import "../../common/Common.less";

.loading-wrapper {
  overflow: hidden;
  text-align: left;
  display: inline-block;
  // opacity: 0.5;
  
  .fade-in;
  
  background-color: #fff;
  border-radius: 999px;
  // img {
  	// mix-blend-mode: soft-light;
  // }
}