@import "../../common/Common.less";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.20);
  z-index: 999999999;
}

.modal-dialog{
	Modal {
		.ReactModal__Content ReactModal__Content--after-open{
			width: 100px;
		}
	}

  .modal-title {
  	padding: 10px;
  	padding-bottom: 8px;
  	font-size: 16px;
  	background-color: #EDEDED;
  	color: #636363;
  	font-weight: 500;
  	line-height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    
    &.modal-title-error{
    	background-color: #ffd8d5;
    	display: flex;
    }
    
    .modal-title-inner {
      flex-grow: 1;
    }
    
    .modal-close-x {
      .close-large;
      .close-dark;
    }
  }
}

.modal-content {
  position: absolute;
  background: white;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  width: 400px;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 5px 2px;
  
  &.modal-content-fill {
    height: calc(~"100% - 48px");
    width:  calc(~"100% - 48px");
    
    .ReactModal__Content ReactModal__Content--after-open{
      width: 100%;
      height: 100%;
    }
  }
}

.modal-message{
	text-align: left;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	padding: 14px 24px;
}

.modal-message-error {
	background-color: #d9817b;
	color: #ffffff;
	border-radius: 6px;
	margin: 12px;
	margin-bottom: 4px;
	margin-top: 8px;
	border-top: 1px #ccc solid;
	padding: 8px 12px;
	border: none;
}

.modal-buttons {
	max-width: 100%;
	height: 28px;
	border-top: 1px solid #ccc;
	padding: 12px;
	.bold-normal-text;
}

.modal-close-button,
.modal-third-button,
.modal-confirm-button {
	color: #636363;
	background-color: #fff;
	float: right;
	border: 1px solid #ccc;
  .transition;
  &:hover {
    // border-color: #aaa;
    color: darken(saturate(#70b9e7, 10%), 10%);
    background-color: #fff;
  }
  &:active {
    // border-color: #999;
    color: darken(saturate(#70b9e7, 20%), 20%);
  }
}

.modal-third-button {
  float: left;
}

.modal-confirm-button {
	background-color: #70b9e7;
  border-color: #70b9e7;
  &:hover {
    background-color: darken(saturate(#70b9e7, 10%), 10%);
    color: #fff;
  }
  &:active {
    background-color: darken(saturate(#70b9e7, 20%), 20%);
    color: #fff;
  }
	color: #fff;
	margin-left: 12px;
}

.modal-info-icon {
	width: 20px;
	margin-right: 6px;
	svg {
		fill: #636363;
	}
}
