@import "../Common.less";

.multi-input-wrapper 
{
	display: flex;
	.multi-input-input
	{
		max-width: 85px;
		display: inline-flex;
		margin-bottom: 6px;
	}
	.multi-input-item 
	{	
		display: inline-flex;
		border: 1px solid;
		border-radius: 4px;
		margin-right: 6px;
		padding: 3px;
		margin-bottom: 6px;
		padding-left: 8px;
		&:hover 
		{
			.multi-input-item-delete 
			{
				opacity: 1;
			}
		}
		.multi-input-item-delete 
		{
			.transition;
			opacity: 0;
			svg {
				height: 8px;
				width: 8px;
			}
		}
	}
}
