@import "~common/Common.less";

.object-form-container {
  display: flex;
  flex-direction: column;

  .object-kv-body {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: @quarter-spacing;
  }

  .object-form-label {
    padding: @quarter-spacing 0px;
  }
}