@import "../../common/Common.less";

@br: 6px;
@option-max-height: 350px;
@option-max-width: calc(~"50% - 16px");

.pathpicker {
	min-width: 125px; // arbitrary, can change
	
	.pathpicker-box-value {
		position: relative;
    z-index: 1;
    .transition;
    
    background: #fff;
    
    display: flex;
    align-items: center;
    
    .pathpicker-close {
    	flex-shrink: 1;
    	font-size: 12px;
    	color: #ddd;
    	.transition;
    	opacity: 0;
    	margin: 12px;
    }
    
    &.pathpicker-box-value-open:not(.pathpicker-box-value-force-open) {
    	border-top-left-radius: @br;
    	border-top-right-radius: @br;
    	
	    .pathpicker-close {
	    }
    }
    &:hover {
    	&:not(.pathpicker-box-value-open) {
	    	background: #f5f5f5;
    	}
    	
    	&.pathpicker-box-value-open:not(.pathpicker-box-value-force-open) {
	    	.pathpicker-close {
	    		color: #1eb4f7;
	    		opacity: 1;
	    	}
    	}
    }
    
	}
	
	.pathpicker-picker {
		position: absolute;
		@LEFT: 24px;
		left: @LEFT;
		width: calc(~"100% - 2 * @{LEFT}");
		box-sizing: border-box;
		border-top: 1px solid #eee;
		padding: 12px;
		border-bottom-left-radius: @br;
		border-bottom-right-radius: @br;
		&:not(.pathpicker-picker-no-shadow) {
			box-shadow: 0px 0px 24px rgba(0,0,0,0.25);
		}
		background: #fff;
		z-index: 1;
		opacity: 1;
		
		
		max-height: 450px;
		.transition;
		
		.pathpicker-picker-inner {
			opacity: 1;
		}
		
		.pathpicker-header {
			margin: 6px;
			font-size: 24px;
		}
		
		.pathpicker-options {
			display: flex;
			flex-wrap: wrap;
			
			.pathpicker-option {
				flex-grow: 1;
				min-width: 150px;
		    max-width: @option-max-width;
				max-height: @option-max-height;
				margin: 6px;
				border: 2px solid #eee;
				border-radius: 6px;
				cursor: pointer;
				
				display: flex;
				flex-direction: column;
				
				&:hover {
					border-color: #1eb4fa;
				}
				
				&.pathpicker-option-selected {
					border-color: #1eb4fa;
				}
			}
		}
		
		.pathpicker-data {
			background: #eee;
			padding: 6px;
			overflow-y: auto;
			
			.pathpicker-data-header {
				text-align: center;
				// padding-top: 6px;
			}
		}
		
		.pathpicker-data-piece {
			background: #fff;
			margin-bottom: 6px;
			border-radius: 3px;
	    box-sizing: border-box;
	    width: 100%;
	    
			display: table;
	    table-layout: fixed;
			
			
			.pathpicker-data-row {
				border-bottom: 1px solid #eee;
				margin: 2px;
				display: table-row;
				
				.pathpicker-data-field,
				.pathpicker-data-value {
					border-bottom: 1px solid #eee;
					display: table-cell;
					padding: 6px;
					font-size: 12px;
					overflow: auto;
					&::-webkit-scrollbar {
					  width: 9px;
					  height: 9px;
					}
				}
				
				.pathpicker-data-value {
					font-weight: 600;
				}
			}
		}
	}
	
}

.pathpicker-option-name {
	padding: 12px 24px;
	font-size: 42px;
}

.pathpicker-veil, .pathpicker-veil-open {
	.transition;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
}

.pathpicker-veil-open {
	background: rgba(0,0,0,0.25);
}

.pathpicker.pathpicker-picked .pathpicker-veil,
.pathpicker-veil:not(.pathpicker-veil-open) {
	background: rgba(0,0,0,0);
	pointer-events: none;
}



// @keyframes collapse-option {
//   0% {
//     max-height: @option-max-height;
//     max-width: @option-max-width;
//   }
//   100% {
//     max-height: 0px;
//     max-width: 0px;
//     min-width: 0px;
//   }
// }
// .collapse-option {
//   animation: collapse-option 0.25s linear 0.15s forwards;
// }


// these need to be here, not in the above nested structure, so that they don't override
//  the opacity: 0 call below
// .pathpicker-close,
// .pathpicker-option,
// .pathpicker-data,
// .pathpicker-option-name {
// 	opacity: 1;
// 	.transition;
// }

.pathpicker.pathpicker-picked {
	
	.pathpicker-picker {
		
		.pathpicker-picker-inner {
			opacity: 0;
			.transition(~"all 0.5s");
		}
		
		padding: 0px;
		max-height: 0px;
		.transition(~"all 1s");
	}
	
	.pathpicker-box-value-open:not(.pathpicker-box-value-force-open) {
  	border-bottom-left-radius: @br;
  	border-bottom-right-radius: @br;
  }
	
	// .pathpicker-picker {
	// 	top: 0px;
	// 	background: rgba(255,255,255,0);
	// 	.transition;
	// }
	
	// .pathpicker-header,
	// .pathpicker-close,
	// .pathpicker-option,
	// .pathpicker-data {
	// 	opacity: 0;
	// 	.transition;
	// 	border-color: rgba(0,0,0,0) !important;
	// 	padding: 0px !important;
	// 	margin: 0px !important;
	// }
	
	// .pathpicker-option:not(.pathpicker-option-picked) {
	// 	.collapse-option;
	// }
	
	// .pathpicker-option.pathpicker-option-picked {
	// 	opacity: 1;
	// 	.pathpicker-data {
	// 		opacity: 0;
	// 	}
	// 	.pathpicker-option-name {
	// 		padding: 0px;
	// 	}
	// }
	
}
