@import "../../common/Common.less";

@progressbar-height: 30px;

.progressbar-wrapper {
  display: flex;
  cursor: pointer;
  text-align: center;
  flex-direction: column;

  .progressbar-text {
    height: @progressbar-height;
    align-items: center;
    justify-content: center;
  }

  .progressbar-progress {
    height: @progressbar-height;
    text-align: center;
    .transition;
  }
}
