.section {
  border-bottom: 1px solid rgba(204,204,204,0.2);
  display: block;
  margin-left: 3px;
  margin-right: 6px;
  border-radius: 4px;
  padding: 0px 2px;
  padding-bottom: 2px;
}

.section-title {
  box-sizing: border-box;
  padding: 12px 0;
  margin-top: 12px;
  position: relative;
  user-select: none;
  .expand-icon {
    display: inline-block;
    margin: -10px;
    margin-right: 10px;
    position: relative;
  }
  .section-title-text {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
  }
  .section-title-count {
    position: absolute;
    top: 15px;
    right: 12px;
    background-color: #1eb4fa;
    padding: 1px 9px;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
  }
}
