@import "../Common.less";

@sidebar-bg: #646464;
@sidebar-selected-bg: #CDDE20;
@sidebar-hover-bg: #676E5F;
@sidebar-link-height: 36px;
@sidebar-expand-bg: #434A3C;
@sidebar-container-expanded-width: 130px;

.sidebar-container {
  background: @sidebar-bg;
  width: @sidebar-link-height;
  height: 100%;
  .transition;
  overflow: hidden;
  
  .slide-right;
  
  &.sidebar-container-expanded {
    width: @sidebar-container-expanded-width;
    
    .sidebar-link {
      width: @sidebar-container-expanded-width;
    }

    .sidebar-link-inner {
      width: 100%;
      // padding-left: 12px;
    }
        
    .sidebar-expand {
      svg {
        .rotate180;
      }
    }
  }
  
  .sidebar-selected-square {
    background: @sidebar-selected-bg;
    height: @sidebar-link-height;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    
    .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
  }
  
  .sidebar-link {
    height: @sidebar-link-height;
    width: @sidebar-link-height;
    position: relative;
    cursor: pointer;
    .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
    
    &:hover {
      background: rgba(255,255,255,0.1);
    }
    .sidebar-link-inner {
      // .dead-center;
      white-space: nowrap;
      padding-left: 10px;
      padding-top: 10px;
    }
    
    svg {
      width: 17px;
      fill: #fff;
      .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
    }
    
    .sidebar-link-text {
      .semi-bold-big-white-text;
      display: inline-block;
      position: relative;
      top: -3px;
      left: 10px;
    }
    
    &.sidebar-link-selected {
      .sidebar-link-text {
        color: @sidebar-bg;
      }
      svg {
        fill: @sidebar-bg;
      }
    }
    
  }
  
  
  .sidebar-expand {
    margin-top: 10px;
    background: @sidebar-expand-bg;
    float: right;
    // height: @sidebar-link-height;
    // padding: 10px 10px;
    width: 30px;
    height: 24px;
    border-bottom-left-radius: @sidebar-link-height;
    border-top-left-radius: @sidebar-link-height;
    position: relative;
    cursor: pointer;
    .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
    &:hover {
      background: darken(@sidebar-expand-bg, 10%);
      // padding: 9px 9px;
      // svg {
      //   width: 11px;
      // }
    }
    
    svg {
      fill: #fff;
      width: 9px;
      // .dead-center;
      .transition(~"all 600ms cubic-bezier(0.23, 1, 0.32, 1)");
    }
  }
}
