@import "../Common.less";

@sidebar-link-height: 36px;
@sidebar-container-expanded-width: 150px;

.sidebar-container {
  width: @sidebar-link-height;
  height: 100%;
  .transition;
 // overflow: hidden;
  position: relative;
  z-index: 10;
  
  .slide-right;
  .animation-delay(0.35s);
  
  &.sidebar-container-expanded {
    width: @sidebar-container-expanded-width;
    
    .sidebar-link {
      width: @sidebar-container-expanded-width;
    }

    .sidebar-link-inner {
      width: 100%;
      // padding-left: 12px;
    }
        
    .sidebar-expand {
      svg {
        .rotate180;
      }
    }
  }
  
  .sidebar-logo {
    height: 18px;
    width: 75%;
    margin: 10px 0px 10px 16px;
  }
  .sidebar-logo-small {
    height: 18px;
    /* margin: auto; */
    margin: 10px 3px;
  }

  .sidebar-selected-square {
    height: @sidebar-link-height;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    
    .transition(~"all 300ms cubic-bezier(0.23, 1, 0.32, 1)");
    &.sidebar-selected-square-hidden {
      display: none;
      .transition.no-transition;
    }
  }
  
  .sidebar-link {
    height: @sidebar-link-height;
    width: @sidebar-link-height;
    position: relative;
    cursor: pointer;
    .transition(~"all 300ms cubic-bezier(0.23, 1, 0.32, 1)");
    
    .sidebar-link-inner {
      // .dead-center;
      white-space: nowrap;
      padding-left: 10px;
      padding-top: 10px;
    }
    
    svg {
      width: 17px;
      .transition(~"all 300ms cubic-bezier(0.23, 1, 0.32, 1)");
    }
    
    .sidebar-link-text {
        font-weight: 500;
        font-size: 12px;
        display: inline-block;
        position: relative;
        top: -3px;
        left: 10px;
        letter-spacing: 0.5;
        overflow: hidden;
        opacity: 1;
        .transition(~"all 100ms ease-in-out");
        &.sidebar-link-text-hidden {
          .transition(~"all 100ms ease-in-out");
          opacity: 0;
        }
    }
  }
  
  .sidebar-expand {
    margin-top: 10px;
    float: right;
    // height: @sidebar-link-height;
    // padding: 10px 10px;
    width: 30px;
    height: 24px;
    border-bottom-left-radius: @sidebar-link-height;
    border-top-left-radius: @sidebar-link-height;
    position: relative;
    cursor: pointer;
   // .transition(~"all 300ms cubic-bezier(0.23, 1, 0.32, 1)");
    
    svg {
      width: 9px;
      // .dead-center;
     // .transition(~"all 300ms cubic-bezier(0.23, 1, 0.32, 1)");
    }
  }
}
