@import "../../common/Common.less";

.simple-table {
  width: 100%;
  border-collapse: collapse;

  .simple-table-row {
    border-bottom: 1px solid lightgrey;
  }

  .simple-table-cell {
    text-align: center;
  }
}



