@import "../../common/Common.less";

.react-grid-Grid, .react-grid-Toolbar {
  border: 0px;
  color: #242424;
}

.react-grid-HeaderRow {
  overflow: hidden;
}

.react-grid-Cell {
  box-sizing: border-box;
}

.react-grid-Row.row-selected {
  background-color: inherit
}

.react-grid-Row.row-selected .react-grid-Cell {
  background-color: inherit
}