@import "../../../../node_modules/react-tabs/style/react-tabs.less";

.react-tabs__tab-list {
  border: none;
  padding: 12px 0 0 12px;
}

.react-tabs__tab {
  border: none;
  border-radius: 0;
  background-color: #fff;
  margin-right: 15px;
  width: 205px;
  text-align: center;
  padding: 12px 12px;
  font-size: 16px;
}

.react-tabs__tab--selected {
  color: #1eb4fa;
}

.react-tabs__tab:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: none;
}
