@import "../../../../node_modules/react-tabs/style/react-tabs.less";

.react-tabs__tab-list {
  border: none;
  padding: 12px 0 0 12px;
}

.react-tabs__tab {
  border: none;
  background-color: transparent;
  margin-right: 15px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  text-transform: uppercase;
}

.react-tabs__tab--selected {
  background-color: #1eb4fa;
  color: #fff;
}

.react-tabs__tab:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: none;
}
