@import "../../../common/Common.less";

.template-editor-documents-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  .documents-area {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    &:focus {
      outline: none;
    }
  }

  .preview-document {
    margin: @spacing;
    flex: 0 0 300px;
    padding: @spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
  }

  .preview-document-index-label {
    font-size: 24px;
  }
}