@import "../../../common/Common.less";

// template editor field node
.template-editor-children-container {
  display: flex;
  flex-direction: column;
}

// TemplateEditorFieldPreview

.template-editor-field-block {
  display: flex;
  flex-direction: column;

  .field-preview-label-group {
    flex: 0 0 160px;
    display: flex;
    align-items: start;
    min-width: 0;
  }

  .field-preview-label {
    padding: @half-spacing;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
  }

  .field-preview-value {
    padding: @half-spacing;
    padding-left: @spacing;
    // &.field-preview-value-settings-open {
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   max-height: 1em;
    // }
  }

  .field-preview-row {
    display: flex;
    min-width: 0;
  }

  .editor-settings-wrapper {
    position: relative;

    .editor-settings-arrow {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #ddd;
      position: absolute;
      top: -8px;
      left: 8px;
    }
  }
}

// TemplateEditorFieldSettings
.template-editor-field-settings {
  padding: @spacing @half-spacing;
  display: flex;
  flex-direction: column;

  .field-settings-row {
    display: flex;
    padding: @half-spacing;
    align-items: center;
  }

  .field-settings-label {
    padding-right: @spacing;
    padding-left: @half-spacing;
  }
}

// TemplateEditorFieldTypeSection
.template-editor-type-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: @quarter-spacing @half-spacing;


  .type-dropdown-spacer {
    padding-bottom: @quarter-spacing;
    padding-top: @quarter-spacing;
  }

  .type-section-label {
    padding: @quarter-spacing + @half-spacing @half-spacing;
    &.label-right {
      padding-left: 0px;
    }
  }
}

// TemplateEditorFieldTransformations
.template-editor-field-transformations {
  padding: @half-spacing @spacing;
}

// TemplateEditorFieldArrayNode
.editor-array-children {
  margin-bottom: @quarter-spacing;
  .editor-array-seperator {
    border-bottom: 1px solid #888;
    .small-text;
    display: inline-block;
    margin: 0px @double-spacing;
    margin-top: @quarter-spacing;
    margin-bottom: -1px;
    position: relative;
  }
  .editor-array-item {
    padding: @half-spacing;
    margin-left: @double-spacing;
  }
}

// shared
.tef-checkbox-section {
  padding-left: @half-spacing;
  display: flex;
  cursor: pointer;
  .transition;
}

.tef-checkbox-label {
  padding: @quarter-spacing + @half-spacing @half-spacing;
  padding-left: 0px;
}

.tef-checkbox-spacer {
  margin-top: 2px;
  padding: @half-spacing;
  padding-right: 0px;
  margin-right: -3px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 1px;
}

@settings-height: 240px;
.injected-content-container {
  width: 100%;
  height: @settings-height + @spacing;

  .injected-content-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: @settings-height;
    width: ~"calc(100% - 30px)";
    left: @spacing;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.25);
    position: absolute;

  }
}

.template-editor-close-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px @spacing @half-spacing @spacing;

  .settings-drawer-close-line {
    flex: 1;
    height: 1px;
    border-bottom: 1px solid;
    border-color: inherit;
    opacity: 0.2;
  }

  .settings-drawer-close-icon {
    fill: currentColor;
    transform: rotate(-90deg);
  }
}
