@import "~common/Common.less";

@main-column-basis: 900px;
@preview-column-basis: 480px;
@total-column-basis: @main-column-basis + @preview-column-basis + 64px;
.template-editor-root-container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  
  .template-editor-width-spacer {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
  }

  .template-editor-columns-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 @total-column-basis;

    .template-editor-column {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: @spacing;
      align-items: stretch;
      .transition;

      &.main-document-column {
        flex: 0 1 @main-column-basis;
        overflow-x: hidden;
      }

      &.main-document-column-hidden {
        flex: 0 1 0px;
      }

      &.preview-documents-column {
        flex: 0 1 @preview-column-basis;
        overflow-x: hidden;
      }
    }
  }

  .template-editor-preview-control-spacer {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
    align-self: flex-end;
  }

  .template-editor-title-bar {
    flex: 0 0 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .template-editor-title-bar-actions {
      flex: 1 1 0;
      width: 1px;
      display: flex;
      align-self: flex-end;
    }

    .title-bar-action {
      padding: @half-spacing;
      .transition;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .title-bar-menu-wrapper {
      position: relative;
      width: 20px;
      height: 20px;
      margin-left: @half-spacing;
      top: 1px;
    }
  }

  .template-editor {
    height: 100%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-y: overlay; // webkit only
    .big-text;
    &:focus {
      outline: none;
    }
    border-radius: 3px;

    .template-editor-full-area {
      // padding: @spacing;
      // padding-right: @double-spacing;
    }
  }
}

.tef-big-text {
  font-size: 18px;
}