@import "../../../common/Common.less";

// template editor field node
.template-editor-children-container {
  display: flex;
  flex-direction: column;
}

// TemplateEditorFieldPreview

.template-editor-field-block {
  display: flex;
  flex-direction: column;

  .field-preview-label-group {
    flex: 0 0 160px;
    display: flex;
    align-items: start;
  }

  .field-preview-label {
    padding: @half-spacing;
    cursor: pointer;
  }

  .field-preview-value {
    padding: @half-spacing;
  }

  .field-preview-row {
    display: flex;
  }
}
