@import "../../../common/Common.less";

.template-editor-root-container {
  width: 1000px;

  .template-editor-title-bar {
    padding: @spacing;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    .template-editor-editor-title {
      text-align: center;
      flex: 1;
    }
    .template-editor-preview-title {
      text-align: center;
      width: 500px;
    }
  }
}
