@import "../../../common/Common.less";

// template editor field node
.template-editor-children-container {
  display: flex;
  flex-direction: column;
}

// template editor field

.field-settings-label-group {
  flex: 0 0 160px;
  display: flex;
  align-items: start;
}

.field-settings-label {
  padding: @half-spacing;
  cursor: pointer;
}

.field-settings-preview {
  padding: @half-spacing;
}

.field-settings-row {
  display: flex;
}
