@import "../../../common/Common.less";

.template-table-wrapper {
	padding: 12px;
	margin: 12px;
    margin-top: 0px;
	.template-delete {
		position: relative;
		top: calc(~"50% - 6px");
		margin: 6px;
		opacity: 0;
		.transition;
	}
	.row-info:hover {
		.template-delete {
	    	opacity: 1;
		}
    }
}
.template-list-raw-input {
	margin-top: 12px;
	display: flex;
	width: 100%;
	.button {
		position: relative;
    	top: -1px;
    	padding-top: 13px;
    	margin-left: 3px;
	}
}