<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>
      Terrain Data: Search
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.terraindata.com"><img src="img/logo.png" alt="Terrain" width="160px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <label for="setESServer" class="mr-sm-3">ElasticSearch Server</label>
            <input class="form-control mr-sm-2" id="setESServer" ng-model="esServer" type="search" placeholder="http://localhost:9200" aria-label="Set ES Server">
            <span class="mr-sm-4"></span>
            <label for="setVariant" class="mr-sm-2">Variant ID</label>
            <input class="form-control mr-sm-2" id="setVariant" type="search" placeholder="123" aria-label="Set Variant">
          </form>
        </div>
      </nav>
    </header>
    <div class="container" ng-app='terrainSearch' ng-controller='searchCtrl'>
      <div class="row">
        <div class="col text-center">
          <form class="mx-auto w-50 p-5" ng-submit="search()">
            <div class="input-group input-group-lg">
              <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <section class="results">
        <div class="no-results text-center" ng-hide="results.length">No results</div>
        <div class="row justify-content-between justify-content-md-center align-items-start w-800">
          <div class="col col-md-2" ng-cloak ng-repeat="result in results">
            <div id="result-{{result.movieid}}" class="card text-center" data-toggle="modal" data-target="#showDetail-{{result.movieid}}">
              <img class="card-img-top img-fluid" ng-src="http://image.tmdb.org/t/p/w185/{{result.posterpath}}" alt={{result.title}}>
              <div class="card-body">
                <h6 class="card-title">{{result.title}}</h6>
              </div>
            </div>
            <div class="modal fade" id="showDetail-{{result.movieid}}" tabindex="-1" role="dialog" aria-labelledby="showDetailLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="showDetailLabel">{{result.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    <img class="img-fluid" ng-src="http://image.tmdb.org/t/p/w185/{{result.posterpath}}" alt={{result.title}}>
                    <p class="text-muted">{{result.tagline}}</p>
                    <br/>
                    <p class="font-weight-bold text-info">{{result.overview}}</p>
                    <table class="table table-sm table-striped">
                      <tbody class="text-right">
                        <tr>
                          <td>Vote Count</td>
                          <td>{{result.votecount}}</td>
                        </tr>
                        <tr>
                          <td>Vote Average</td>
                          <td>{{result.voteaverage}}</td>
                        </tr>
                        <tr>
                          <td>Budget</td>
                          <td>{{result.budget}}</td>
                        </tr>
                        <tr>
                          <td>Revenue</td>
                          <td>{{result.revenue}}</td>
                        </tr>
                        <tr>
                          <td>Release Date</td>
                          <td>{{result.releasedate | date}}</td>
                        </tr>
                        <tr>
                          <td>Runtime</td>
                          <td>{{result.runtime}} minutes</td>
                        </tr>
                        <tr>
                          <td>Language</td>
                          <td>{{result.language}}</td>
                        </tr>
                        <tr>
                          <td>Genre(s)</td>
                          <td>{{result.genres}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Buy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Powered by <a href="http://terraindata.com/">Terrain</a>. &copy; 2017 Terrain Data Inc. All rights reserved.</span>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src='http://localhost:3001/bundle.js'></script>
    <script>
      $(document).ready(function () {
          TerrainAnalytics.logEvent('view', 1, {pageName: 'Home', pageType: 'site'});
      });
    </script>
  </body>
</html>
