// @import "common/fonts/Roboto.less";
@import "common/Common.less";

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Gilroy', Helvetica, Arial, sans-serif;

    .black-text;

    background: @builder-bg;
    font-size: @medium-font-size;

    &.resizing {
      cursor: col-resize;
    }
}

#app {
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.box-size {
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden;
}

.page-placeholder {
  text-align: center;
  font-size: 27px;
  margin-top: 150px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
}

.__react_component_tooltip {
  z-index: 999999 !important;
  transition: 0.0s !important;
}
.tooltip {
  z-index: 99999999 !important;
}

.app {
  height: 100%;
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  .transition;
  div {
    .transition;
  }

  &.link-with-svg, &.link-with-svg-180 {
    padding-left: 20px;
    position: relative;

    svg {
      .transition;
      position: absolute;
      left: 3px;
      top: 50%;
      // margin-top: -50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 12px;
      // margin: 0px 6px;
      fill: currentColor;
    }

    &.link-with-svg-180 {
      svg {
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &:hover {
      svg {
        // width: 14px;
        left: 0px;
      }
    }
  }
}

@top-bar-height: 36px;
@icon-height: 24px;
@icon-padding: calc((@top-bar-height - @icon-height) / 2);

.app-top-bar {
  height: @top-bar-height;
  background: #3e3c3c;
  position: relative;
  z-index: 999999999;

  .slide-down;
}

.app-wrapper {
  height: 100%;
}

.app-inner {
  .fade-in;
  .animation-delay(0.75s);
  background-size: cover; // background will fill entire div, cropping
  background-position: right top; // background pinned at top right, because that's where the blue intersects
}


::-webkit-scrollbar {
  width: 12px;
  height: 7px;
  // height: 7px;
  // padding-left: 3px;
  // padding-right: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.15);
  border-radius: 7px;
  margin: 5px 3px;
}

::-webkit-scrollbar-track-piece {
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
  // border-top: 1px solid #c1d1af;
  // border-bottom: 1px solid #c1d1af;
}

textarea, input {
  outline: none;
  margin: 0px; // because Safari gives inputs a 2px margin
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
}

// input[type=text], input[type=email], input[type=tel],
// input[type=num], input[type=password]
input
{
  width: 100%;
  font-size: @medium-font-size;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 5px;

  &:disabled {
    background: #f5f5f5;
  }

  .transition;
  // border: 1px solid rgba(0,0,0,0);
  border-radius: 3px;

  &.standard-input { // TODO make this the default
    padding: @spacing;
    margin: @spacing;
    width: calc(~"100% - @{spacing} * 2");
    font-size: @font-size;
    border: 1px solid #dddff3;
    border-radius: 3px;

    &:hover,
    &:focus {
      border: 1px solid;
    }
  }

  border: 1px solid rgba(0,0,0,0);
}

.button,
.large-button {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
  background-blend-mode: multiply;
  color: #fff;
  font-weight: 500;
  .transition;
  margin-top: 2px;
  cursor: pointer;
  white-space: nowrap;

  svg {
    width: 12px;
    fill: rgba(255, 255, 255, 1);

    &.back {
      .rotate180;
      margin-right: 6px;
    }

    &.next {
      margin-left: 6px;
    }
  }

  &:hover {
    background: rgba(0,0,0,0.35); //rgba(255,255,255,0.45);
  }

  &:active {
    background: rgba(255,255,255,0.25);
  }
}

.large-button {
  font-size: 24px;
  padding: 12px 32px;
}

a {
  text-decoration: none !important;
}
a:-webkit-any-link {
  text-decoration: none !important;
}
