@import "util/Common.less";

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    .noselect;

    background: #565D4E;
    color: @gray;
    font-size: @medium-font-size;
}

.page-placeholder {
  text-align: center;
  font-size: 27px;
  margin-top: 150px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
}

.app {
  height: 100%;
}

@top-bar-height: 36px; // coordinate this with .app-wrapper below
@icon-height: 17px;
@icon-padding: calc((@top-bar-height - @icon-height) / 2);

.app-top-bar {
  height: @top-bar-height;
  background: #3e3c3c;
  
  .app-top-bar-icon {
    float: left;
    height: @icon-height;
    fill: @off-white;
    padding-top: @icon-padding;
    padding-left: @icon-padding; 
  }
}

.app-wrapper {
  height: calc(~"100% - 36px"); // put top bar height here
}

