@import "../../util/Common.less";

@title-bar-height: 36px;
@top-border-color: @light-green;
@handle-width: 10px;

.builder-column {
  height: 100%;
  overflow: hidden;
  
  .builder-title-bar {
    background: @dark-moss;
    padding: 9px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    height: @title-bar-height;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
    z-index: 999999;
    position: relative;
    border-left: 1px solid rgba(0,0,0,0.15);
    
    .builder-title-bar-title {
      text-shadow: 0px 0px 3px rgba(0,0,0,0.15);
      display: inline-block;
      position: relative;
      left: @handle-width;
    }
    
    .builder-resize-handle {
      position: absolute;
      top: 0px;
      left: 0px;
      width: @handle-width;
      height: 100%;
      box-sizing: border-box;
      cursor: col-resize;
      .transition;
      
      .builder-resize-handle-line {
        top: 33%;
        height: 33%;
        width: 0px;
        border-left: 1px solid rgba(0,0,0,0.08);
        position: absolute;
        pointer-events: none;
      }
      
      .builder-resize-handle-line:first-child {
        left: calc(@handle-width / 3);
      }
      
      .builder-resize-handle-line:last-child {
        left: calc(@handle-width * 2 / 3);
      }
      
      &:hover {
        background: rgba(255,255,255,0.15);
      }
      
      &.active {
        background: rgba(255,255,255,0.5);
      }
    }
    
  }
  
  .builder-title-bar-options {
    display: inline-block;
    float: right;
    position: relative;
    top: -6px;
    
    .menu-wrapper:not(:hover) {
      background: none;
      border: 2px solid #fff;
      height: 24px;
      box-sizing: border-box;
      
      .menu-icon {
        width: 18px;
        height: 18px;
        left: 1px;
        top: 1px;
      }
    }
  }
  
  .builder-column-content {
    z-index: 0;
    position: relative;
    height: calc(~"100% - @{title-bar-height}");
    border-left: 1px solid rgba(0,0,0,0.15);
  
    .standard-margin-container;
  }
}