@import "../../../../common/Common.less";

.pf-filter-section {
	
	.pf-create {
		margin-top: 12px;
	}
	
	.pf-filter-line {

		.close {
			margin-top: 8px;
			margin-left: 3px;
			opacity: 0;
			.transition;
		}
		
		&:hover {
			.close {
				opacity: 1;
			}
		}
		
		&.pf-filter-line-pre-group {
			// if it comes before a group, hide the line
			.routeselector .routeselector-box-values {
				border-color: rgba(255,255,255,0) !important;
			}
		}
	}
	
	.pf-filter-group-header
	{
		height: 15px;
		padding-top: 6px;
		font-size: 12px;
		text-transform: uppercase;
		.builder-tb {
			max-width: 200px;
			display: inline-flex;
			top: -9px;
			left: 7px;
			height: 26px;
		}
		.pf-filter-group-name-wrapper {
			display: inline-flex;
			margin-left: 15px;
			.pf-filter-group-name {
				cursor: text;
			}
			.pf-filter-group-carrot {
				height: 9px;
				width: 9px;
				margin-left: 6px;
				.transition;
				position: relative;
				top: 2px;
				cursor: pointer;
				&.pf-filter-group-carrot-open {
					.rotate(90deg);
					top: 0px;
				}
			}
		}
		.linear-selector-wrapper {
			float: right;
			position: relative;
		    top: -4px;
		    margin-right: 3px;
		    z-index: 0;
			.linear-selector-option {
				font-size: 10px;
				padding-top: 4px;
			}
		}
		.close {
			float: right;
			opacity: 0;
			.transition;
		}
		&:hover {
			.close {
				opacity: 1;
			}
		}
	}
}
.pf-filter-map-input-wrapper {
  position: relative;
  // display: inline-flex;
  
  .pf-filter-map-inputs {
  	display: flex;
  	margin-bottom: 12px;
  }
  
  .builder-tb {
  	flex-basis: 60px;
  	flex-grow: 1;
  	margin: 0px;
  	margin-right: 12px;
  }
  
  .dropdown-wrapper {
  	flex-grow: 1;
  }
  
  .map-component-search-bar {
  	margin-bottom: -18px;
  	width: calc(~"100% + 2px");
  }
  
  .pf-filter-map-component-wrapper {
  	flex-grow: 1;
  	
  	.leaflet-container {
    	position: absolute;
			width: 100%;
    	min-height: 0px !important;
    	max-height: 100px !important;
	    border-bottom-left-radius: 6px;
	    border-bottom-right-radius: 6px;
    }
    .map-component-fade-in-out {
    	position: relative;
    	width: 100%;
    }
    #PlacesAutocomplete__autocomplete-container {
    	font-size: @font-size;
    }
	}	
}



