@import "../../../../common/Common.less";

.pathfinder-column {
	.pf-filter-section
	{
		.pf-filter-sample-result
		{
			font-size: 14px;
		    max-height: 200px;
		    overflow-y: scroll;
		    max-width: 400px;
		    overflow-x: hidden;
		    margin: auto;
		    border: 1px solid;
		    padding: 24px;
		    border-radius: ;
		    border-radius: 6px;
		    .pf-filter-sample-result-row {
		    	padding: 3px;
		    	&:hover {
		    		border: 1px solid #1eb4fa;
		    		border-radius: 6px;
		    		cursor: pointer;
		    	}
		    }
			.pf-filter-sample-result-field {
				color: black;
			}
			.pf-filter-sample-result-value {
				font-style: italic;
				margin-left: 6px;
			}
		}
	}
}

