@import "../../../common/Common.less";

.cards-column {
  .noselect;
  
  overflow: hidden;
  height: 100%;
  position: relative;
  margin-left: -13px;
  
  .cards-deck,
  .cards-column-cards-area, .tuning-column-cards-area {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    box-sizing: border-box;
    .transition;
    
    &.cards-column-cards-area-faded {
      opacity: 0.65;
      .transition(~"all 0.15s, opacity 0.15s 0.65s");
    }
  }
  
  #cards-column-inner {
    margin-right: @half-spacing;
  }
  
  .cards-deck {
    // background: #4e4f4d;
    width: 0px;
  }
  
  .cards-column-cards-area, .tuning-column-cards-area {
    padding: 6px;
    padding-right: 3px;
    left: 0px;
    overflow-y: auto;
    width: 100%;
  }
  
  @deck-width: 125px;
  &.cards-column-deck-open {
    .cards-deck {
      width: @deck-width;
    }
    .cards-column-cards-area, .tuning-column-cards-area {
      width: calc(~"100% - @{deck-width}");
      left: @deck-width;
    }
    .cards-deck-knob {
      width: @deck-width - 1px;
    }
  }
  
  &:not(.cards-column-deck-open) {
    .cards-column-cards-area, .tuning-column-cards-area {
      @knob-width: 24px;
      width: calc(~"100% - @{knob-width}");
      left: @knob-width;
    }
  }
  
  @error-height: 40px;
  .cards-column-tql-parse-error {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    
    .big-text;
    height: @error-height;
    background: rgba(255,255,255,0.75);
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px;
    text-align: center;
    
    .transition;
  }
  
  &.cards-column-has-tql-parse-error {
    // padding-bottom: @error-height;
    
    .cards-column-tql-parse-error {
      top: calc(~"100% - @{error-height}");
    }
  }
}

