@import "../../../common/Common.less";

@over-border: 1px solid #fff;

.card-drop-area {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  
  &.card-drop-area-half {
    height: 50%;
  }
  &.card-drop-area-lower {
    top: 50%;
  }
  
  &.card-drop-area-over {
    
    &:not(.card-drop-area-half) {
      border-radius: 5px;
      
      &.card-drop-area-can-drop {
        background: fade(@bright-green, 50%);
      }
      &:not(.card-drop-area-can-drop) {
        background: fade(#f00, 50%);
      }
    }
    
    &.card-drop-area-upper {
      &.card-drop-area-can-drop {
        border-top: @over-border;
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89f274+0,5ff442+100&0.44+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(137,242,116,0.44) 0%, rgba(95,244,66,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(137,242,116,0.44) 0%,rgba(95,244,66,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(137,242,116,0.44) 0%,rgba(95,244,66,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7089f274', endColorstr='#005ff442',GradientType=0 ); /* IE6-9 */

        box-shadow: 0px -5px 5px fade(@bright-green, 50%);
      }
      &:not(.card-drop-area-can-drop) {
        box-shadow: 0px -5px 5px fade(#f00, 50%); //, inset 0px 5px 5px fade(#f00, 50%);
        border-top: 1px solid #f00;
      }
    }
    
    &.card-drop-area-lower {
      &.card-drop-area-can-drop {
        border-bottom: @over-border;
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ff442+0,89f274+100&0+0,0.44+100 */
  background: -moz-linear-gradient(top,  rgba(95,244,66,0) 0%, rgba(137,242,116,0.44) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(95,244,66,0) 0%,rgba(137,242,116,0.44) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(95,244,66,0) 0%,rgba(137,242,116,0.44) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005ff442', endColorstr='#7089f274',GradientType=0 ); /* IE6-9 */

        box-shadow: 0px 5px 5px fade(@bright-green, 50%);
      }
      
      &:not(.card-drop-area-can-drop) {
        box-shadow: 0px 5px 5px fade(#f00, 50%); //, inset 0px 5px 5px fade(#f00, 50%);
        border-bottom: 1px solid #f00;
      }
    }
    
  }
}

.body-card-is-dragging {
  .card-drop-area {
    pointer-events: auto;
    z-index: 99999999999;
  }
}