@import "../../../common/Common.less";

@card-title-color: @white;
@title-height: 18px;
@top-height: 24px;
@title-width: 110px;
@stroke-height: 5px;
@card-border-radius: 6px;
@card-padding-horizontal: 15px;
@card-padding-vertical: 7px;
  
.card {
  // min-width: 400px;
  // width: 600px;
 // .standard-margin;
  // height: 0px;
  position: relative;
 
 border-radius: @card-border-radius;
 
  .card-inner {
    border: 1px solid @medium-dark-green;
    border-radius: @card-border-radius;
    box-sizing: border-box;
    
    min-height: 35px;
  }
  
  .menu-wrapper:not(.menu-open), .manual-popup-wrapper:not(.manual-popup-open) {
    opacity: 0;
    .transition;
  }
  
  &.card-hovering {
    .menu-wrapper, .manual-popup-wrapper {
      opacity: 1;
    }
    .card {
      .menu-wrapper:not(.menu-open), .manual-popup-wrapper:not(.manual-popup-open) {
        opacity: 0;
      }
    }
  }
  
  .menu-wrapper {
    top: 5px;
    left: 84px;
    z-index: 2;
    &.menu-open {
      z-index: 99;
    }
  }
  
  &.card-closed {
    .menu-wrapper {
      left: calc(~"100% - 27px");
    }
  }

  
  .card-title-card-hovering {
    .manual-popup-wrapper {
      opacity: 1;
    }
  }
  
  &.card-selected {
    box-shadow: 0px 0px 0px 3px @drag-color;
    z-index: 9001;
  }
  
  &.card-dragging {
    &:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      box-shadow: inset 0px 0px 10000px rgba(0,0,0,0.5);
      pointer-events: none;
      z-index: 999999;
      border-radius: 6px;
      overflow: hidden;
    }
    
    .card-inner {
      .card-drop-area {
        // can't drop a card inside of itself
        // already handled by JS but this should be an optimization
        pointer-events: none;
      }
    }
  }
 
 .card-sub-bar {
  border-bottom-left-radius: calc(@card-border-radius - 1px);
  border-bottom-right-radius: calc(@card-border-radius - 1px);
 }
  
  &.card-opening {
    .card-body-wrapper {
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    .card .card-body-wrapper {
      height: auto;
      overflow: visible;
      padding: inherit;
    }
  }
  
  .create-card-wrapper {
    opacity: 1;
    .transition;
  }
  
  .card-assignment {
    text-align: center;
    padding-top: 3px;
  }
  
  .card-arrow {
    height: 27px;
    position: relative;
    text-align: left;
    
    svg {
      margin-top: 5px;
      width: 42px;
      fill: #fff;
    }
  }
}

.card-title {
  width: @title-width;
  border-bottom-right-radius: 6px;
  position: absolute !important;
  height: 33px !important;
  box-sizing: border-box;
  border-top-left-radius: calc(@card-border-radius - 1px);
  text-transform: capitalize;
  position: relative; // for menu component
  text-align: left;
  
  display: flex;
  height: @title-height;
  padding: @card-padding-vertical 17px;
  .transition;
  
  .bold-normal-white-text;
  
  .card-title-inner {
    white-space: nowrap;
  }

  .card-arrow-icon {
    display: inline-block;
    fill: rgba(255,255,255,0.5);
    width: 10px;
    position: absolute;
    top: 8px;
    left: 5px;
    .transition;
    opacity: 0;
    
    &:hover {
      fill: #fff;
    }
  }
  
  &.card-title-closed {
    width: calc(~"100% - 1px");
    padding-right: 20px;
    border-radius: calc(@card-border-radius - 1px);
    .card-arrow-icon {
      .rotate(-90deg);
      top: 11px;
      opacity: 1;
      left: 2px;
    }
  }
  
  &.card-title-card-hovering {
    .card-arrow-icon {
      opacity: 1;
    }
  }
}

.cards-area {
  .transition;

  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  
  .cards-area {
    // for nested cards
    margin-right: -2.5 * @standard-margin - 1px;
    border-right: 0px;
    
    margin-left: -6px;
    
    .card {
      margin-right: 0px;
    }
  } 
  
  .card .card {
    margin-right: 0px;
  }
  
  &.drag-over {
    background: lighten(#bcd4ae, 5%);
  }
  
    
    // TODO TODO
  .card-field-add {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    .transition;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #fff;
    margin-top: 3px;
    
    svg {
      width: 12px;
      fill: #8ac541;
      .dead-center;
    }
    
    &:hover {
      background: #8ac541;
      svg {
        fill: #fff;
      }
    }
    
    &:active {
      background: #7ab536;
    }
  }
  
  .card-field-top-add {
    position: absolute;
    right: 5px;
    top: -32px;
  }

}

.drag-over:not(.cards-area) {
  .cards-area {
    background: lighten(#bcd4ae, 5%);
    
    .cards-area {
      background: #bcd4ae;
    }
  }
}

.if-card-else {
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  display: inline-block;
  margin: @standard-margin;
  margin-right: 12px;
}


.builder-operator {
 width: 34px;
   .dropdown-value {
     padding-left: 6px;
   }
   .dropdown-wrapper {
     width: 34px;
   }
   .dropdown-open{
     width: 34px;
   }
   .dropdown-option {
     padding-left: 6px;
   }
 }

.card-padding {
  padding: 0px 12px;
}

.flex-card-field {
  .flex-grow;
  .card-padding;
}

.if-card-button {
  margin-left: -6px;
  margin-bottom: -5px;
}

.card-is-dragging {
  .card-selected {
    background: #000;
    border-radius: 5px;
    .card-inner {
      opacity: 0.75;
      background-blend-mode: multiply;
    }
  }
}

.transform-card-inner {
  text-align: center;
  margin-left: -110px;
  width: calc(~"100% + 110px");
}


.card-body {
  // top: -32px;
  .transition;
  margin-left: @title-width;
  padding: 6px 3px;
}

.card-field {
  padding: 2px !important;
}

.builder-comp-list .builder-comp-list-item {
  margin-bottom: 0px !important;
}

.builder-card-header.sfw-select-header {
    margin-top: 0px !important;
    margin: 0px !important;
    margin-left: -113px !important;
    position: absolute;
    width: @title-width;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 32px;
    box-sizing: border-box;
    .transition;
    opacity: 1;
    padding-top: 7px;
    padding-left: 6px;
    
    .bold-normal-white-text;
}

.card-closed {
  // .builder-card-header.sfw-select-header {
  //   opacity: 0;
  // }
}

.card-inner {
  // border-left-width: 6px !important;
}

.card .cards-area, .builder-tb-cards-area {
  margin-right: -4px !important;
    margin-left: -108px;
}

.builder-comp-list-item.card-fields {
    margin-bottom: 6px !important;
    margin-top: -2px;
}

.builder-tb-cards-area {
  
}

.card-flex {
  margin-bottom: 0px !important;
}

.card-field .card-field-tools-left-inner,
.card-field .card-field-tools-right-inner {
  top: 4px !important;
}

.card-double-first,
.nested-cards-content {
  margin-top: 32px;
}

.card-field-below.card-field-below-first.card-field-below-data {
  margin-top: 30px;
}

.builder-tb-cards-area {
  margin-bottom: 3px;
}

.cards-area-top-bar{
  background: #fff;
  padding: 3px;
  box-sizing: border-box;
  height: @top-height;
  display: flex;

  .switch-small{
    width: 150px !important;
  }
}

.cards-area-white-space{
  flex:1;
}

.builder-comp-list .builder-comp-list-item.cards-area {
  margin-bottom: 2px !important;
}


.card-preview {
  .small-black-text;
  
  opacity: 1;
  margin: 0px 10px;
  text-transform: none;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 4px;
  background: rgba(255,255,255,0.5);
  background-blend-mode: multiply;
  
  .transition;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  
  &.card-preview-hidden {
    opacity: 0;
  }
}

.card-placeholder {
  border-radius: 6px;
  opacity: 0.7;
}
