@import "../../../common/Common.less";

.card-help-tooltip {
  max-width: 400px;
  text-align: left;
  padding: @spacing;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .card-description {
    display: block;
  }
  
  .card-help-title {
    font-size: 110%;
    padding: @half-spacing @spacing;
    display: inline-block;
    border: 1px solid;
    border-left-width: 3px;
    margin-bottom: @half-spacing;
  }
  
  .card-help-link {

  }
}