@import "../../../common/Common.less";

@card-title-color: @white;
@title-height: 18px;

.card {
 // .standard-margin;
  // height: 0px;
  position: relative;
 
 @card-border-radius: 5px;
 border-radius: @card-border-radius;
 
 .card-container {
  // height: 0px;
  // overflow: hidden;
 }

  .card-inner {
    border: 1px solid @medium-dark-green;
    border-radius: @card-border-radius;
    box-sizing: border-box;
    
    // &.card-single {
    //   border: 0px;
    // }
  }
  
  .menu-wrapper:not(.menu-open) {
    opacity: 0;
    .transition;
  }
  
  .card-title-card-hovering {
    .menu-wrapper {
      opacity: 1;
    }
  }
  
  &.card-selected {
    box-shadow: 0px 0px 0px 3px @drag-color;
    z-index: 9001;
  }
  
  &.card-dragging {
    opacity: 0.5;
    background: #000;
    border-radius: 5px;
    .card-body {
      height: 0px;
      overflow: hidden;
      opacity: 0.75;
      background-blend-mode: multiply;
    }
    .card {
      .card-inner {
        border-color: initial;
        box-shadow: none;
      }
    }
    .card-stroke-above,
    .card-stroke-below {
      opacity: 0 !important;
    }
  }
  
  &.card-dragging-over {
    .card-stroke-above {
      opacity: 1;
    }
    .card .card-stroke-above {
      opacity: 0;
    }
  }
  
  
  @stroke-height: 5px;
  .card-stroke {
    position: absolute;
    height: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    // height: 0px;
    z-index: 999;
    width: 100%;
    left: 0px;
    background: @drag-color;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 3px;
    // .transition;
  }
  .card-stroke-above {
    top: @stroke-height / -2;
  }
  .card-stroke-below {
    bottom: @stroke-height / -2;
  }
  
  @card-padding-horizontal: 15px;
  @card-padding-vertical: 7px;
  .card-title {
    border-top-left-radius: calc(@card-border-radius - 1px);
    border-top-right-radius: calc(@card-border-radius - 1px);
    text-transform: capitalize;
    position: relative; // for menu component
    text-align: left;
    
    display: flex;
    height: @title-height;
    padding: @card-padding-vertical 22px;
    // padding-right: 22px;
    color: @card-title-color;
    font-weight: @bold-font-weight;
    .transition;
    
    .card-title-inner {
      white-space: nowrap;
    }
  
    .card-preview {
      opacity: 1;
      font-weight: normal;
      margin: 0px 10px;
      letter-spacing: 0.5;
      text-transform: none;
      font-size: 12px;
      display: inline-block;
      padding: 2px 10px;
      border-radius: 4px;
      background: rgba(255,255,255,0.5);
      color: @trans-black;
      background-blend-mode: multiply;
      .transition;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      
      &.card-preview-hidden {
        opacity: 0;
      }
    }
    
    .card-arrow-icon {
      display: inline-block;
      fill: rgba(255,255,255,0.5);
      width: 10px;
      position: absolute;
      top: 8px;
      left: 8px;
      .transition;
      
      &:hover {
        fill: #fff;
      }
    }
    
    &.card-title-closed {
      .card-arrow-icon {
        .rotate(-90deg);
      }
    }
 }
 
 .card-sub-bar {
  border-bottom-left-radius: calc(@card-border-radius - 1px);
  border-bottom-right-radius: calc(@card-border-radius - 1px);
 }

  .card-content{
    padding: @card-padding-vertical @card-padding-horizontal;
  }
  
  &.wrapper-card {
    .card-content {
      // padding-top: 0px;  
    }
  }
  
  // .card-content-single {
  //   padding: 0px;
  // }
  
	.card-sub-bar {
		background: @medium-green;
		color: #fff;
		padding: 5px;
		text-align: center;

		.card-sub-bar-inner {
			display: inline-block;
			font-size: @large-font-size;
			background: @dark-green;
			padding: 0px 13px 3px 13px;
			border-radius: 7px;
      .transition;
    }
      
    &:hover {
      .card-sub-bar-inner {
        padding-left: 20px;
        padding-right: 20px;
        background: darken(@dark-green, 5%);
      }
    }
	}
  
  .create-card-wrapper {
    opacity: 1;
    .transition;
  }
  
  .card-assignment {
    text-align: center;
    padding-top: 3px;
  }
  
  .card-arrow {
    height: 27px;
    position: relative;
    text-align: left;
    
    svg {
      margin-top: 5px;
      width: 42px;
      fill: #fff;
    }
  }
  
  .card-add-card-btn {
    z-index: 9999;
    
    @w: 20px;
    width: @w;
    height: @w;
    border-radius: @w;
    text-align: center;
    background: #fff;
    position: absolute;
    left: calc(~"50% - @{w} / 2");
    padding-top: 1px;
    box-sizing: border-box;
    color: @bright-green;
    opacity: 0;
    font-size: 14px;
    .transition(~"all 0.1s linear");
    
    &:not(.card-add-card-btn-lower) {
      top: calc(@w * -0.5);
    }
    &.card-add-card-btn-lower {
      bottom: calc(@w * -0.5);
    }
    
    &:hover {
      opacity: 1;
      width: calc(@w * 1.254);
      height: calc(@w * 1.254);
      font-size: 18px;
      left: calc(~"50% - @{w} * 1.254 / 2");
      
      &:not(.card-add-card-btn-lower) {
        top: calc(@w * 1.254 * -0.5);
      }
      &.card-add-card-btn-lower {
        bottom: calc(@w * 1.254 * -0.5);
      }  
    }
  }
  
  // &.card-hovering {
  //   .card {
  //     .card-add-card-btn {
  //       opacity: 0;
  //     }
  //   }
  //   .card-add-card-btn {
  //     opacity: 0.9;
  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  // }
  
  &.card-hovering-lower {
    .card {
      .card-add-card-btn-lower {
        opacity: 0;
      }
    }
    .card-add-card-btn-lower {
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
  
  &.card-hovering-upper {
    .card {
      .card-add-card-btn:not(.card-add-card-btn-lower) {
        opacity: 0;
      }
    }
    .card-add-card-btn:not(.card-add-card-btn-lower) {
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.panel-dragging {
  .card-inner {
  	transition: box-shadow 0.25s ease-out;
  	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  }
  
  .create-card-wrapper {
    opacity: 0;
  }
}

.cards-area {
  // background: #bcd4ae;
  .transition;
  
  &.cards-area-top-level {
    padding-top: 2 * @standard-margin;
    padding-bottom: 2 * @standard-margin + 50px;
    padding-right: @standard-margin;
    min-height: 80%;
  }
 
  .cards-area {
    // for nested cards
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -2.5 * @standard-margin - 1px;
    // margin-left: -1 * @standard-margin;
    // padding-left: 2px;
    // padding-bottom: @standard-margin;
    // border: 1px solid @fresh-moss;
    border-right: 0px;
    
    margin-left: -6px;
    
    .card {
      margin-right: 0px;
    }
    
    // .nested-create-card-tool-wrapper {
    //   padding-left: @standard-margin + 1px;
    // }
  } 
  
  .card .card {
    margin-right: 0px;
  }
  
  &.drag-over {
    background: lighten(#bcd4ae, 5%);
  }
}

.drag-over:not(.cards-area) {
  .cards-area {
    background: lighten(#bcd4ae, 5%);
    
    .cards-area {
      background: #bcd4ae;
    }
  }
}

.if-card-else {
  color: rgba(0,0,0,0.6);
  font-weight: bold;
  display: inline-block;
  margin: @standard-margin;
  margin-right: 12px;
}


.builder-operator {
 width: 34px;
   .dropdown-value {
     padding-left: 6px;
   }
   .dropdown-wrapper {
     width: 34px;
   }
   .dropdown-open{
     width: 34px;
   }
   .dropdown-option {
     padding-left: 6px;
   }
 }

.card-padding {
  padding: 0px 12px;
}

.flex-card-field {
  .flex-grow;
  .card-padding;
}

.if-card-button {
  margin-left: -6px;
  margin-bottom: -5px;
}

.card-is-dragging {
  .card-selected {
    background: #000;
    border-radius: 5px;
    .card-inner {
      opacity: 0.75;
      background-blend-mode: multiply;
    }
  }
  
  .card {
    &.card-drag-over-upper {
      .card-stroke-above {
        opacity: 1;
      }
      .card .card-stroke-above {
        opacity: 0;
      }
    }
    
    &.card-drag-over-lower {
      .card-stroke-below {
        opacity: 1;
      }
      .card .card-stroke-below {
        opacity: 0;
      }
    }
  }
}

.transform-card {
  text-align: center;
}