@import "../../../common/Common.less";

.card-field-manual-info {
  top: calc(~"50% - 4px");
  right: -10px;
}

.card-field-wrapper {
  position: relative;
}

.card-field-wrapper-moving {
  .transition;
}

.card-field {
  padding: @standard-margin;
  position: relative;
  text-align: center;
  .transition;
  
  @field-padding-left: 25px;
  @field-padding-right: 36px;
  .card-field-inner {
    display: flex;
    .transition;
    position: relative;
    
    left: 0px;
    width: 100%;
    
    .builder-tb {
      flex-grow: 1;
      flex-basis: 100px;
    }
  }
  
  &.card-field-editable { // :hover for animation
    .card-field-inner {
      left: @field-padding-left;
      width: calc(~"100% - @{field-padding-left} - @{field-padding-right}");
    }
  }

  .card-field-tools-left,
  .card-field-tools-right {
    border: 1px solid rgba(0,0,0,0);
    position: absolute;
    border-radius: 5px;
    top: -1px;
    left: 0px;
    width: 100%; // 32px;
    height: 100%;
    // z-index: 1;
    pointer-events: none;
    
    &:hover {
      border-color: rgba(255,255,255,0.5);
    }
  }
  
  &.card-field-moving {
    z-index: 9999;
  }
  
  .card-field-tools-left-inner,
  .card-field-tools-right-inner {
    opacity: 0;
    pointer-events: all;
    position: absolute;
    top: 2px + @standard-margin;
    // width: 32px;
    .transition;
    text-align: center;
  }
  
  .card-field-tools-left-inner {
    left: 6px;
  }
  
  .card-field-tools-right-inner {
    right: 2px;
  }
  
  &.card-field-no-left {
    .card-field-inner {
      width: calc(~"100% - 20px");
    }
    .card-field-tools-left {
      display: none;
    }
  }
  
  .card-field-handle,
  .card-field-remove {
    font-weight: 200;
    font-size: calc(@medium-font-size * 1.25);
    .transition(all 0.25s);   
    cursor: pointer;
  }

  .card-field-tools-left {
    float: left;
    text-align: left;
  }

  .card-field-tools-right {
    float: right;
    text-align: right;
  }
  
  .card-field-remove {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    .transition;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    // background: #fff;
    margin-top: 4px;
    
    svg {
      width: 10px;
      .dead-center;
    }
    
    &:hover {
      background: #FF6259;
      
      svg {
        fill: #fff;
      }
    }
    
    &:active {
      background: #d43a33;
    }
  }
  
  .card-field-add {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    .transition;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    //background: #fff;
    margin-top: 3px;
    left: -3px; 
    
    svg {
      width: 12px;
      //fill: #8ac541;
      .dead-center;
    }
    
    &:hover {
     // background: #8ac541;
      svg {
        fill: #fff;
      }
    }
    
    &:active {
      background: #7ab536;
    }
  }
  
  .card-field-top-add {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  // &:hover {
  //   // .card {
  //   //   .card-field-tools-left-inner,
  //   //   .card-field-tools-right-inner {
  //   //     opacity: 0;
  //   //   }
      
  //   //   .card-field:hover {
  //   //     .card-field-tools-left-inner,
  //   //     .card-field-tools-right-inner {
  //   //       opacity: 1;
  //   //     }
  //   //   }
  //   // }
    
  //   .card-field-tools-left-inner,
  //   .card-field-tools-right-inner {
  //     opacity: 1;
  //   }
  // }
  
  &.card-field-moving {
    .card-field-tools-left-inner {
      opacity: 1;
    }
    .card-field-tools-right-inner {
      opacity: 0;
    }
  }
  
  &.card-field-single {
    .card-field-tools-left {
      display: none;
    }
  }
}

.card-hovering {
  .card {
    .card-field {
    .card-field-tools-left-inner, 
    .card-field-tools-right-inner {
        opacity: 0;
      }
    }
  }
  .card-field {
    .card-field-tools-left-inner, 
    .card-field-tools-right-inner {
      opacity: 1;
    }
  }
}

// .panel-dragging {
//   .card-field-tools-left {
//     background: rgba(255,255,255,0.25) !important;
//     background-blend-mode: multiply;
//     border-color: rgba(255,255,255,1);
//   }
  
//   .card-field-tools-left-inner,
//   .card-field-tools-right-inner {
//     opacity: 1;
//   }
// }

// .panel-dragging .panel {
//   // if a parent panel is dragging, it's not the cardfield that's dragging,
//   //  and we shouldn't apply style
  
//   .card-field-tools-left {
//     background: rgba(0,0,0,0) !important;
//     border-color: rgba(0,0,0,0);
//   }
  
//   .card-field-tools-left-inner,
//   .card-field-tools-right-inner {
//     opacity: 0;
//   } 
// }

// .card-field-panel-wrapper {
//   // height: 0px;
//   // overflow: hidden;
// }