@import "../../../common/Common.less";

.create-card-option {
  .transition;

  box-sizing: border-box;
  padding: @half-spacing;
  border-radius: 1px;
  width: 100%;
  cursor: pointer;

  .create-card-option-description {
    // flex-grow: 1;
    padding-left: 12px;
    height: 32px;
    overflow: hidden;
    text-align: left;
  }

  .create-card-option-title {
    text-align: left;
    padding: 3px;
    .big-text;
    .transition;
  }
}

.create-card-option:not(:first-child) {
  border-top: 1px solid;
}