@import "../../../common/Common.less";

@background: #4e4f4d;
@focus-color: @bright-green;

.create-card-wrapper {
  &.create-card-open {
    // background: @builder-bg;
  }
  
  position: relative;
  // overflow: hidden;
  @create-card-border-radius: 5px;
  border-radius: @create-card-border-radius 0px 0px @create-card-border-radius;
  // padding: 6px;
  padding-right: 0px;
  
  &.create-card-closed {
    padding: 0px;
  }
  
  &.card-drag-over-upper,
  &.card-drag-over-lower {
    .transition(~"none");
    .create-card-selector {
      border: 2px solid @drag-color;
    }
  }
  
  @button-padding: @standard-margin / 2;
  
  &.create-card-opening .create-card-selector {
    height: 0px;
  }
  
  .create-card-selector {
    // height: 0px;
    // overflow: hidden;
    background: @background;
    border-radius: @create-card-border-radius;
    box-sizing: border-box;
    border: 1px solid @background;
    .transition;
    
    &:hover,
    &.create-card-selector-focused {
      border-color: @focus-color;
    }
    
    .create-card-selector-inner {
      padding: @standard-margin / 2;
      display: flex;
      flex-wrap: wrap;
    }
    
    .create-card-button {
      .create-card-button-style;
      flex-grow: 1;
      min-width: 100px;
      position: relative;
      display: inline-block;
      margin: 3px;
      
      .transition;
    }
    
    .create-card-button-fodder {
      min-width: 100px;
      flex-grow: 1;
      flex-basis: 100px;
      margin: 0px 3px;
    }
  }
  
  .create-card-placeholder {
    @h: 12px;
    height: @h;
    width: @h;
    background: #fff;
    display: inline-block;
    position: relative;
    left: 50%;
    border-radius: 200px;
    margin-top: 4px;
    margin-bottom: -2px;
    text-align: center;
    
    svg {
      @sh: @h * 2 / 3;
      height: @sh;
      margin-top: (@h - @sh)/2;
      fill: #7c7d7b;
    }
    
    opacity: 0.25;
    .transition;
  }
  
  .create-card-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background: rgba(255,255,255,0.25);
  }
}

.card-hovering {
  .create-card-wrapper .create-card-placeholder {
    opacity: 1;
  }
  .card .create-card-wrapper .create-card-placeholder {
    opacity: 0.25;
  }
}