@import "../../../common/Common.less";

@focus-color: @bright-green;
@item-row-height: 500px;

.create-card-wrapper {
  
  position: relative;
  @create-card-border-radius: 3px;
  padding-right: 0px;
  
  &.create-card-closed {
    padding: 0px;
  }
  
  &.card-drag-over-upper,
  &.card-drag-over-lower {
    .transition(~"none");
    .create-card-selector {
      border: 2px solid @drag-color;
    }
  }
  
  @button-padding: @standard-margin / 2;
  
  &.create-card-opening .create-card-selector {
    height: 0px;
  }

  .inset-shadow-veil {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .create-card-selector {
    position:relative;
    overflow: hidden;
    max-height: 0px;
    &.create-card-selector-open {
      max-height: 560px;
    }
    
    border-radius: @create-card-border-radius;
    box-sizing: border-box;
    .transition;
    
    &:hover,
    &.create-card-selector-focused {
      border-color: @focus-color;
    }

    .selectors-row
    {
      display: flex;
    }

    .create-card-column-title {
      height: 1em;
      padding: @half-spacing 0px;
      text-align: center;
    }

    .create-card-selector-column {
      flex: 1;
      border-left: 1px solid;

      .create-card-selector-inner {
        max-height: @item-row-height;
        overflow: auto;
      }
    }

    .card-category-selector {
      width: 160px;

      .card-category-list {
        padding: 0px;
        display: block;
        .card-category-list-item {
          height: 24px;
          width: 140px;
          cursor: pointer;
          margin: 0px;
          justify-content: center;
          padding: 3px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          border-top: 1px solid;
          border-left: 3px solid;
          border-right: 1px solid;
          .big-text;
          .transition;
          &:last-child {
            border-bottom: 1px solid;
          }
        }
      }
    }

    .card-search-line {
      position: relative;
      z-index: 1;
      border-top: 1px solid;
      .card-search-input {
        padding: @half-spacing;
        border-radius: 0px;
        background-color: none;
      }
    }
  }

}


.card-hovering, .create-card-open {
  .create-line-row {
    opacity: 0.75;
  }
  .card .create-line-row {
    opacity: 0.2;
  }

}
