@import "../../../common/Common.less";

.create-card-option {
  .transition;

  box-sizing: border-box;
  padding: @half-spacing;
  border-radius: 1px;
  width: 100%;
  cursor: pointer;
  border: 1px solid;
  .create-card-option-description {
    padding-left: 12px;
    height: 32px;
    overflow: hidden;
    text-align: left;
  }

  .create-card-option-title {
    text-align: left;
    padding: 3px;
    .big-text;
    .transition;
  }
}

// .create-card-option:not(:first-child) {
//   border-top: 1px solid;
// }