@import "../../../common/Common.less";

@focus-color: @bright-green;

.create-card-wrapper {
  
  position: relative;
  @create-card-border-radius: 5px;
  padding-right: 0px;
  
  &.create-card-closed {
    padding: 0px;
  }
  
  &.card-drag-over-upper,
  &.card-drag-over-lower {
    .transition(~"none");
    .create-card-selector {
      border: 2px solid @drag-color;
    }
  }
  
  @button-padding: @standard-margin / 2;
  
  &.create-card-opening .create-card-selector {
    height: 0px;
  }
  
  .create-card-selector {
    // margin-top: -6px;
    max-height: 250px;
    overflow: auto;
    
    border-radius: @create-card-border-radius;
    box-sizing: border-box;
    .transition;
    
    &:hover,
    &.create-card-selector-focused {
      border-color: @focus-color;
    }
    
    .create-card-selector-inner {
      padding: @standard-margin;
    }
  }
  
  .create-card-placeholder {
    @h: 18px;
    height: @h;
    width: @h * 1.3333;
    background: #fff;
    display: inline-block;
    position: relative;
    left: 50%;
    border-radius: 3px;
    // margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    cursor: pointer;
    
      opacity: 0.35;
    
    
    svg {
      @sh: @h * 2 / 3;
      height: @sh;
      margin-top: (@h - @sh)/2;
      fill: #47a7ff;
    }
    
    &:hover {
      background: #47a7ff;
      opacity: 1;
      svg {
        fill: #fff;
      }
    }
    
    .transition;
  }
  
  &.create-card-open {
    .create-card-placeholder {
      // margin-bottom: 0px;
            
      svg {
        fill: #f00;
      }
      
      &:hover {
        background: #f00;
        svg {
          fill: #fff;
        }
      }
    }
  }
  
  .create-card-close {
    position: absolute;
    right: 8px;
    top: 8px;
    background: rgba(255,0,0,0.25);
  }
}


.card-hovering {
  .create-card-wrapper {
    .create-card-placeholder {
      opacity: 1;
    }
  }
  .card {
    .create-card-wrapper {
      .create-card-placeholder {
        opacity: 0.35;
      }
    } 
  }
}

// a little experiment to make the placeholders only appear on card hover
// .create-card-wrapper {
//   height: 0px;
//   overflow: hidden;
// }

// .card-hovering {
//   .create-card-wrapper {
//     height: auto;
//   }
  
//   .card .create-card-wrapper {
//     height: 0px;
//   }
// }