.panel {
	position: relative;
	cursor: pointer;
	left: 0px;
	top: 0px;

	&.neighbor-dragging {
		transition: top 0.15s ease-out, left 0.15s ease-out;
	}

	&.panel-dragging {
		transition: top 0s, left 0s;
    z-index: 1002;
	}
}
