@import "../../../common/Common.less";

@tabs-row-height: 36px;

.inner-shadow {
  -webkit-box-shadow:inset 0 -5px 5px 0 rgba(0,0,0,0.1);
  box-shadow:inset 0 -5px 5px 0 rgba(0,0,0,0.1);
}
.no-shadow {
  -webkit-box-shadow:none;
  box-shadow:none;
}

.tabs-loading,
.tabs-loading-hidden {
  pointer-events: none;
  .transition;
  opacity: 1;
}

.tabs-loading-hidden {
  opacity: 0;
}

.tabs-container {
  // height: 100%;
  position: relative;


	.tabs-row-wrapper {
		position: relative;
		height: @tabs-row-height;
		width: 100%;

		.tabs-row {
			height: @tabs-row-height;
			overflow-x: auto;
	    white-space: nowrap;
      overflow-y: hidden;
      z-index: 99999999;
      position: relative;
      
      display: flex;
      
      
		}

		.tabs-title {
      .normal-text;
      
			float: left;
			padding: 7px 15px;
			box-sizing: border-box;
			height: @tabs-row-height;
			font-weight: @bold-font-weight;
			border-left: 1px solid @dark-green-border;

			&.tabs-title-no-tabs {
				width: 100%;
			}
		}		
	}

  
  .tabs-shadow {
    display: none; // phased out for now
    
    .inner-shadow;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0px;
    pointer-events: none;
    box-sizing: border-box;
  }
  
  .tabs-tab {
    .normal-text;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    
    position: relative;
    z-index: 1;
    top: 3px;
        
    .tab-icon {
      height: 32px;
      display: inline-block;
      position: relative;
      z-index: 3;  
      top: -4px;
      .transition;    
    }
    
    .tab-icon-right {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    
    .tab-inner {
      margin: 6px;
      z-index: 17;
      .transition;
      position: relative;
      padding: 2px;
      border-radius: 10px;
      color: gray;
      padding-left: 10px;
      
      .tabs-close {
        margin-left: 5px;
        margin-right: 4px;
        opacity: 0;
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        .transition;
        
        svg {
          position: absolute;
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 12px;
          // .transition;
          background: transparent;
          cursor: pointer;
        }
      }
    }
    .tab-inner:hover {
      background: #1eb4fa;
      color: white;
      .tabs-close {
        fill: #fff;
        opacity: 1;
      }
    }
    
    &.tabs-tab-no-bg {
      margin-left: 20px;
      .tab-inner {
        background: none;
      }
      svg {
        width: 22px;
        margin-top: 11px;
      }
    }
  }

  .tabs-tab-selected {
    z-index: 9999;
    .tab-inner {
      background: #1eb4fa;
      color: white;
      .transition;
      .tabs-close {
        fill: #fff;
        opacity: 1;
      }
    }
  }
  
  .tabs-inner-wrapper {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
      height: 6px;
    }
  }
  
  .tabs-actions {
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
      
    .tabs-action {
      // height: 35px;
      .normal-white-text;
      display: inline-block;
      padding: 4px 6px;
      margin-top: 6px;
      margin-left: 6px;
      cursor: default;
      border-radius: 3px;
      
      svg {
        .transition;
        opacity: 0.75;
        width: 14px;
      }
      
      .transition;
      border: 1px solid;
      
      opacity: 0.5;
      
      &.tabs-action-enabled {
        cursor: pointer;
        opacity: 1;
        &:hover {
          svg {
            opacity: 0.9;
          }
        }
      }
      .transition;
      
      .tabs-action-piece {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 3px;
      }
    }
  }
}

.tabs-content {
	height: calc(~"100% - @{tabs-row-height}");
  overflow: hidden;
}