@import "../../util/Common.less";

.result {
	padding: 2px;
	position: relative;

	.result-inner {
		background: @white;
		border: 1px solid @medium-dark-green;
		border-radius: 2px;

		height: calc(100% - 6px); // TODO figure out why this 6px is necessary

		overflow-y: auto;

		.result-name {
			font-weight: 500;
			padding: 5px;
			background: @dark-green;
			color: @white-green;
		}

		.result-score {
			background: @light-green;
			color: @dark-gray-green;
			padding: 5px;
      font-weight: 500;
      font-size: 12px;

			min-height: 12px; // todo remove
      
      .result-score-score {
        float: right;
      }
		}
    
    .result-field {
      border-bottom: 1px solid @off-white;
      font-size: 12px;
      margin: 4px;
      
      .result-field-name {
        font-weight: bold;
        display: inline-block;
      }
      
      .result-field-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &.result-field-value-short {
          float: right;
          display: inline-block;
        }
        
        &.result-field-value-open {
          white-space: normal;
          overflow: visible;
        }
      }
    }
	}
}

.panel-dragging .result-inner {
	transition: box-shadow 0.25s ease-out;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}