@import "../../../common/Common.less";
@border-radius: 3px;
@icon-size: 16px;
@comand-content-height: 100px;

.headless-command-generator {
  margin: auto;
  display: flex;
  padding: @spacing;
  flex-direction: column;

  .headless-entry-row {
    margin: @spacing;
    margin-bottom: @quarter-spacing;
    display: flex;
    .big-text;

    .headless-entry-label {
      margin: @half-spacing 0px;
      padding: @half-spacing 0px;
    }

    .headless-entry-input {
      margin: @half-spacing @spacing;
    }

    .headless-entry-icon-wrapper {
      padding: @quarter-spacing;
      position: relative;
      width: @icon-size + 2px;

      .headless-entry-icon {
        cursor: pointer;
        position: relative;
        top: 50%;
        padding: 1px;
        transform: translateY(-50%);
        width: @icon-size;
        height: @icon-size;
        fill: currentColor;
      }
    }
  }

  .headless-command-title {
    margin: @spacing;
    margin-bottom: @half-spacing;
  }

  .headless-command-content {
    height: @comand-content-height;
    overflow: hidden;
    margin: @spacing;
    margin-top: 0px;
    border-radius: @border-radius;
    word-break: break-all;
    position: relative;
    
    .headless-content-floating {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: @comand-content-height;
      position: absolute;  
      z-index: 2;
    }

    .headless-command-requests {
      .headless-content-floating;
      font-size: 125%;
    }

    .headless-command-errors {
      .headless-content-floating;
      .normal-text;
      font-family: monospace;
    }

    .headless-command-requsts-spacer
    {
      padding: @spacing;
    }

    .headless-command-errors-spacer
    {
      height: @comand-content-height - @spacing;
      padding: @half-spacing;
      overflow-y: auto;
    }

    .headless-command-command {
      overflow: auto;
      position: relative;
      margin: @spacing;
      .normal-text;
      font-family: monospace;
      z-index: 0;
    }

    .headless-command-veil {
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      z-index: 1;
    }
  }


}

.headless-generator-data {
  display: flex;

  .headless-generator-column {
    &:first-child {
      margin-right: @double-spacing;
    }
  }

  .headless-generator-info-table {
    width: 200px;
    margin-left: @half-spacing;
    tr {
      td {
        &:first-child {
          padding-right: @half-spacing;
        }

        padding: @quarter-spacing 0px;
      }
    }

    .access-token-cell {
      max-width: 60px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
}