@import "../../../common/Common.less";

.headless-command-generator {
  margin: auto;
  display: flex;
  padding: @spacing;
  flex-direction: column;
  
  .generator-row {
    margin: @half-spacing;
  }

  .headless-generator-title {  
    .generator-row;
  }

  .headless-entry-row {
    .generator-row;
    .big-text;
  }
}