@import "../../../common/Common.less";
@border-radius: 3px;
@icon-size: 16px;

.headless-command-generator {
  margin: auto;
  display: flex;
  padding: @spacing;
  flex-direction: column;

  .headless-entry-row {
    margin: @spacing;
    margin-bottom: @quarter-spacing;
    display: flex;

    .big-text;

    .headless-entry-label {
      margin: @half-spacing 0px;
      padding: @half-spacing;
    }

    .headless-entry-input {
      margin: @half-spacing @spacing;
    }

    .headless-entry-icon-wrapper {
      padding: @quarter-spacing;
      position: relative;
      width: @icon-size + 2px;

      .headless-entry-icon {
        cursor: pointer;
        position: relative;
        top: 50%;
        padding: 1px;
        transform: translateY(-50%);
        width: @icon-size;
        height: @icon-size;
        fill: currentColor;
      }
    }
  }

  .headless-command-title {
    margin: @spacing;
    margin-bottom: @half-spacing;
  }

  .headless-command-content {
    .normal-text;
    font-family: monospace;
    margin: @spacing;
    margin-top: 0px;
    border: 1px solid;
    background-color: rgba(0,0,0,0);
    border-radius: @border-radius;
    padding: @spacing;
  }
}

.headless-generator-data {
  display: flex;

  .headless-generator-column {
    &:first-child {
      margin-right: @double-spacing;
    }
  }

  .headless-generator-info-table {
    width: 200px;
    margin-left: @half-spacing;
    tr {
      td {
        &:first-child {
          padding-right: @half-spacing;
        }

        padding: @quarter-spacing 0px;
      }
    }

    .access-token-cell {
      max-width: 60px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
}