@import "../../../common/Common.less";

.import-export-token-control-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: (4 * @spacing);
  .import-export-control-title {
    .title-text;
    padding: @spacing;
  }
}
