@import "../../../common/Common.less";

.access-token-cell {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.template-menu-option-icon {
  fill: currentColor;
  &.template-icon-export {
    .rotate180;
  }
}
