@import "../../../common/Common.less";

.transport-scheduler {
  display: flex;
  padding: @spacing;
  flex-direction: column;
}

.scheduler-help-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.scheduler-help-spacer {
  height: 1em;
  padding: 1px 0px 2px 0px;
}

.headless-form-column-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduler-help-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.scheduler-help-text {
  display: flex;
  text-align: left;
  white-space: pre-wrap;
  width: 400px;
}

.scheduler-form-confirmation-row {
  padding: @half-spacing @spacing 0px @spacing;
}