// Copyright 2018 Terrain Data, Inc.

.small-text-button {
  cursor: help;
}

.button-icon-div {
  width: 14px;
  float: left;
  padding-top: 14px;
  cursor: help;
}

.small-help-button {
  cursor: pointer;
}

.path-with-score {
  display: flex;
  letter-spacing: 0.4px;
}

.path-title-buffer {
  margin-right: 3px;
}

.path-score-message {
  padding: 0 15px;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: lighter;
}