// Copyright 2018 Terrain Data, Inc.

.small-text-button {
  cursor: help;
}

.small-help-button {
  cursor: pointer;
}

.path-with-score {
  display: flex;
}

.path-title-buffer {
  margin-right: 3px;
}