// Copyright 2018 Terrain Data, Inc.

.section-container {
  display: block;
  margin: 10px auto 10px auto;
  padding-top: 6px;
  padding-bottom: 2px;
  border-radius: 8px;
}

.section-header-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
  padding-bottom: 7px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: right;
}

.section-header {
  text-transform: uppercase;
  flex-grow: 1;
  text-align: left;
  padding-top: 3px;
  padding-left: 4px;
  font-size: 16px;
}

.option-tabs {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

.option-button {
  flex-grow: 0;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.section-body {
  border-radius: 6px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  overflow: auto;
}