@import "../../common/Common.less";

.browser-info {
  background: #E4E6E0;
  min-height: 100%;
  
  .browser-info-image {
    margin: 20px 0px;
    display: inline-block;
    @r: 150px;
    width: @r;
    height: @r;
    position: relative;
    
    svg {
      width: 100%;
    }
  }
  
  .browser-info-name {
    font-size: 24px;
    color: @dark-grey;
  }
  
  .browser-info-type {
    font-size: 13px;
    color: @grey;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  
  .browser-info-users {
    text-align: left;
    
    .browser-info-user {
      border-bottom: 1px solid #eee;
      position: relative;
      height: 45px;
      
      .user-thumbnail {
        position: absolute;
        left: 0px;
        width: 60%;
        margin: 0px;
        padding: 6px;
        box-sizing: border-box;
      }
      
      .browser-info-user-roles {
        position: absolute;
        left: 60%;
        width: 40%;
        color: #aaa;
        padding: 15px 3px;
        box-sizing: border-box;
      }
      
      .menu-wrapper {
        top: 14px;
      }
    }
    
    &:hover {
      .menu-wrapper {
        opacity: 1;
      }
    }
  }
}