@import "../../common/Common.less";

@live: #48b14b;
@approve: #bf5bff;
@build: #00a7f7;
@archive: #ff735b;

.browser-category {
  padding: 10px 0px;
  
  .browser-category-title {
    .small-bold-text;
    margin: 1px 10px;
    margin-bottom: 5px;
    padding: 4px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    cursor: pointer;
    
    .browser-category-title-symbol {
      display: inline-block;
      @r: 8px;
      width: @r;
      height: @r;
      border-radius: @r;
      background: #ddd;
      margin: 0px 6px;
      vertical-align: middle;
    }
    
    .browser-category-title-text {
      vertical-align: middle;
      display: inline-block;
    }
    
    &:before {
      vertical-align: middle;
      display: inline-block;
      content: '';
      .arrow-down;
      opacity: 0.5;
      .transition;
    }
    
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  
  .browser-category-none {
    text-align: center;
    padding: 25px;
    color: #828c76;
    font-style: italic;
    opacity: 0.5;
  }
  
  &.browser-category-live {
    .browser-category-title {
      color: @live;
      border-color: @live;
      &:before {
        border-top-color: @live;
      }
      svg {
        fill: @live;
      }
      .browser-category-title-symbol {
        background: @live;
      }
    }
  }
  
  &.browser-category-approve {
    .browser-category-title {
      color: @approve;
      border-color: @approve;
      &:before {
        border-top-color: @approve;
      }
      svg {
        fill: @approve;
      }
      .browser-category-title-symbol {
        background: @approve;
      }
    }
  }
  
  &.browser-category-build {
    .browser-category-title {
      color: @build;
      border-color: @build;
      &:before {
        border-top-color: @build;
      }
      svg {
        fill: @build;
      }
      .browser-category-title-symbol {
        background: @build;
      }
    }
  }
  
  &.browser-category-archive {
    &.browser-category-closed {
      opacity: 0.38;
      .transition;
      &:hover {
        opacity: 1;
      }
    }
    
    .browser-category-title {
      color: @archive;
      border-color: @archive;
      &:before {
        border-top-color: @archive;
      }
      svg {
        fill: @archive;
      }
      .browser-category-title-symbol {
        background: @archive;
      }
    }
  }
  
  &.browser-category-closed {
    .browser-category-content {
      display: none;
    }
    
    .browser-category-title {
      &:before {
        .rotate90;
      }
    }
  }
}