@import "../../common/Common.less";

.browser-item {
  position: relative;
  
  
  @h: 96px;
  height: @h;
  text-align: left;
  border-radius: 4px;
  overflow: visible;
  color: #fff;
  
  @th: 36px;
  .browser-item-title-bar {
    position: relative;
    height: @th;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    font-weight: 200;
    letter-spacing: 0.5;
    background-blend-mode: multiply;
    
    svg {
      display: inline-block;
      .dead-center;
      position: absolute;
      left: 18px;
      width: 16px;
    }
    svg, .cls-1 {
      fill: #fff;
    }
    
    .browser-item-name,
    .browser-item-name-input {
      padding-left: 6px;
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .browser-item-name-input {
      &::selection {
        background: #ffffb7; /* WebKit/Blink Browsers */
      }
      &::-moz-selection {
        background: #ffffb7; /* Gecko Browsers */
      }
    }
    
    .browser-item-name-input {
      display: none;
      width: 90%;
      background: rgba(0,0,0,0.15);
      color: inherit;
      font-size: inherit;
      margin-top: -5px;
      font-weight: inherit;
      // letter-spacing: -0.5;
    }
    
    &.browser-item-title-bar-editing {
      .browser-item-name {
        display: none;
      }
      .browser-item-name-input {
        display: block;
      }
    }
  }
  
  .browser-item-content {
    height: @h - @th;
    background: rgba(255,255,255,0.15);
    background-blend-mode: multiply;
    padding: @standard-margin + 1px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    
    .browser-item-line {
      padding: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(~"100% - 30px");
      font-size: 12px;
      
      &:last-child {
        display: inline-block;
      }
    }
  }
  
  .menu-wrapper {
    top: @standard-margin;
    right: @standard-margin;
    opacity: 0;
    svg {
      margin-left: -1 * @standard-margin;
    }
  }
  
  &:hover {
    .menu-wrapper {
      opacity: 1;
    }
  }
  
  &.browser-item-lighter {
    .browser-item-title-bar {
      background: rgba(255,255,255,0.25);
    }
    .browser-item-content {
      background: rgba(255,255,255,0.5);
    }
  }
  
  &.browser-item-lightest {
    .browser-item-title-bar {
      background: rgba(255,255,255,0.5);
      svg, .cls-1 {
        fill: @trans-black;
      }
    }
    .browser-item-content {
      background: rgba(255,255,255,0.65);
    }
    
    color: @trans-black;
  }
  
  .browser-variant-status {
    padding: 3px 8px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
  }
}

.browser-item-wrapper {
  box-sizing: border-box;
  margin-top: 4px;
  margin-left: 9px;
  margin-right: 4px;
  margin-bottom: 0px;
  padding: 3px;
  border-radius: 8px;
  border: 3px solid rgba(0,0,0,0);
  .transition(~"border-color 0.25s, opacity 0.25s, background 0.15s");
  
  opacity: 0;
  
  &.browser-item-wrapper-mounted {
    opacity: 1;
  }
  
  &.browser-item-wrapper-dragging {
    opacity: 0;
    &.browser-item-wrapper-shifted {
      opacity: 1;
    }
  }
  
  &.browser-item-wrapper-drag-over {
    background: rgba(255, 200, 0, 0.35) !important;
    
    &.browser-item-wrapper-shifted {
      background: rgba(50, 136, 47, 0.35) !important;
    }
  }
}

.browser-item-link:not(.browser-item-active) {
  .browser-item-wrapper {
    border-color: rgba(0,0,0,0) !important;
  }    
}

.browser-item-link {
  outline: none;
}