@import "../../common/Common.less";

@version-table-color: #a5a8a1;
@version-table-bg: #f6f9f2;
@version-table-hover-bg: #70cdfd;

.versions-table-wrapper {
	position: relative;
	top: 50px;

	.versions-table-title {
		float: left;
		color: fade(@version-table-color, 80%);
		margin-left: 12px;
		font-size: 14px;
	}

	.versions-table {
		background-color: @version-table-bg;
		font-size: 12px;
		display: inline-block;
		width: 95%;
		padding: 6px;
		color: @version-table-color;
		cursor: pointer;
		border-radius: 6px;
		overflow-y: auto;
		max-height: 210px; //5 entries
		.versions-table-row {
			padding: 8px;
			width: 100%;
			padding-left: 0px;
			height: 30px;
			position: relative;
			border-radius: 6px;
			overflow-y: hidden;
			white-space: nowrap;
			&:hover {
				background-color: @version-table-hover-bg;
				color: @version-table-bg;
			}
			.versions-table-line {
				width: calc(~"100% - 5px");
				position: absolute;
				border-bottom: 1px solid fade(@version-table-color, 50%);
				top: 45px;
				left: 5px;
			}
			.versions-table-element {
				display: inline-block;
				float: left;
				vertical-align: middle;
				position: relative;
				overflow-y: auto;
				white-space: nowrap;
				&.versions-table-text-element {
					top: 6px;
					padding-right: 6px;
					white-space: normal;
					max-width: 40%;
				}
			}
			// .versions-table-white-space {
			// 	flex: 1;

			// }
			.versions-table-right-align {
				position: relative;
				top: 7px;
				right: 6px;
				overflow-y: auto;
				overflow-x: hidden;
				white-space: normal;
				text-align: right;
			}
		}
	}
}