@import "../../../../common/Common.less";

.transformation-editor {
  padding: @spacing;

  .te-checkbox-row {
    display: flex;
    align-items: center;
    .te-checkbox {
      margin-bottom: 1px;
    }

    .te-label {

    }
  }

  .te-autocomplete-block {
    display: flex;
    flex-direction: column;

    .te-label {
    }
  }

}
