@import "../../../../common/Common.less";

// TemplateEditorFieldTransformations
.template-editor-field-transformations {
  display: flex;
  flex: 1;

  .transformations-list {
    padding: @half-spacing @spacing;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .transformation-row {
      align-items: stretch;
      display: flex;
      width: 260px;
      justify-content: space-between;
    }

    .transformation-row-text {
      .transition;
      padding: @half-spacing;
      display: flex;
      align-items: center;
    }

    .edit-transformation-spacer {
      display: flex;
      align-items: center;
    }

    .edit-transformation-button {
      .transition;
      padding: @half-spacing;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 3px;
      svg {
        width: 12px;
        height: 12px;
        fill: currentColor;
      }
    }

    .add-transformation-row {
      cursor: pointer;
      align-items: stretch;
      display: flex;
    }

    .add-transformation-button {
      display: flex;
      align-items: center;
      padding: @half-spacing;
      padding-bottom: @half-spacing + 1px;
      .transition;
      svg {
        width: 12px;
        height: 12px;
        fill: currentColor;
      } 
    }
  }

  .transformation-fade-container {
    display: flex;
    flex-grow: 1;
    position: relative;

    .transformation-inner-container {
      display: block;
    }
  }
}

.transformation-editor {
  padding: @half-spacing;
  display: flex;
  flex-direction: column;

  .transformation-editor-title {
    padding: @half-spacing;
  }

  .available-transformations-list {
    display: flex;
    flex-direction: column;

    .transformation-option {
      padding: @half-spacing;
      border: 1px solid;
    }
  }
}