@import "../../../common/Common.less";

.guide {
  position: relative;
  min-height: 100%;
}

.guide-left,
.guide-right {
  position: absolute;
  min-height: 100%;
  padding-top: 30px;
  top: 0px;
}

.guide-left {
  width: 66%;
  left: 0px;
}

.guide-right {
  width: 33%;
  left: 66%;
}

.guide-title {
  text-align: center;
  font-size: 20px;
  color: @grey;
  padding: 4px;
}