@import "~common/Common.less";

.schema-tree-context-wrapper {
  margin-left: @spacing;
  display: flex;
  align-items: center;
  position: relative;
  width: 12px;
  height: 12px;
  align-self: center;
  top: -1 * @half-spacing;
}