@import "~common/Common.less";

.schema-tree-context-wrapper {
  margin-left: @spacing;
  display: flex;
  padding-top: 1px;
  align-items: center;
  position: relative;
  align-self: center;
  
  .schema-context-icon-wrapper {
    .transition;

    svg {
      width: 15px;
      height: 15px;
      fill: currentColor;
    }
  }
}