@green: #37df97;
@light-green: #57ffa7;

html, body, div {
	font-family: 'Open Sans';
}

html, body {
	background: #fff;
}

a {
	cursor: pointer;
	color: @green;
}

a:hover {
	color: darken(@green, 10%);
	text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-transition {
	-webkit-transition: 0s all !important;
	-o-transition: 0s all !important;
	transition: 0s all !important;
}

.button {
	display: inline-block;
	background: #fff;
	border: 1px solid @green;
	color: @green;
	border-radius: 3px;
	font-size: 14px;
	padding: 4px 10px;
	/*margin-right: 5px;*/
	/*margin-top: 5px;*/
	-webkit-transition: 0.25s all;
	transition: 0.25s all;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	background: @green;
	color: #fff;
}

.vertically-middle {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.navbar-logo {
	background: url("img/logo_Terrain.svg");
	margin-top: -13px;
	margin-left: -22px;
	background-position: 0 0;
	width: 200px;
	height: 55px;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
}

.navbar-logo-green {
	background: url("img/Terrain_Logo_Green.png"); /*url("img/logo_Terrain.svg");*/
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.nav {
	font-size: 14px;
}

.first-nav {
	margin-top: 15px;
}

.tql-preview {
	padding: 5px;
	font-size: 14px;
	font-family: 'Courier New', Courier;
}

.content {
	display: none;
}

.content.content-showing {
	display: block;
}

.always-fixed {
	position: fixed !important;
}

.sidebar {
	background: #fff;
}

.sidebar-minify-btn {
	background: #00acac;
	background: #a8acb1;
}

.sidebar .fa {
	/*color: #00acac;*/
}

.navbar {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
}

/* ASSETS */

.more-button {
	background: #fff;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	border: 1px solid #ddd;
	text-align: center;
  display: inline-block;
  color: #aaa;
  font-size: 16px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  overflow: hidden;
  text-transform: none;
  opacity: 0;
}

.has-more-button:hover .more-button, .more-button-showing {
	opacity: 1;
}

.more-right {
	position: absolute;
	right: 4px;
	top: 4px;
	z-index: 9999;
}

.more-button:hover, .more-button-showing {
	/*color: #47ffa7;*/
	border: 0px solid #000;
	background: rgba(0,0,0,0.75);
	border-radius: 4px;
	width: 75px;
	height: 35px;

	.more-icon {
		display: none;
	}
}

.more-button-large:hover, .more-button-large.more-button-showing {
	width: 150px;
}

.more-2-items {
	&:hover, &.more-button-showing { height: calc(35px * 2); }
}

.more-3-items {
	&:hover, &.more-button-showing { height: calc(35px * 3); }
}

.more-4-items {
	&:hover, &.more-button-showing { height: calc(35px * 4); }
}

.more-5-items {
	&:hover, &.more-button-showing { height: calc(35px * 5); }
}

.more-menu-item {
	width: 75px;
	height: 35px;
	font-size: 15px;
	padding-top: 6px;
	color: #fff;
	font-weight: 200;
	display: block;
}

.more-button-large .more-menu-item {
	width: 150px;
}

.more-menu-item:hover {
	background: @green;
	color: #fff;
}

.more-button .more-hidden-area {
	opacity: 0.0;
}

.more-button:hover .more-hidden-area, .more-button-showing .more-hidden-area {
	opacity: 1.0;
}

/* INPUTS */

input {
	font-family: "Open Sans", OpenSans, "Helvetica Neue", Helvetica, Arial, sans;
	color: @green;
	padding: 5px;
	border-radius: 4px;
	width: 100%;
	outline: none;
	font-size: 16px;
  	border: 1px solid rgba(0,0,0,0);
  	-webkit-transition: all 0.25s;
  	transition: all 0.25s;
  	font-weight: 500;
  	-webkit-appearance: none;
}

.bordered-input {
	border-color: #ddd;
}

.batch-input-area input {
	border-top: 1px solid #ddd;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.batch-input-area .first-input {
	border-top: 1px solid rgba(0,0,0,0);
}

input:hover {
	border-radius: 4px !important;
	border-color: #ccc !important;
}

input:focus {
	border-radius: 4px !important;
	border-color: @green !important;
}

input:focus {
	/*background: #f5fff5;*/
}

::-webkit-input-placeholder {
   color: #aaa;
   font-weight: 500;
}

:-moz-placeholder { /* Firefox 18- */
   color: #aaa;
   font-weight: 500;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
   font-weight: 500;  
}

:-ms-input-placeholder {  
   color: #aaa;
   font-weight: 500;  
}

.pre-input {
	/*padding-left: 5px;*/
}

.input {
	/*width: 200px;*/
	padding: 5px;
}

.input-container {
	/*margin-bottom: -25px;*/
}

.input-name-area {
	/*margin-bottom: 5px;*/
	position: relative;
}

.input-name-area .more-button {
	position: absolute;
	top: 2px;
	right: 2px;
}

.input-name-area input {
	width: calc(100% - 24px - 4px); /* allow room for icon */
}

.input-map-img {
	 width: 210px;
}

.input-lat-long {
	display: inline-block;
	margin-right: 5px;
	background: #eee;
	padding: 5px;
	border-radius: 4px;
	font-size: 15px;
}

.input-rating {
	display: block;
}

/* BUILDER */

.builder-area {
	padding-top: 5px;
	.noselect;
}

.all-weights {
	background: #fff;
	padding: 4px;
	margin-bottom: 20px;
	border-radius: 4px;
}

.clickable {
	cursor: pointer;
}

.algorithm-name-area {
  background-color: #eee;
  margin: -5px;
  padding: 15px;
  margin-bottom: 0px;
}

.algorithm-save-btn {
	border-radius: 4px;
	border: 1px solid @green;
	background: #fff;
	font-size: 15px;
	padding: 7px;
	display: inline-block;
  	width: 100%;
  	text-align: center;
}


/* CARDS */

.card, .input {
	background: #fff;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.card {
	padding-bottom: 0px;
	position: relative;
	.noselect;

	input[type="text"] {
		background: rgba(255,255,255,0);
		&:hover {
			background: rgba(255,255,255,255);
		}
	}

	overflow: hidden;;
}

.card-body-spacing {
	height: 5px;
}

.card-title, .card-title-no-border {
	margin-top: 0px;
	font-size: 16px;
	color: #888a8f;
	font-weight: 200;
	text-transform: uppercase;
	-webkit-transition: color 0.25s;
	transition: color 0.25s;
}

.card-title {
	margin-bottom: 0px;
	padding-bottom: 2px;
	cursor: pointer;
	/*width: calc(100% - 40px);*/
}

.card-title:hover {
	color: @green;
}

.card-title-no-border-text {
	padding-top: 6px !important;
}

.card-title .small {
	font-size: 14px;
}

.card, .pre-card {
	-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;
	opacity: 1;
}

.card.dragging {
	-webkit-transition: -webkit-transform 0s ease-out;
	transition: transform 0s ease-out;
}

.card-is-being-dragged .pre-card {
	opacity: 0;
}

.card-select-area {
	padding: 0px 10px;
}

.card-select-field {
	border-bottom: 1px solid #eee;
}

.card-select-col {
	padding: 0px !important;
}

.card-select-delete {
	padding: 3px;
	padding-top: 8px;
	text-align: center;
}

.card-select-delete:hover {
	color: #000;
}

.card-order-select {
	margin-top: 7px;
	width: 100%;
}

.new-field-input {
	margin: 5px -10px 0px -10px;
	border: 0px;
}

.sign-selector {
	text-align: center;
	padding-top: 8px;
}

.new-filter-btn {
	margin-top: 15px;
	text-align: center;
	display: block;
	font-size: 16px;
}

/* New card plus */

.new-card-wrapper {
	/*padding: 10px 0px;*/
}

.new-card-plus-wrapper {
	/*margin-top: -20px;*/
}

.new-card-plus-area {
	border-bottom: 1px solid #aaa;
	margin-left: 17px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	display: block;
	text-decoration: none !important;
	margin-right: 1px;
	margin-top: -15px;
  	margin-bottom: 20px;
	color: #aaa;
}

.new-card-plus {
	position: relative;
	left: -17px;
	font-size: 20px;
	font-weight: 100;
	text-decoration: none !important;
	top: 15px;
	width: 20px;
}

.new-card-icon-cell {
	text-align: center;
}

.new-card-icon {
	border-radius: 15px;
	display: inline-block;
	width: 29px;
	height: 29px;
	border: 2px solid #fff;
	position: relative;
	top: 1px;
	left: 1px;
	top: 2px;
	text-align: left;
}

.new-card-icon-inner {
	font-size: 25px;
	font-weight: 200;
	color: #fff;
	position: relative;
	  left: 5px;
	  top: -5px;
}

.new-card-plus-area:hover {
	text-decoration: none !important;
	border-bottom: 1px solid @green;	
	color: @green;
}

.new-card-plus:hover {
	text-decoration: none !important;
}

.bottom-new-card {
	margin-top: 15px;
}


/* New card input */

.new-card-suggestions-area {
	margin-top: 5px;
}

/* placeholder stuff */

.placeholder {
	width: 100%;
	height: 100%;
}

.placeholder .page-header {
	font-weight: 200;
	text-align: center;
	/*color: #aaa;*/
	padding-top: 150px;
}

.page-header {
  font-size: 15px;
  margin: 0 0 20px;
  padding: 0;
  border: none;
  line-height: 28px;
  background: #2d353c;
  background: #fff;
  color: #e8ecf1;
  color: #a8acb1;
  margin: 0px -10px;
  padding: 6px 12px;
  font-weight: 200;
  margin-top: -20px;
  border-bottom: #ddd solid 1px;
  text-transform: uppercase;
}

.fixed-area {
	overflow-y: scroll;
	/*overflow-x: hidden;*/
	overflow-x: visible;
	padding-bottom: 10px;
	position: relative;
}

.weight, .graph {
	width: 100%;
}

/* RESULTS */

.builder-row {
	margin-right: -20px !important;
	margin-left: -25px !important;
}

.results-area {
	line-height: 0px;
}

.result {
	display: inline-block;
	max-height: 220px;
	width: 50%;
	/*padding: 2px;*/
	line-height: normal;
	/*border-radius: 3px;*/
	/*margin-bottom: 4px;*/
	/*border: 1px solid #ddd;*/
	/*overflow: hidden;*/
	border-radius: 5px;

	@result-duration: 1s;
	-webkit-transition: all @result-duration ease-in-out;
	-o-transition: all @result-duration ease-in-out;
	transition: all @result-duration ease-in-out;

	position: absolute;
}

.result-moving {
	.no-transition;
	z-index: 99999;
}

@result-height: 216px;
@result-inner-margin: 2px;

.shifted, .shifted-backward {
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
}

.card.shifted {
	/*transform: translate(0px,100%);*/
}

.card.shifted-backward {
	/*transform: translate(0px,-100%);*/
}

@media (min-width: 2501px) {
	/* largest */
	.result {
		width: 25%;
	}
	.result-inner.shifted {
		transform: translate(calc(100% + @result-inner-margin),0px);
	}
	.result:nth-child(4n) {
		.result-inner.shifted {
			transform: translate(calc(-300% - @result-inner-margin - @result-inner-margin), calc(100% + @result-inner-margin));
		}
	}
	.result-inner.shifted-backward {
		transform: translate(calc(-100% - @result-inner-margin), 0px);
	}
	.result:nth-child(4n+1) {
		.result-inner.shifted-backward {
			transform: translate(calc(300% + @result-inner-margin + @result-inner-margin), calc(-100% - @result-inner-margin));
		}
	}
}

@media (max-width: 2500px) and (min-width: 2001px) {
	/* largest */
	.result {
		width: 33%;
	}
	.result-inner.shifted {
		transform: translate(calc(100% + @result-inner-margin),0px);
	}
	.result:nth-child(3n) {
		.result-inner.shifted {
			transform: translate(calc(-200% - @result-inner-margin - @result-inner-margin / 2), calc(100% + @result-inner-margin));
		}
	}
	.result-inner.shifted-backward {
		transform: translate(calc(-100% - @result-inner-margin), 0px);
	}
	.result:nth-child(3n+1) {
		.result-inner.shifted-backward {
			transform: translate(calc(200% + @result-inner-margin), calc(-100% - @result-inner-margin));
		}
	}
}

@media (max-width: 2000px) and (min-width: 1081px) {
	/* mid size */
	.result {
		width: 50%;
	}
	.result-inner.shifted {
		transform: translate(calc(-100% - @result-inner-margin), calc(100% + @result-inner-margin));
	}
	.result:nth-child(odd) {
		.result-inner.shifted {
			transform: translate(calc(100% + @result-inner-margin),0px);
		}
	}
	.result-inner.shifted-backward {
		transform: translate(calc(-100% - @result-inner-margin), 0px);
	}
	.result:nth-child(odd) {
		.result-inner.shifted-backward {
			transform: translate(calc(100% + @result-inner-margin), calc(-100% - @result-inner-margin));
		}
	}
}

@media (max-width: 1080px) and (min-width: 768px) {
	/* small size */
	.result {
		width: 100%;
	}
	.result-inner.shifted {
		transform: translate(0px, calc(100% + @result-inner-margin));
	}
	.result-inner.shifted-backward {
		transform: translate(0px, calc(-100% - @result-inner-margin));
	}
}

@media (max-width: 767px) and (min-width: 401px) {
	/* phones */
	.result {
		width: 50%;
	}
	.result-inner.shifted {
		transform: translate(calc(-100% - @result-inner-margin), calc(100% + @result-inner-margin));
	}
	.result:nth-child(odd) {
		.result-inner.shifted {
			transform: translate(calc(100% + @result-inner-margin),0px);
		}
	}
	.result-inner.shifted-backward {
		transform: translate(calc(-100% - @result-inner-margin), 0px);
	}
	.result:nth-child(odd) {
		.result-inner.shifted-backward {
			transform: translate(calc(100% + @result-inner-margin), calc(-100% - @result-inner-margin));
		}
	}
}

@media (max-width: 400px) {
	/* tiny phones */
	.result {
		width: 100%;
	}
	.result-inner.shifted {
		transform: translate(0px, calc(100% + @result-inner-margin));
	}
	.result-inner.shifted-backward {
		transform: translate(0px, calc(-100% - @result-inner-margin));
	}
}


.result-inner {
	background: #fff;
	/*border-radius: 3px;*/
	height: @result-height;
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
	margin: @result-inner-margin;
	border-radius: 5px;
	border: 1px solid #ddd;

    /*-webkit-transition: height 0.25s, margin-top 0.25s, -webkit-transform 0.25s ease-out;
    transition: height 0.25s, margin-top 0.25s, transform 0.25s ease-out;*/
}

.result-img {
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position-y: center;
}

.result-text {
	padding: 10px;
}

.result-name {
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	/*height: 40px;*/
}

.result-info {
	padding-top: 5px;
	margin: 0px !important;
}

.result-rating, .result-stars, .result-rating-value, .result-stays, .result-price {
	display: inline-block;
	padding: 0px !important;
}

.result-star-shown, .result-star-hidden {
	display: inline-block;
	/*background: #ddd;*/
	width: 0.8em;
	height: 0.8em;
	/*border-radius: 0.4em;*/
}

.result-star-shown {
	color: #ffa747;
}

.result-star-hidden {
	color: #ddd;
}

.result-rating-value {
	/*margin-right: 5px;*/
}

.result-rating, .result-stays {
	padding-top: 0.225em !important;
}

.result-price {
	/*margin-left: 5px;*/
	font-size: 1.2em;
	font-weight: bold;
}

.result-description {
	margin-top: 5px;
	overflow: scroll;
	line-height: 1em; /* standardize line height so that we can get height to clip between lines */
	height: 4.1em; /* clip after four lines */
}

@result-score-width: 80px;
@result-score-height: 36px;
@result-score-radius: 5px;

.result-score {
	position: absolute;
	background: rgba(0,0,0,0.6);
	left: 0px;
	top: 0px;
	font-size: 18px;
	padding: 5px;
	color: #fff;
	border-bottom-right-radius: @result-score-radius;
	width: @result-score-width;
	height: @result-score-height;
	text-align: right;
	font-weight: 100;
	letter-spacing: 1px;
	white-space: nowrap;
	cursor: pointer;
}

.result-pinned .result-score {
	border-bottom-right-radius: 0px;
}

.result-spotlight:hover, .result-score:hover {
	background: rgba(0,0,0,0.75);
	cursor: pointer;
}

.result-score-img {
	height: 24px;
	display: inline-block;
}

.result-spotlight, .result-pin {
	cursor: pointer;
	/*position: absolute;*/
	background: rgba(0,0,0,0.6);
	/*right: 5px;*/
	/*top: 5px;*/
	font-size: 14px;
	padding: 7px 9px;
	color: #fff;
	font-weight: 100;
}

.result-spotlight {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 36px;
	padding: 8px 12px;
	border-right: 1px solid rgba(0,0,0,0.5);
	/*border-bottom-right-radius: 4px;*/
}

.result-pin {
	position: absolute;
	left: @result-score-width;
	top: 0px;
	border-bottom-right-radius: @result-score-radius;
}

.result-pin .result-unpin-icon {
	display: none;
	margin-top: 2px;
}

.result-pin:hover .result-unpin-icon {
	display: inherit;
}

.result-pin:hover .result-pin-icon {
	display: none;
}

.result-pin {
	height: @result-score-height;
	width: 30px;
	border-left: 1px solid rgba(0,0,0,0.5); 
}

.result-controls-right {
	position: absolute;
	top: 0px;
	right: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
}

.result-spotlight-selected {
	/*background: rgba(0,0,0,0.5);*/
}

/* Draggable Results */

.result-inner {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*cursor: pointer;*/

    cursor: pointer;

	-webkit-box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
}


.result-pinned .result-inner {
	border-color: #ffa747;
}

.result-inner {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(20,20,20,0.25);
	box-shadow: 0px 0px 0px 0px rgba(20,20,20,0.25);
}

.result-scores-area {
	height: 160px;
	padding-bottom: 20px;
	overflow: scroll;
}

.result-flipped-name, .result-flipped-final-score, .result-score-card-name, .result-score-value, .result-score-mapped, .result-score-weight {
	padding: 5px;
}

.result-flipped-final-score {
	background: #2d353c;	
	color: #fff;
}

.result-flipped-score-img {
	height: 16px;
}

.result-flipped .pull-right {
	font-weight: bold;
}

.result-scores-area {
	background: #f5f5f5;
}

.result-score-card-name {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	background: #4d5960;
	color: #fff;
}

.result-score-value, .result-score-mapped, .result-score-weight {
	border-bottom: 1px solid #eee;
}

.result-flipped-close {
	cursor: pointer;
}

.result-flipped-close:hover {
	color: #000;
}

.result-nothing-selected {
	text-align: center;
	font-style: italic;
}


/* other things */

.empty-algorithm {
	text-align: center;
  font-size: 20px;
  margin-top: 45px;
  font-weight: 200;
  color: #aaa;
}

.empty-algorithm small {
	display: block;
	margin-top: 10px;
	margin-bottom: 45px;
	color: #777;
	font-size: 14px;
}



/* With great design comes great responsivity. */

@media (min-width: 768px) {
	/* desktop and tablet */
	body {
		overflow: hidden;
	}

	.main-column {
		padding: 0px !important;
	}

	.inputs-area {
		border-left: 1px solid #ddd;
	}

	.results-column, .builder-column {
		padding-left: 5px !important;
	}

	.inputs-area {
		padding-left: 5px;
	}
	
	.mobile-only {
		display: none;
	}
}

@media (max-width: 767px) {
	/* phone */

	.navbar-header {
		border-bottom: 0px !important;
	}

	.navbar-right {
		display: none !important;
	}

	.page-sidebar-toggled #sidebar {
		border-right: 1px solid #eee;
  		box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
	}

	.navbar-toggle .icon-bar {
		background: @green !important;
	}

	.navbar-toggle:hover .icon-bar {
		background: #47ffa7 !important;
		opacity: 1 !important;
	}

	.navbar-toggle:hover, .navbar-toggle:active {
		opacity: 1 !important;		
	}

	.page-header-fixed {
		padding-top: 54px !important;
	}

	.results-header, .builder-header {
		border-top: 1px solid #ddd !important;
		margin-top: 0px !important;
	}

	.page-header {
		font-size: 20px !important;
		padding: 10px 15px !important;
		color: #777 !important;
		margin-bottom: 10px !important;
		cursor: pointer;
	}

	.fixed-area {
		margin-top: -10px;
	}

	.mobile-only {
		display: block;
	}

	.card-title-no-border-text {
		padding-bottom: 2px;
		margin-bottom: 5px;
		border-bottom: 1px solid #f5f5f5;
		padding-top: 0px !important;
	}

	.more-button {
		opacity: 1;
	}
}