html, body, div {
	font-family: 'Open Sans';
}

a {
	cursor: pointer;
}

.navbar-logo {
	background: url("img/logo_Terrain.svg");
	margin-top: -13px;
	margin-left: -22px;
	background-position: 0 0;
	width: 200px;
	height: 55px;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1;
}

.nav {
	font-size: 14px;
}

.first-nav {
	margin-top: 15px;
}

.content {
	display: none;
}

.content.content-showing {
	display: block;
}

.always-fixed {
	position: fixed !important;
}

/* BUILDER */

.all-weights {
	background: #fff;
	padding: 4px;
	margin-bottom: 20px;
	border-radius: 4px;
}


/* CARDS */

.card {
	background: #fff;
	padding: 10px;
	border-radius: 4px;
}

.card-title {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f5f5f5;
	font-size: 22px;
	color: #424242;
	font-weight: 200;
}

.card-title .small {
	font-size: 14px;
}

.card, .pre-card {
	margin-bottom: 10px;
}


/* New card plus */

.new-card-plus-area {
	border-bottom: 2px solid #aaa;
	margin-left: 17px;
	transition: border 0.2s;
	display: block;
	text-decoration: none !important;
	margin-right: 1px;
	margin-top: -15px;
  	margin-bottom: 20px;
}

.new-card-plus {
	color: #aaa;
	position: relative;
	left: -17px;
	font-size: 20px;
	text-decoration: none !important;
	top: 13px;
}

.new-card-plus-area:hover {
	text-decoration: none !important;
	border-bottom: 2px solid #47a7ff;	
}

.new-card-plus:hover {
	text-decoration: none !important;
	color: #47a7ff;
}


/* New card input */

.new-card-suggestions-area {
	margin-top: 5px;
}

.new-card-suggestion {
	display: inline-block;
	background: #f5f5f5;
	border-radius: 3px;
	font-size: 14px;
	padding: 4px 10px;
	margin-right: 5px;
}

.new-card-suggestion:hover {
	text-decoration: none;
	background: #47a7ff;
	color: #fff;
}

/* placeholder stuff */

.placeholder {
	width: 100%;
	height: 100%;
}

.placeholder .page-header {
	font-weight: 200;
	text-align: center;
	/*color: #aaa;*/
	padding-top: 150px;
}

.page-header {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0;
  border: none;
  line-height: 28px;
  background: #2d353c;
  color: #e8ecf1;
  margin: 0px -10px;
  padding: 12px;
  font-weight: 200;
  margin-top: -20px;
  border-left: rgba(0,0,0,0.15) solid 1px;
  border-bottom: rgba(0,0,0,0.15) solid 1px;
  text-transform: uppercase;
}

.main-column {

}

.fixed-area {
	position: fixed;
	/*right: 0;*/
	height: 100%;
	overflow: scroll;
	padding-bottom: 110px;
}

.card {
	min-width: 680px;
}

.weight, .graph {
	width: 100%;
}

/* RESULTS */

.main-column {
	padding-right: 0px !important;
	/*position: relative;*/
}

.builder-row {
	margin-right: -20px !important;
	margin-left: -25px !important;
}

.results-area {
	line-height: 0px;
}

.builder-area {
	padding-top: 5px;
}

.result {
	display: inline-block;
	height: 220px;
	width: 50%;
	padding: 5px;
	overflow: hidden;
	line-height: normal;
	border-radius: 3px;
}

.result-inner {
	background: #fff;
	border-radius: 3px;
	height: 220px;
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.result-img {
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position-y: center;
}

.result-text {
	padding: 10px;
}

.result-name {
	font-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	/*height: 40px;*/
}

.result-info {
	padding-top: 5px;
	margin: 0px !important;
}

.result-rating, .result-stars, .result-rating-value, .result-stays, .result-price {
	display: inline-block;
	padding: 0px !important;
}

.result-star-shown, .result-star-hidden {
	display: inline-block;
	background: #ddd;
	width: 0.8em;
	height: 0.8em;
	border-radius: 0.4em;
}

.result-star-shown {
	background: #ffa747;
}

.result-rating-value {
	/*margin-right: 5px;*/
}

.result-rating, .result-stays {
	padding-top: 0.225em !important;
}

.result-price {
	/*margin-left: 5px;*/
	font-size: 1.2em;
	font-weight: bold;
}

.result-description {
	margin-top: 5px;
	overflow: scroll;
	line-height: 1em; /* standardize line height so that we can get height to clip between lines */
	height: 4.1em; /* clip after four lines */
}

.result-score {
	position: absolute;
	background: rgba(0,0,0,0.5);
	left: 0px;
	top: 0px;
	font-size: 18px;
	padding: 5px;
	color: #fff;
	border-bottom-right-radius: 5px;
	width: 70px;
	text-align: right;
	font-weight: 100;
	letter-spacing: 1px;
}


