@import "../../common/Common.less";

.algorithm-selector-wrapper {
	display: flex;
	vertical-align: top;
	justify-content: space-between;

	.algorithm-selector-column {
		padding: 0px @half-spacing;
		position: relative;

		.algorithm-selector-label {
			padding: @half-spacing;
		}

		.algorithm-selector-input {
			padding: 0px @half-spacing;
			position: relative;
		}
	}
}