@import "../../common/Common.less";

.algorithm-selector-wrapper {
	display: flex;
	flex-direction: column;
	vertical-align: top;
	justify-content: space-between;

	.algorithm-selector-column {
		position: relative;

		.algorithm-selector-label {
			padding: @half-spacing;
		}

		.algorithm-selector-input {
			position: relative;
		}
	}

	.alg-selector-grow-to-fit {
		flex-grow: 1;
	}
}