@import "../../common/Common.less";

// @version-table-bg: #f6f9f2;
@version-table-hover-bg: #D5DCD5;

.versions-table-wrapper {
  margin-top: 24px;
  padding: 12px;
	font-size: 12px;
  text-align: left;
  
  .versions-table-title {
    font-size: 14px;
	}
  
  .versions-table-right-align {
    text-align: right;
    margin-top: -6px;
  }

	.versions-table {
		cursor: pointer;
		border-radius: 4px;
    
		.versions-table-row {
			padding: 6px;
			border-radius: 6px;
      border: @version-table-hover-bg 1px solid;
      margin-bottom: 6px;
      
      &:hover,
      &.versions-table-row-current {
        background-color: @version-table-hover-bg;
      }
      &.versions-table-row-current {
        // margin-bottom: 6px;
      }
      
      display: flex;
      align-items: center;
      flex-wrap: wrap;

			.versions-table-element {
				// display: inline-block;
				// vertical-align: middle;
    //     // max-width: 50%;
    //     overflow-x: hidden;
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
        
        &:first-child {
          flex-grow: 1;
        }
        &:last-child {
          margin-left: 12px;
        }
			}
      
			// .versions-table-right-align {
			// 	position: absolute;
			// 	top: 7px;
			// 	right: 0px;
			// }
		}
	}
}