@import "../../common/Common.less";

.new-group-modal-child {
  position: relative;
  padding: @spacing;
  padding-top: 3px;
  .database-dropdown-wrapper {
    overflow: visible;
    position: relative;
  }
}

.duplicate-group-child-message {
	text-align: left;
    font-size: 14px;
    padding: 12px 24px;
    word-wrap: break-word;
    padding-left: 12px;
}

.duplicate-group-modal-input {
	margin-top: 3px !important; 
}