@import "../../common/Common.less";

.library {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.library-top {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.library-bottom {
  display: flex;
  flex: 1;
}
