@import "../../common/Common.less";

.variant-selector-wrapper {
	padding: @half-spacing;
	display: flex;
	vertical-align: top;
	justify-content: space-between;

	.variant-selector-column {
		padding: 0px @half-spacing;
		position: relative;

		.variant-selector-label {
			padding: @half-spacing 0px;
		}

		.variant-selector-input {
			position: relative;
		}
	}
}