@import "../../common/Common.less";

.variant-selector-wrapper {
	display: table;

	.variant-selector-row {
		display: table-row;
		padding: @spacing;

		.variant-selector-label {
			display: table-cell;
			padding: @half-spacing;
		}

		.variant-selector-input {
			display: table-cell;
			padding: 0px @half-spacing;
		}
	}
}