@import "../../util/Common.less";

.card-input {
	padding: 5px;

	.card-input-inner input {
		font-size: @medium-font-size;
		width: 100%;
		-webkit-appearance: none;
		border-width: 0px;
		background: #fff;
		border-radius: 5px;
		padding: 5px;
	}
}