@import "../../util/Common.less";

@card-title-color: @white;

.card {
 .standard-margin;
 
 @card-border-radius: 5px;

	.card-inner {
		background: @light-green;
		border: 1px solid @medium-dark-green;
		border-radius: @card-border-radius;
	}
 
 .card-title {
  border-top-left-radius: calc(@card-border-radius - 1px);
  border-top-right-radius: calc(@card-border-radius - 1px);
  text-transform: capitalize;
  position: relative; // for menu component
 }
 .card-sub-bar {
  border-bottom-left-radius: calc(@card-border-radius - 1px);
  border-bottom-right-radius: calc(@card-border-radius - 1px);
 }

	@card-padding-horizontal: 15px;
	@card-padding-vertical: 7px;
	.card-title {
		background: @dark-green;
		padding: @card-padding-vertical @card-padding-horizontal;
		color: @card-title-color;
		font-weight: @bold-font-weight;
    .transition;
    
    &:hover {
      background: darken(@dark-green, 5%);
    }
    
    .card-arrow-icon {
      display: inline-block;
      .transition;
      fill: @card-title-color;
      width: 10px;
      position: relative;
      top: -1px;
      left: -7px;
    }
	}
  
  &.card-closed {
    .card-title {
      .card-arrow-icon {
        .rotate(-90deg);
      }
    }
  }

	.card-content{
		padding: @card-padding-vertical @card-padding-horizontal;
	}

	.card-sub-bar {
		background: @medium-green;
		color: #fff;
		padding: 5px;
		text-align: center;

		.card-sub-bar-inner {
			display: inline-block;
			font-size: @large-font-size;
			background: @dark-green;
			padding: 0px 13px 3px 13px;
			border-radius: 7px;
      .transition;
    }
      
    &:hover {
      .card-sub-bar-inner {
        padding-left: 20px;
        padding-right: 20px;
        // margin: -1px;
        background: darken(@dark-green, 5%);
      }
    }
	}
  
  .create-card-wrapper {
    opacity: 1;
    .transition;
  }
  
  
  .card-arrow {
    height: 27px;
    position: relative;
    text-align: left;
    
    svg {
      margin-top: 5px;
      width: 42px;
      fill: #fff;
    }
  }
}

.panel-dragging {
  .card-inner {
  	transition: box-shadow 0.25s ease-out;
  	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
  }
  
  .create-card-wrapper {
    opacity: 0;
  }
}