@import "../../util/Common.less";

.card {
	padding: 2px;

	.card-inner {
		padding: 15px;
		background: @light-green;
		border: 1px solid @medium-dark-green;
		border-radius: 5px;
	}
}

.panel-dragging .card-inner {
	transition: box-shadow 0.25s ease-out;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}