@import "../../util/Common.less";

.card-field {
	padding: 5px;
	position: relative;
	text-align: center;

	.card-field-inner input {
		display: inline-block;
		width: calc(~"100% - 40px");
	}

	.card-field-handle,
	.card-field-delete {
		position: relative;
		top: 2px;
		width: 20px;
		opacity: 0;
		font-weight: 200;
		font-size: calc(@medium-font-size * 1.25);
		color: @light-gray;
		.transition(all 0.25s);

		&:hover {
			color: @black;
		}
	}

	.card-field-handle {
		float: left;
		text-align: left;
	}

	.card-field-delete {
		float: right;
		text-align: right;
	}

	&:hover {
		.card-field-handle,
		.card-field-delete {
			opacity: 1;
		}
	}
}