@import "../../util/Common.less";

.card {
	padding: 2px;
 
 @card-border-radius: 5px;

	.card-inner {
		background: @light-green;
		border: 1px solid @medium-dark-green;
		border-radius: @card-border-radius;
	}
 
 .card-title {
  border-top-left-radius: calc(@card-border-radius - 1px);
  border-top-right-radius: calc(@card-border-radius - 1px);
 }
 .card-sub-bar {
  border-bottom-left-radius: calc(@card-border-radius - 1px);
  border-bottom-right-radius: calc(@card-border-radius - 1px);
 }

	@card-padding-horizontal: 15px;
	@card-padding-vertical: 7px;
	.card-title {
		background: @dark-green;
		padding: @card-padding-vertical @card-padding-horizontal;
		color: #fff;
		// font-size: @large-font-size;
		font-weight: @bold-font-weight;
	}

	.card-content{
		padding: @card-padding-vertical @card-padding-horizontal;
	}

	.card-sub-bar {
		background: @medium-green;
		color: #fff;
		padding: 5px;
		text-align: center;

		.card-sub-bar-inner {
			display: inline-block;
			font-size: @large-font-size;
			background: @dark-green;
			padding: 0px 13px 3px 13px;
			border-radius: 7px;
		}
	}
}

.panel-dragging .card-inner {
	transition: box-shadow 0.25s ease-out;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}