@import "../../util/Common.less";

.card {
	padding: 2px;

	.card-inner {
		background: @light-green;
		border: 1px solid @medium-dark-green;
		border-radius: 5px;
	}

	@card-padding-horizontal: 15px;
	@card-padding-vertical: 7px;
	.card-title {
		background: @dark-green;
		padding: @card-padding-vertical @card-padding-horizontal;
		color: #fff;
		// font-size: @large-font-size;
		font-weight: @bold-font-weight;
	}

	.card-content{
		padding: @card-padding-vertical @card-padding-horizontal;
	}
}

.panel-dragging .card-inner {
	transition: box-shadow 0.25s ease-out;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}