@import "../../util/Common.less";

.create-card-wrapper {
  
  @create-card-border-radius: 5px;
  
  .create-card-selector {
    overflow: hidden;  
    .transition;
  }
  
  @button-padding: @standard-margin;
  
  .create-card-selector {
    background: #747771;
    border-radius: @create-card-border-radius;
    box-sizing: border-box;
    
    .create-card-selector-inner {
      padding: @standard-margin;
    }
    
    .create-card-button {
      position: relative;
      cursor: pointer;
      color: #fff;
      padding: @button-padding;
      text-align: center;
      box-sizing: border-box;
      margin: @button-padding;
      border-radius: @create-card-border-radius;
      display: inline-block;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .transition;
      height: 30px;
      box-sizing: border-box;
      border-bottom: 3px solid #000;
      
      &:hover {
        border-bottom-width: 4px;
      }
      
      &:active {
        border-bottom-width: 2px;
      }
    }
  }
  
  &.create-card-open {
    .create-card-selector {
      height: auto;
    }
  }
  
  &.create-card-closed {
    .create-card-selector {
      height: 0px !important;
    }
  }
}