@import "~common/Common.less";

.etl-walkthrough {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .etl-walkthrough-spacer {
    flex-basis: 80px; // to push against title text
  }
}