@import "~common/Common.less";

.etl-walkthrough {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .etl-walkthrough-spacer {
    flex-basis: 80px; // to push against title text
  }
}