@import "~common/Common.less";

.etl-walkthrough {
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  .etl-walkthrough-spacer {
    flex-basis: 80px; // to push against title text
  }
}