@import "../../common/Common.less";
@import "../../builder/components/results/Result.less";
@import "../../builder/components/results/ResultsArea.less";

@results-bar-height: 24px;

.tql-column {
  .codemirror-text {
    height: calc(~"100% - @{results-bar-height}");
    padding-bottom: @results-bar-height;
    .transition;
  }
  &.tql-column-results-bar-open {
    .codemirror-text {
      height: 50%;
      padding-bottom: 50%;
    }
  }
}

.view-only {
  font-size: 10;
}

.tql-column {
  cursor: default;
  margin-right: -6px;
  margin-left: -12px;
}

.code-section {
  position: relative;
  height: calc(~"100% - 24px");
}

.tql-editor-top {
  position: relative;
  .results-top;
  
  .menu-wrapper {
    z-index: 99;
   
    &:not(.menu-open) {
      opacity: 0.8;
    }
    &:hover {
      opacity: 1;
    }
  }
}