@import "../../common/Common.less";
@import "../../builder/components/results/Hit.less";
@import "../../builder/components/results/HitsArea.less";

@results-bar-height: 21px;

.tql-column {
  cursor: default;
  margin-right: -6px;
  margin-left: -12px;
  
  .tql-section {
    height: calc(~"100% - @{results-bar-height}");
  }
  
  .codemirror-text {
    height: calc(~"100% - @{results-bar-height}");
    padding-bottom: @results-bar-height;
    .transition;
  }
  &.tql-column-results-bar-open {
    .codemirror-text {
      height: 50%;
      padding-bottom: 50%;
    }
  }
  
  .menu-wrapper {
    z-index: 99;
   
    &:not(.menu-open) {
      opacity: 0.8;
    }
    &:hover {
      opacity: 1;
    }
  }
  
  .CodeMirror-scroll {
    padding-top: 3px;
  }
  
  .CodeMirror-vscrollbar {
    &::-webkit-scrollbar-track {
      margin-top: 25px;
    }
  }
}
