@import "../../common/Common.less";

.scrolling {
  overflow-y: scroll;
  max-height: 15%;
  max-width: 100%;
  word-wrap: break-word;
  padding-top: 5px;
}

.results-list {
  padding-left: 5;
  list-style-type: none;
  margin-top: 0px;
}

.codemirror-text{
  margin-top: 8px;
  max-height: 85%;
}

.error-title {
  color: red;
}

.white-space {
    flex-grow: 1;
}

.execute-button{
    float: left;
    font-size: 11;
    background-color: #646464;
    color: white !important;
    border-color: #646464 !important;
    border-width: 5px !important;
    cursor: hand !important;
    margin-top: -3px !important;
    &:hover 
    { 
      background: none !important; 
      background-color: #646464 !important; 
      color: #eaf668 !important; 
    }
}

.error-detail {
  color: gray;
  font-size: 10;
  cursor: hand;
}

.error-message {
  color: gray;
  font-size: 13;
}

.tql-column {
  cursor: default;
}

//Placeholder styling for code-mirror, possibly move to differnt fiel
.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }