@import "../../common/Common.less";
@import "../../builder/components/results/Result.less";
@import "./cobalt.less";
@import "./monokai.less";
@import "./neo.less";
@import "./codemirror.less";

.scrolling {
  overflow-y: scroll;
  max-height: 30%;
  max-width: 100%;
  word-wrap: break-word;
}

.tql-editor-manual-popup {
  .manual-popup-wrapper {
    top: 1px;
    right: 23px;
  }
}

.cobalt-topbar {
  .results-top;
  .cm-s-cobalt.CodeMirror;
  position: relative;
}

.neo-topbar {
  .results-top;
  .cm-s-neo.CodeMirror;
  position: relative;
  .manual-popup-icon {
    fill: rgba(0,0,0,0.2);
  }
}

.monokai-topbar {
  .results-top;
  .cm-s-monokai.CodeMirror;
  position: relative;
}

.default-topbar {
  .results-top;
  color: black;
  background-color: white;
  position: relative;
  .manual-popup-icon {
    fill: rgba(0,0,0,0.2);
  }
}

.view-only {
  font-size: 10;
}

.results-list {
  padding-left: 5;
  list-style-type: none;
  margin-top: 0px;
  background: #333;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

.codemirror-text{
  max-height: 70%;
}

.error-title {
  color: red;
}

.white-space {
    flex-grow: 1;
}

.error-detail {
  color: gray;
  font-size: 10;
  cursor: hand;
}

.error-message {
  color: gray;
  font-size: 13;
}

.tql-column {
  cursor: default;
  margin-right: -6px;
  margin-left: -12px;
}

.code-section {
  position: relative;
  height: calc(~"100% - 24px");
}

//Placeholder styling for code-mirror, possibly move to differnt fiel
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }