@import "../../common/Common.less";
@import "../../builder/components/results/Result.less";
@import "./cobalt.less";
@import "./monokai.less";
@import "./neo.less";
@import "./codemirror.less";

.cobalt {
  .tql-editor-top,
  .tql-results-bar {
    .cm-s-cobalt.CodeMirror;
  }
}

.neo {
  .tql-editor-top,
  .tql-results-bar {
    .cm-s-neo.CodeMirror;
    .manual-popup-icon {
      fill: rgba(0,0,0,0.2);
    }
  }
}

.monokai {
  .tql-editor-top,
  .tql-results-bar {
    .cm-s-monokai.CodeMirror;
  }
}

.default {
  .tql-editor-top,
  .tql-results-bar {
    color: black;
    background-color: white;
    .manual-popup-icon {
      fill: rgba(0,0,0,0.2);
    }
  }
}

.view-only {
  font-size: 10;
}

.codemirror-text{
  height: calc(~"100% - 24px");
  padding-bottom: 24px;
}

.error-title {
  color: red;
}

.white-space {
    flex-grow: 1;
}

.error-detail {
  color: gray;
  font-size: 10;
  cursor: hand;
}

.error-message {
  color: gray;
  font-size: 13;
}

.tql-column {
  cursor: default;
  margin-right: -6px;
  margin-left: -12px;
}

.code-section {
  position: relative;
  height: calc(~"100% - 24px");
}

//Placeholder styling for code-mirror, possibly move to differnt fiel
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.tql-editor-top {
  position: relative;
  .results-top;
  
  .menu-wrapper {
    z-index: 99;
   
    &:not(.menu-open) {
      opacity: 0.8;
    }
    &:hover {
      opacity: 1;
    }
  }
}