@import "../../common/Common.less";

.tql-view {
  margin: 0px -1 * @standard-margin;
  height: 100%;
  
  textarea {
    .code-input;
    font-size: 16px;
    
    width: 100%;
    height: 100%;
    
    padding: 15px;
    box-sizing: border-box;
  }
}

.column-1 {
  width: 60% !important;
  margin-left: 10px;
  max-height: 100%;
}

.column-2 {
  transform: translate(10px, 10px) !important;
  width: 40% !important;
  position: relative;
  left: 60%;
  margin-left: 15px;
}

.scrolling {
  overflow-y: scroll;
  max-height: 100%;
  max-width: 100%;
  word-wrap: break-word;
  margin-right: 15px;
}

.results-list {
  padding-left: 5;
  list-style-type: none;
}

.error-title {
  color: red;
}

.theme-buttons {
  div {
    display: inline-block;
    float: left;
    padding: 6px;
    background-color: #646464;
    color: white;
    border-left: 1px solid black;
    cursor: hand;
    font: 10px;
  }
}

.execute-button{
    float: right;
    background-color: #646464;
    color: white !important;
    border: none !important;
    cursor: hand !important;
    margin-top: 0px !important;
    margin-right: -2px !important;
    &:hover 
    { 
      background: none !important; 
      background-color: #646464 !important; 
      color: #eaf668 !important; 
    }
}

.grid-layout {
  padding-top:23px;
}
.theme-buttons div:hover {
  color: #eaf668;
}

.selected {
  color: #CDDE20 !important;
}

.error-detail {
  color: gray;
  font-size: 10;
  cursor: hand;
}

.error-message {
  color: gray;
  font-size: 13;
}

//Placeholder styling for code-mirror, possibly move to differnt fiel
.CodeMirror { border: 1px solid silver; }
.CodeMirror-empty.CodeMirror-focused { outline: none; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }