#reset-password {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 999999999;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #1eb4fa;
	background-image: url("/midway/v1/assets/bg-pattern-logo.png");
	background-size: cover;
	background-position: center center;
	
	opacity: 1;
	transition: all 0.4s;
}

#reset-password-area {
	width: 100%;
	max-width: 328px;
	
	text-align: center;
}

.reset-password-input-container {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}

.reset-password-input-container label {
	position: absolute;
	left: 18px;
	top: 5px;
	font-size: 10px;
	transition: all 0.15s;
	color: #2f3132;
	text-transform: uppercase;
}

.reset-password-input-container input {
	padding-right: 6px;
	padding-left: 18px;
	padding-top: 20px;
	padding-bottom: 4px;
	border-radius: 3px;
	width: 100%;
	outline: none;
	font-size: 18px;
	box-sizing: border-box;
	border-width: 0px;
	transition:  all 0.3s;
}

#reset-password-submit {
	font-size: 14px;
	padding: 14px 0px;
	border-radius: 3px;
	border:  solid 2px #fff;
	text-transform: uppercase;
	color: #fff;
	transition:  all 0.15s;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

#reset-password-submit:hover {
	background:  rgba(255,255,255,0.15);
	cursor: pointer;
	letter-spacing: 10px;
	transition: background 0.15s, letter-spacing 3s 5s;
}