@import "~common/Common.less";
@import "~etl/templates/components/TemplateEditor.less";

.move-field-modal {
  display: flex;
  padding: @spacing;
  flex-direction: column;
  width: calc(~"100% - @{double-spacing}");
  min-height: 200px;

  .move-field-modal-error-message {
    box-sizing: border-box;
    min-height: 28px;
    padding: @quarter-spacing;
    text-align: center;
  }

  .move-field-modal-description {
    text-align: center;
  }
}

.editor-field-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: @spacing;
  align-items: center;

  .editor-field-message-wrapper {
    padding: @spacing;
  }
}

.multi-promote-modal {
  padding: @double-spacing;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .promote-field-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: @half-spacing;
  }

  .multi-promote-title {
    padding: @spacing;
  }

  .promote-field-verification-spacer {
    margin-left: @half-spacing;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.promote-field-verification-icon {
  svg {
    fill: currentColor;
    height: 14px;
    width: 14px;
  }
}

.unrecognized-field-modal {
  padding: @double-spacing @spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
}
