@import "~common/Common.less";
@import "~etl/templates/components/TemplateEditor.less";

.move-field-modal {
  display: flex;
  padding: @spacing;
  flex-direction: column;
  width: calc(~"100% - @{double-spacing}");
  min-height: 200px;

  .move-field-modal-error-message {
    box-sizing: border-box;
    min-height: 28px;
    padding: @quarter-spacing;
    text-align: center;
  }

  .move-field-modal-description {
    text-align: center;
  }
}

.editor-field-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: @spacing;
  align-items: center;

  .editor-field-message-wrapper {
    padding: @spacing;
  }
}