@import "~common/Common.less";

@arrow-spacer-size: 4px;
.nested-view-container {
  .transition;
  box-sizing: border-box;
  border-radius: 4px;

  .nested-view-content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nested-view-arrow-column {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  .nested-view-arrow-spacer-top {
    flex: 1 0 @arrow-spacer-size;
  }

  .nested-view-arrow-spacer-bottom {
    flex: 1 0 0px;
    width: 1px;
    align-self: center;
    margin-top: @arrow-spacer-size;
  }

  .nested-view-arrow-icon {
    cursor: pointer;
    position: relative;
    fill: currentColor;
    flex-grow: 0;
    transform: rotate(0deg);
    .transition;
    &.nested-view-open {
      transform: rotate(90deg);
    }
    &:not(.nested-view-has-children) {
      opacity: 0;
      cursor: default;
    }
  }

  .nested-view-content {
    flex-grow: 1;
    width: 100%;
  }

  .nested-view-children-container {
    overflow: visible;
    display: none;
    &.nested-view-open {
      display: block;
    }
  }

  .nested-view-checkbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    &.nested-view-checkbox-hidden {
      cursor: default;
    }
  }
  
  .nested-view-checkbox {
    margin: 0px;
  }
}
