/* SVG */

svg {
	moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* Axis */

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    fill: #777;
}


.bar {
    -webkit-transition: height 0.25s, y 0.25s;
    transition: height 0.25s, y 0.25s;

    border: 1px solid #ddd;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}


/* Points */

.point {
	cursor: pointer;
	-webkit-transition: stroke-width 0.25s, stroke 0.25s;
	transition: stroke-width 0.25s, stroke 0.25s;
	z-index: 999;
}

.point:hover {
	/*stroke: #ffa747;*/
	stroke-width: 5;
}

.path {
	z-index: 1;
}